@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin rounded-right($radius: 0.5em) {
  //-webkit-border-radius: $radius;
  //-moz-border-radius: $radius;
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}



// CSS animations
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($type, $value) {
  animation-#{$type}: $value;
  -moz-animation-#{$type}: $value;
  -webkit-animation-#{$type}: $value;
}
@mixin transition($what) {
  transition: $what;
  -moz-transition: $what;
  -webkit-transition: $what;
}

@mixin transform($value) {
  transform: $value;
  -moz-transform: $value;
  -webkit-transform: $value;
}

@mixin gradient($color_start, $color_stop) {
  background: #1e5799; /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color_start), color-stop(100%, $color_stop)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $color_start 0%, $color_stop 100%); /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top,    $color_start 0%, $color_stop 100%); /* FF3.6+ */
  background: -o-linear-gradient(top,      $color_start 0%, $color_stop 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,     $color_start 0%, $color_stop 100%); /* IE10+ */
  background: linear-gradient(to bottom,   $color_start 0%, $color_stop 100%); /* W3C */
}

// Horizontal + vertical centering
// Position an element at the center (vertical and horizontal) of its container
// * assumes that the element has a _specified_ height and width (not dynamic)
//
// See: http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/
%dead-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
