@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin rounded-right($radius: 0.5em) {
  //-webkit-border-radius: $radius;
  //-moz-border-radius: $radius;
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}


@mixin main-column() {
  @media #{$medium-up} {
    padding-left: 16%;
    padding-right: 16%;
    // width: rem-calc(1170px);
    // margin: auto 0;
  }
}
