@import "scss/settings";
@import "foundation";
@import "scss/gcl-functions";
@import "scss/entypo";
@import "scss/front_page";
@import "scss/new_user";
@import "scss/base";
@import "scss/messages";
@import "scss/trainer_dashboard";
@import "scss/statistics";
@import "scss/trainingbit_cover";
@import "scss/trainingbit_view";
@import "scss/trainingbit_grid";
@import "scss/trainingbit_edit";
@import "scss/trainingbit_edit_content";
@import "scss/projects";
@import "scss/comments";
@import "scss/skills";
@import "scss/skill_edit";
@import "scss/topics";
@import "scss/login_signup";
@import "scss/profile";
@import "scss/user_progress";

%entypo {
  font-family: 'EntypoRegular';
}
%entypo-social {
  font-family: 'EntypoSocialRegular';
}

.icon {
  @extend %entypo;
  // font-family: Entypo;
  font-size: 2rem;
  font-weight: normal;
  line-height: 0;
  vertical-align: middle;
  // display: inline-block;
  // padding-bottom: 10px;

  &.medium {
    font-size: 4rem;
  }

  &.large {
    font-size: 10rem;
    line-height: 5rem;
    color: $gcl-red;
  }
  &.black {
    color: black;
  }
}
.icon-social {
  @extend %entypo-social;
  // font-family: Entypo;
  font-size: 2rem;
  font-weight: normal;
  line-height: 0;
  vertical-align: middle;
  // display: inline-block;
  // padding-bottom: 10px;

  &.medium {
    font-size: 4rem;
  }

  &.large {
    font-size: 10rem;
    line-height: 5rem;
    color: $gcl-red;
  }
  &.black {
    color: black;
  }
}

// Container for buttons
//   positioned at the top right of the content box
//   should contain button that regard an object (a user, a training bit, a skill)
.page-buttons {

  @extend .hide-for-small-only;

  // To make sure the buttons are on top of e.g. trainingbit-cover
  // See: https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Understanding_z_index/Adding_z-index
  //      https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Understanding_z_index/Stacking_and_float
  z-index: 1;
  @if $page-buttons-overlay == 'floating' {
    position: relative;
    float: right;
  } @else {
    position: absolute;
    right: 0;
  }

  .f-dropdown.topics {
    // padding-bottom: 0.5rem;
    li a {
      line-height: 0;
    }
  }

  a.button {
    display: inline-block;

    &.sorting {
      background-color: $gcl-darkgray;
    }
    &.admin-button {
      background-color: $gcl-blue;
      color: white;
    }
  }
  // position: absolute;
  // top: rem-calc(10px);
  // right: rem-calc(5px);
}

.button {

  padding-left: rem-calc(10px);
  padding-right: rem-calc(10px);
  padding-top: rem-calc(7px);
  padding-bottom: rem-calc(7px);
  font-size: rem-calc(12px);

  display: inline-block;
  text-transform: uppercase;
  background-color: $gcl-red;
}

.button.info {
  background-color: $info-color;
  color: $gcl-darkgray;
}

%blue-button {
  background-color: $gcl-blue;
  color: white;
}

.white {
  color: white;
}

.red {
  color: $gcl-red;
}

@mixin text-colored-background {
  padding-left: rem-calc(5px);
  padding-right: rem-calc(5px);
}

@mixin white-on-red {
  background-color: $gcl-red;
  color: white;
  @include text-colored-background;
}
%white-on-red {
  @include white-on-red;
}
.white-on-red {
  @extend %white-on-red;
}
%text-white-on-red {
  @include white-on-red;
  display: inline-block;
}
h1, h2, h3, h4, h5, h6 {
  &.white-on-red {
    display: inline-block;
  }

  span {
    font-size: inherit;
  }
}


%text-white-on-darkgray {
  background-color: $gcl-darkgray;
  color: white;
  display: inline-block;
  @include text-colored-background;
}

.white-on-darkgray {
  @extend %text-white-on-darkgray;
}

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
span {
  font-size: $rem-base;
}

h1 {
  text-transform: uppercase;
}


#content {
  @include grid-row();
  padding-top: rem-calc(20px);
  padding-bottom: rem-calc(20px);

  position: relative;

  ul li img {
    display: block;
  }
}

.skill-name {
  text-transform: none;
}


// The .message-missing is for messages like
// "No submitted projects yet", "No one has commented"
.message-missing {
  text-align: center;
  color: $gcl-midgray;

  margin-top: 2rem;
  margin-bottom: 1rem;
}

#info-box {
  // Hide by default, shown by Javascript
  display: none;

  background-color: $gcl-browngray;
  padding-top: rem-calc(22px);
  padding-bottom: rem-calc(22px);
  padding-left: rem-calc(30px);

  font-weight: 200;
  margin-bottom: rem-calc(20px);

  p {
    font-weight: 200;
    &:last-of-type { margin-bottom: 0; }
  }

  div.text {
    max-width: rem-calc(600px);
  }

  a.close {
    position: absolute;
    top: rem-calc(10px);
    right: rem-calc(10px);
    margin-top: 1rem;

    padding-left: rem-calc(5px);
    padding-right: rem-calc(5px);
    padding-top: 0;
    padding-bottom: 0.35rem;

    @include rounded(3px);

    line-height: 0.8;
    font-size: 1.9rem;

    background-color: $gcl-red;
    color: white;
  }
}

p.skill-description, p.trainingbit-description {
  font-size: 1.4rem;
  font-weight: 300;
}

.date {
  font-size: 0.85rem;
  font-weight: 100;
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
