@import "normalize";
@import "scss/settings";

// Foundation 5 components
@import
  "foundation/components/grid",
  //"foundation/components/accordion",
  "foundation/components/alert-boxes",
  "foundation/components/block-grid",
  //"foundation/components/breadcrumbs",
  "foundation/components/button-groups",
  "foundation/components/buttons",
  "foundation/components/clearing",
  "foundation/components/dropdown",
  "foundation/components/dropdown-buttons",
  "foundation/components/flex-video",
  "foundation/components/forms",
  //"foundation/components/inline-lists",
  //"foundation/components/joyride",
  //"foundation/components/keystrokes",
  //"foundation/components/labels",
  //"foundation/components/magellan",
  "foundation/components/orbit",
  //"foundation/components/pagination",
  //"foundation/components/panels",
  //"foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  //"foundation/components/range-slider",
  "foundation/components/reveal",
  //"foundation/components/side-nav",
  //"foundation/components/split-buttons",
  //"foundation/components/sub-nav",
  //"foundation/components/switch",
  "foundation/components/tables",
  //"foundation/components/tabs",
  //"foundation/components/thumbs",
  //"foundation/components/tooltips",
  "foundation/components/top-bar",
  "foundation/components/type",
  //"foundation/components/offcanvas",
  "foundation/components/visibility";

@import "scss/gcl-functions";
@import "scss/entypo";
@import "scss/front_page";
@import "scss/new_user";
@import "scss/base";
@import "scss/messages";
@import "scss/trainer_dashboard";
@import "scss/statistics";
@import "scss/trainingbit_cover";
@import "scss/trainingbit_view";
@import "scss/trainingbit_grid";
@import "scss/trainingbit_edit";
@import "scss/trainingbit_edit_content";
@import "scss/projects";
@import "scss/comments";
@import "scss/skills";
@import "scss/skill_edit";
@import "scss/topics";
@import "scss/login_signup";
@import "scss/profile";
@import "scss/user_progress";
@import "scss/imageupload";
@import "scss/user_info_form.scss";
@import "scss/flatpage";
@import "scss/poshytip";

%entypo {
  font-family: 'EntypoRegular';
}
%entypo-social {
  font-family: 'EntypoSocialRegular';
}

.icon {
  @extend %entypo;
  // font-family: Entypo;
  font-size: 2rem;
  font-weight: normal;
  line-height: 0;
  vertical-align: middle;
  // display: inline-block;
  // padding-bottom: 10px;

  &.medium {
    font-size: 4rem;
  }

  &.large {
    font-size: 10rem;
    line-height: 5rem;
    color: $gcl-red;
  }
  &.black {
    color: black;
  }
}
.icon-social {
  @extend %entypo-social;
  // font-family: Entypo;
  font-size: 2rem;
  font-weight: normal;
  line-height: 0;
  vertical-align: middle;
  // display: inline-block;
  // padding-bottom: 10px;

  &.medium {
    font-size: 4rem;
  }

  &.large {
    font-size: 10rem;
    line-height: 5rem;
    color: $gcl-red;
  }
  &.black {
    color: black;
  }
}

// Container for buttons
//   positioned at the top right of the content box
//   should contain button that regard an object (a user, a training bit, a skill)
.page-buttons {

  @extend .hide-for-small-only;

  // To make sure the buttons are on top of e.g. trainingbit-cover
  // See: https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Understanding_z_index/Adding_z-index
  //      https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Understanding_z_index/Stacking_and_float
  z-index: 1;
  @if $page-buttons-overlay == 'floating' {
    position: relative;
    float: right;
  } @else {
    position: absolute;
    right: 0;
  }

  .f-dropdown.topics {
    // padding-bottom: 0.5rem;
    li a {
      line-height: 0;
    }
  }

  a.button {
    display: inline-block;

    &.sorting {
      background-color: $gcl-darkgray;
    }
  }
  // position: absolute;
  // top: rem-calc(10px);
  // right: rem-calc(5px);
}

a.button.admin-button, .top-bar-section li a.button.admin-button {
  background-color: $gcl-blue;
  color: white;

  &:hover {
    background-color: black;
    @include transition(background-color 0.3s);
  }
}

.button {

  padding-left: rem-calc(10px);
  padding-right: rem-calc(10px);
  padding-top: rem-calc(7px);
  padding-bottom: rem-calc(7px);
  font-size: $button-font-size;

  display: inline-block;
  text-transform: uppercase;
  background-color: $gcl-red;

  &:hover {
    background-color: black;
  }
}

.button.info {
  background-color: $info-color;
  color: $gcl-darkgray;
}

form {
  small.error {
    padding: 0.3rem;
    ul {
      margin-left: rem-calc(5px);
      color: white;
      li {
        display: inline;
      }
    }
  }
  input + small.error, label + small.error {
    margin-top: -1rem;
  }
}

%blue-button {
  background-color: $gcl-blue;
  color: white;
}

.white {
  color: white;
}

.red {
  color: $gcl-red;
}
a.red:hover {
  color: black;
}

a:hover {
  h1, h2, h3, h4, h5, h6 {
    color: $gcl-red;
  }
}

@mixin text-colored-background {
  padding-left: rem-calc(5px);
  padding-right: rem-calc(5px);
}

@mixin white-on-red {
  background-color: $gcl-red;
  color: white;
  @include text-colored-background;
}
%white-on-red {
  @include white-on-red;
}
.white-on-red {
  @extend %white-on-red;
}
%text-white-on-red {
  @include white-on-red;
  display: inline-block;
}
h1, h2, h3, h4, h5, h6 {
  &.white-on-red {
    display: inline-block;
  }

  span {
    font-size: inherit;
  }
}


%text-white-on-darkgray {
  background-color: $gcl-darkgray;
  color: white;
  display: inline-block;
  @include text-colored-background;
}

.white-on-darkgray {
  @extend %text-white-on-darkgray;
}

.bold {
  font-weight: bold;
}
.notice {
  color: lighten($gcl-midgray, 20%);
  font-size: rem-calc(12px);
}
a.notice:hover {
  color: $gcl-red;
}

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";

h1 {
  text-transform: uppercase;
}


#content {
  @include grid-row();
  padding-top: rem-calc(20px);
  padding-bottom: rem-calc(20px);

  position: relative;

  ul li img {
    display: block;
  }
}

.skill-name {
  text-transform: none;
}


// The .message-missing is for messages like
// "No submitted projects yet", "No one has commented"
.message-missing {
  text-align: center;
  color: $gcl-midgray;

  margin-top: 2rem;
  margin-bottom: 1rem;
}

#info-box {
  // Hide by default, shown by Javascript
  display: none;

  background-color: $gcl-browngray;
  padding-top: rem-calc(22px);
  padding-bottom: rem-calc(22px);
  padding-left: rem-calc(30px);

  font-weight: 200;
  margin-bottom: rem-calc(20px);

  p {
    font-weight: 200;
    &:last-of-type { margin-bottom: 0; }
  }

  div.text {
    max-width: rem-calc(600px);
  }

  a.close {
    position: absolute;
    top: rem-calc(10px);
    right: rem-calc(10px);
    margin-top: 1rem;

    padding-left: rem-calc(5px);
    padding-right: rem-calc(5px);
    padding-top: 0;
    padding-bottom: 0.35rem;

    @include rounded(3px);

    line-height: 0.8;
    font-size: 1.9rem;

    background-color: $gcl-red;
    color: white;
  }
}

p.skill-description, p.trainingbit-description {
  font-size: 1.4rem;
  font-weight: 300;
}

.delete-dropdown {
  padding: 0.5rem;
  font-size: 0.9rem;
}

.button.like, .button.unlike {
  padding-top:    rem-calc(10px);
  padding-bottom: rem-calc(10px);

  span.heart {
    margin-left: - rem-calc(5px);
    margin-right: rem-calc(5px);
  }
}

#like-count {
  $line_height: 1.0em;
  line-height: $line_height;
  height:      $line_height;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 0.09rem;

  div {
    position: relative;
    &.like {
      top: 0;
    }
    &.unlike {
      top: -$line_height;
    }
  }
}


/******** GLOBAL CHANGE LAB 3-COLUMN LAYOUT *********/
div.gcl-column {
  position: relative;
  float: left !important; // Foundation 5 grabs ALL elements which have class
                          // names "column" in their name (absolutely crazy!)
  width: 100%;

  // @media #{$medium-only} {
  @media only screen and (min-width:30em){
    width: 47.5%;
    margin-left: 5%;
    float: left;

    &:first-of-type {
      margin-left: 0;
    }
  }

  // @media #{$large-up} {
  @media only screen and (min-width:45em){
    width: 30%; // width: 300px; // the row width is 1000px, so there
    margin-left: 5%; // margin-left: 50px;
    float: left;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

div.gcl-column2 {
  width: 100%;

  @media only screen and (min-width:30em){
    width: 100%;
  }

  @media only screen and (min-width:45em){
    width: 65%; // width: 650px = the width of two column plus the margin in
                // between them
    margin-left: 5%; // margin-left: 50px;
  }


  float: left;

  &:first-of-type {
    margin-left: 0;
  }
}

.shares-overview-header {
  text-transform: uppercase;
}


.metadata-fat {
  height: $metadata_height;
  line-height: $metadata_height;
  margin-top: rem-calc(10px);
  font-size: rem-calc(12px);

  overflow-y: hidden; // In some layouts the icons will pushed out of the
                      // .metadata-fat box and onto a new line. In that case we
                      // hide the icons that are overflowing.

  .profile-picture {
    height: 100%;
    width: $metadata_height;
    // max-width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  &>div {
    height: $metadata_height;
    vertical-align: middle;
  }

  .text {
    line-height: $metadata_height / 2;
    font-size: rem-calc(12px);
    display: inline-block;

    .author {
      font-size: rem-calc(16px);
      font-weight: 700;
      // font-weight: bold;
    }

    .date {
      font-weight: 200;
      font-size: rem-calc(12px);
    }

    span {
      color: black;
    }
    a {
      font-weight: bold;
    }
  }
  .icons {
    float: right;
    text-align: right;
    font-size: rem-calc(12px);
    line-height: $metadata_height;
  }
}

// Used to show metadata numbers in `trainingbit_cover` and `skill_view`
.metadata-with-like-button {
  float: right;

  >.icon {
    font-size: rem-calc(40px);
    //margin-right: rem-calc(5px);
  }
  .count {
    font-size: rem-calc(13px); // 12px?
    margin-right: rem-calc(10px);
  }
}

// Modal that congratulates the user on completing a training bit and suggests
// other training bits to work on.
// Currently shown on the `project_view.html` page.
#trainingbit-completed-modal {
  h2, h3 {
    text-transform: none;
    display: inline-block;
  }
  .trainingbit-title {
    @extend %text-white-on-red;
    margin-left: rem-calc(7px);
    margin-right: rem-calc(7px);
  }
  img.skill-flag {
    height: 2.5rem;
    margin-left: 0.2rem;
  }
}

// Used for flagging and deleting projects and comments
.actions {
  display: inline-block;
  vertical-align: middle;

  text-transform: uppercase;
  font-size: rem-calc(12px);

  a {
    // margin-left: rem-calc(10px);
    &:focus { visibility: visible; }
  }
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
