



// Sticky footer
// http://compass-style.org/reference/compass/layout/sticky_footer/
html, body {
  height: 100%;
}
// $fat-footer-height: rem-calc(300px);
// $static-footer-height: rem-calc(200px);
// $footer-height: $fat-footer-height + $static-footer-height;
#sticky-footer-wrap {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  // margin-bottom: -$footer-height;
}
footer {
  clear: both;
  position: relative;
  // height: $static-footer-height;
}
#sticky-footer-push {
  // height: $footer-height;
}

body.trainer-interface {
  background-color: $gcl-lightgray;

  header {
    background-color: $gcl-darkgray;

    a#gcl-logo {
      background-image: url(/static/images/gcl-logo-white.png);
    }
    nav {
      ul li a {
        background-color: white;
        color: $gcl-midgray;

        &:hover {
          background-color: $gcl-midgray;
          color: white;
        }

        .update-count {
          color: white;
        }
      }

    }

  }

  footer {
    .fat-footer {
      background-color: $gcl-midgray;
      color: white;

      h6, a {
        color: white;
      }
    }

    background-color: $gcl-darkgray;
    #footer-links {
      a, h6 {
        color: white;
      }
    }
  }
}

header {
  .row {
    max-width: $row-width; // row in <header> in Foundation 5 don't have the
                           // default max-width, so we enforce it
  }

  // Have some space
  padding-top: 1rem;
  padding-bottom: 1rem;

  // Background
  background-color: $gcl-lightgray;
  // background-image: url(../../../static/images/top-football-guy-flattened.png);
  background-image: url(../../../static/images/top-football-guy.png);
  background-repeat: no-repeat;
  background-position: 75% 0%;
  // height: rem-calc(90px);
  height: 100%;

  // Logo
  // img#gcl-logo {
  a#gcl-logo {
    img { visibility: hidden; }
    display: block;
    float: left;

    // PNG size: 190x43 (WxH)
    width: rem-calc(110px);
    height: rem-calc(25px);

    background-image: url(/static/images/gcl-logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  // Nav buttons
  nav {
    clear: both;
    width: 100%;
    padding-top: 0.7rem;
    ul {
      list-style: none;
      margin-bottom: 0; // override Foundation 5

      li {
        margin-right: rem-calc(18px);
        display: inline-block;

        @media #{$small-only} {
          display: block;
        }


        a {
          color: white;
          background-color: $gcl-darkgray;
          display: block;

          // Highlight current page
          &.current, &:hover {
            background-color: $gcl-midgray !important;
            color: white;
          }

          @include rounded(rem-calc(2px));
          font-weight: bold;
          text-transform: uppercase;

          $vertical-padding: rem-calc(22px);
          $horizontal-padding: rem-calc(22px);

          &, & span {
            font-size: 0.75rem; // gets overridden by <span> font-size
          }

          @media #{$small-only} {
            $horizontal-padding: rem-calc(10px);
            display: inline-block;
            width: auto;
            // HACK: foundation **adds** padding when going to small screens?
            //       wtf?
            padding-top: 0;
            padding-bottom: 0;
          }
          line-height: rem-calc(35px);
          padding-right: $horizontal-padding;
          padding-left:  $horizontal-padding;

          .update-count {
            display: inline-block;
            background-color: $gcl-red;
            margin-left: $horizontal-padding - rem-calc(5px);
            margin-right: -$horizontal-padding;
            padding-right: 15px;
            padding-left: 15px;
            @include rounded-right(rem-calc(2px));
          }
        }
      }
    }
  }

  // User buttons (logged in)
  div#logged-in-menu, div#trainer-dashboard-button, div#admin-dashboard-button {
    float: right;

    a.button {
      background-color: white;
      padding-left: rem-calc(10px);
      padding-right: rem-calc(10px);
      padding-top: rem-calc(7px);
      padding-bottom: rem-calc(7px);
      font-size: rem-calc(12px);
      color: $gcl-darkgray;
      text-transform: none;
      margin-bottom: 0;
    }
  }
  div#trainer-dashboard-button, div#admin-dashboard-button{
    margin-right: rem-calc(10px);

    a.button {
      background-color: $gcl-blue;
      color: white;
    }
  }

}

footer {
  .fat-footer {
    // height: 10rem;
    background-color: #F1F2EE;
    padding-top: rem-calc(15px);

    font-size: rem-calc(12px);

    a { font-weight: bold; }

    .text {
      padding-top: rem-calc(5px);
    }
    .likes-n-comments {
      ul {
        list-style: none;
        font-size: rem-calc(12px);
        margin-left: 0;
        li {
          margin-bottom: rem-calc(5px);
        }
      }
    }
    .recently-shared {
      div.row {
        div:first-child {
          height: 3.5rem;
          line-height: 3.5rem;
          // vertical-align: center;
        }
        margin-bottom: rem-calc(10px);
        height: 3.5rem;
      }
    }
  }

  #footer-links {
    width: 50%;
    margin-left: 0;

    font-size: 0.7rem;
    // font-weight: 100;
    a {
      display: block;
      color: $gcl-midgray;
      font-family: arial, sans-serif;
    }

    h6 {
      text-transform: none;
      font-size: 0.7rem;
      font-family: $body-font-family;
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  background-color: $gcl-lightgray;
  // background-image: url(../../../static/images/top-football-guy-flattened.png);
  // background-image: url(../../../static/images/top-football-guy.png);
  background-repeat: no-repeat;
  background-position: 75% 0%;
  // height: rem-calc(90px);
  // height: 100%;


}
