

.comment-list {
  .headline {
    h6 {
      @extend %white-on-darkgray;
      margin-right: 0.5rem;
      text-transform: none;
    }
    .date {
      line-height: $h6-font-size;
      font-size: 0.75rem;
      font-weight: 100;
    }
    .buttons {
      margin-left: 1rem;
      display: inline-block;
      div { display: inline-block; }
      a.button.flag {
        background-color: $gcl-midgray;
      }
      a.button.delete {
        background-color: $gcl-darkgray;
      }
    }
  }
  .f-dropdown {
    h6 {
      display: block;
      margin: 0;
    }

  }

}
