

#comment-list {
  .headline {
    h6 {
      @extend %white-on-darkgray;
      margin-right: 0.5rem;
      text-transform: none;
    }
    .date {
      line-height: $h6-font-size;
      font-size: 0.75rem;
      font-weight: 100;
    }
  }
  .f-dropdown {
    h6 {
      display: block;
      margin: 0;
    }

  }


}

.comment-list {
  .replies {
    // background-color: $gcl-lightgray;
    margin-left: rem-calc(50px);

    .comment {
      background-color: #EEE;
      margin-bottom: rem-calc(8px);
      margin: 0;
    }
  }
}

.comment {
  border-top: 1px solid $gcl-lightgray;
  &:last-child {
    border-bottom: 1px solid $gcl-lightgray;
  }


  div.headline {
    margin-top: rem-calc(5px);

    img {
      display: inline-block;
      height: rem-calc(20px);
      margin-right: 0.3rem;
    }
    .date {
      // line-height: $h6-font-size;
      display: inline-block;
    }
    .author {
      display: inline-block;
      margin-right: 0.3rem;
    }
  }

  p.content {
    // font-size: rem-calc(13px);
    font-size: 0.9rem;
    font-weight: 200;
    margin-top: rem-calc(5px);
    margin-bottom: 0;
  }

  div.from {
    text-align: right;
    font-size: rem-calc(11px);
    color: $gcl-midgray;
    margin-top: rem-calc(5px);

    h6 {
      font-size: rem-calc(11px);
    }
  }

  .moderation {
    float: right;
    display: inline-block;
    font-size: rem-calc(12px);

    a { color: $gcl-lightgray; }
  }


  &:hover a.reply {
    visibility: visible;
  }
  a.reply {
    display: block;
    visibility: hidden;
    // text-align: right;
    color: $gcl-red;
    padding-right: rem-calc(3px);
    padding-bottom: rem-calc(3px);
    padding-top: rem-calc(10px);
    font-size: rem-calc(12px);
  }
}

.comment-form-container {
  margin-top: 1rem;

  &.reply {
    margin-left: 3rem;
  }
}

.comment-form {

  textarea, button {
    display: inline-block;
    margin-bottom: 0;
  }
  textarea {
    width: 80%;
  }
  button {
    vertical-align: bottom;
    padding: rem-calc(7px);
    margin-bottom: 0.5rem;
    background-color: $gcl-midgray;
  }
}
