// We want the peace guy-image to overflow vertically out of the box
// but he should not force the scrollbar horizontally on small screens
// overflow-y: visible;
// overflow-x: hidden;
// This doesn't work in most browsers though: http://stackoverflow.com/a/11163865/118608
// ... so we hack it
div#greeter-container {
  position: relative;
  overflow-x: hidden;
  min-height: rem-calc(369px);
  margin-bottom: 1rem;

  img {
    position: absolute;
    left: rem-calc(413px);
    bottom: 0;
    height: rem-calc(369px);
  }


  div#front-page-greeter {
    margin-top: rem-calc(17px);

    background-color : $gcl-darkgray;
    padding-left: rem-calc(42px);
    padding-right: rem-calc(42px);
    padding-bottom: 1rem;
    min-height: rem-calc(352px);

    .announcement {
      text-transform: uppercase;
      color: white;
      font-family: 'Allerta Stencil', sans-serif;
      font-size: rem-calc(55px);
      line-height: 1.15;
      margin-bottom: rem-calc(20px);

      margin-top: rem-calc(50px);
      max-width: rem-calc(400px);
      float: left;
    }
    .info {
      font-size: rem-calc(20px);
      color: white;
      line-height: 2rem;

      margin-top: rem-calc(45px);
      @media #{$large-up} {
        float: right;
      }
      max-width: rem-calc(292px);

      strong {
        display: block;
      }
    }

    .button.join {
      text-transform: uppercase;
      font-size: rem-calc(30px);
      font-weight: bold;

      margin-top: 2rem;
      width: 100%;

      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

}

div#front-page-cols {
  margin-bottom: 2rem;

  .columns:first-child {
    border-left: none;
  }
  .columns {
    border-left: 1px solid #eee;

    text-align: center;
    min-height: 23rem;
    padding-left: 2rem;
    padding-right: 2rem;
    // position: relative;

    .icon {
      margin: 1rem;
    }

    h1 {
      margin: 0 auto;
      width: 60%;
    }
    p {
      font-weight: 100;
      font-size: 1.1rem;
      line-height: 1.4rem;
      max-width: 15rem;
      margin-left: auto;
      margin-right: auto;
    }
    .button {
      // position: absolute;
      bottom: 0;
      margin: 0 auto;
      font-size: 0.7rem;
      // margin-bottom: 0;
      // margin-left: auto;
      // margin-right: auto;
    }
  }
}

