div#front-page-greeter {
  background-color : $gcl-darkgray;
  padding-top: rem-calc(30px);
  padding-left: rem-calc(42px);
  padding-right: rem-calc(42px);
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  background-image: url('/static/images/front-page-people.png');
  background-position: bottom right;
  background-repeat: no-repeat;

  h1, h2, p {
    color: white;
    margin: 0;
  }
  h1 {
    background-color: $gcl-red;
    font-size: rem-calc(37);
    @extend %text-white-on-red;
  }
  h2 {
    @extend %h1;
  }
  p {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 2rem;
    margin-top: 0.8rem;
    width: 50%;
    line-height: 2.3rem;
  }
  a.button.join {
    margin-top: 1rem;
    padding: 1rem;
    font-size: rem-calc(14px);
  }
}

div#front-page-cols {
  margin-bottom: 2rem;

  .columns:first-child {
    border-left: none;
  }
  .columns {
    border-left: 1px solid #eee;

    text-align: center;
    min-height: 23rem;
    padding-left: 2rem;
    padding-right: 2rem;
    // position: relative;

    .icon {
      margin: 1rem;
    }

    h1 {
      margin: 0 auto;
      width: 60%;
    }
    p {
      font-weight: 100;
      font-size: 1.1rem;
      line-height: 1.4rem;
      max-width: 15rem;
      margin-left: auto;
      margin-right: auto;
    }
    .button {
      // position: absolute;
      bottom: 0;
      margin: 0 auto;
      font-size: 0.7rem;
      // margin-bottom: 0;
      // margin-left: auto;
      // margin-right: auto;
    }
  }
}

