
div#new-user-greeter {
  background-color : $gcl-darkgray;
  padding-top: rem-calc(30px);
  padding-left: rem-calc(42px);
  padding-right: rem-calc(42px);
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  h1 {
    text-transform: none;
    font-size: 2.2rem;
  }

  p {
    color: white;
  }
  .carousel {
    h2 {
      @extend .red;
    }
    li {
      $pad: rem-calc(30px);
      padding-left: $pad;
      padding-right: $pad;
    }
    height: rem-calc(230px);
  }
}


#topics-select {
  ul {
    list-style: none;
    li {
      display: inline-block;
      width: 30%;
      label {
        line-height: 1;
      }
      input[type="checkbox"] {
        margin: 0;
      }
    }
  }
  button { float: right; }
}

.centered-message {
  text-align: center;
}

#new-user-suggestions {
  @include grid-row();

  h1 {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
