
div#new-user-greeter {
  $padding_horizontal: rem-calc(42px);
  $padding_bottom: 1rem;

  background-color : $gcl-darkgray;
  padding-top: rem-calc(30px);
  padding-left:  $padding_horizontal;
  padding-right: $padding_horizontal;
  padding-bottom: $padding_bottom;
  margin-bottom: 1rem;

  h1 {
    text-transform: none;
    font-size: 2.2rem;
  }

  p {
    color: white;
  }
  .carousel {
    h2 {
      @extend .red;
    }
    li {
      $pad: rem-calc(30px);
      padding-left: $pad;
      padding-right: $pad;
    }
    height: rem-calc(230px);
  }

  .new-user-progress {
    font-size: $h1-font-size;
    color: $gcl-midgray;
    text-align: center;

    span {
      font-size: inherit;
    }
    .next {
      position: absolute;
      right: 0;
      margin-right: $padding_bottom;
      &.large {
        bottom: 2rem;
      }
      // float: right;
    }
  }

  label {
    color: white;
  }

  select {
    color: $gcl-midgray;
  }

}





#topics-select {
  ul {
    list-style: none;
    li {
      display: inline-block;
      width: 30%;
      label {
        line-height: 1;
      }
      input[type="checkbox"] {
        margin: 0;
      }
    }
  }
  button { float: right; }
}

.centered-message {
  text-align: center;
}

#new-user-suggestions {
  @include grid-row();

  h1 {
    // text-align: center;
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  div.see-more {
    text-align: center;
    padding-top: rem-calc(10px);
  }
}

#start-using-gcl {
  font-size: rem-calc(14px);
  padding: 1rem;
  margin-right: 0.5rem !important;
  bottom: 1.5rem;
}
