
body.user-profile {
}


#profile-bar {
  background-color: $gcl-darkgray;

  $height: rem-calc(150px);
  height: $height;

  div.columns {
    height: 100%;
  }


  h1 {
    color: $gcl-red;
  }

  p.description {
    &.edit {
      color: $gcl-lightgray;
    }
    color: white;
  }

  div#profile-picture {
    // background-color: white;
    height: 85%;
    overflow: hidden;
    @extend %dead-center;

    margin-left: $column-gutter / 2;
    margin-right: $column-gutter / 2;


  }
}

.progress-small-headline {
  text-transform: uppercase;
}

hr.large {
  margin-bottom: rem-calc(3px);
  border-bottom: rem-calc(3px) solid $gcl-lightgray;
}

.empty-message {
  height: 3rem;
  width: 100%;
  position: relative;

  div {
    @extend %dead-center;
    width: 100%;
    text-align:center;
    height: 2rem;
    color: $gcl-midgray;
  }
}

.skill-progress {
  // @extend %dead-center;
  padding-left: rem-calc(1px);

  .progress {
    height: 1rem;
    background-color: $gcl-lightgray;
    // span.meter { background-color: $gcl-red; }
  }
}
