
body.user-profile {
  h1, h2, h3, h4, h5, h6 {
    text-transform: none;
  }
}

#profile-bar {
  background-color: $gcl-darkgray;

  $height: rem-calc(150px);
  height: $height;

  div.columns {
    height: 100%;
  }


  h1 {
    color: $gcl-red;
  }

  p.description {
    &.edit {
      color: $gcl-lightgray;
    }
    color: white;
  }

  div.dropzone {

    // I used this: http://stackoverflow.com/a/21849177/118608
    &:after {
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
    }

    input#fileupload {
      display: none;
    }

    div.progress {
      @extend %dead-center;
      width: 85%;
      height: 10px;
    }

    div.hover-visual {
      position: absolute;
      width: 100%;
      height: 100%;

      // Center the + sign
      line-height: $height * 0.85;
      text-align: center;

      // background-color: $gcl-lightgray;

      .icon {
        color: $gcl-midgray;
        font-size: 9rem;
      }

      // All about transparency:
      // http://stackoverflow.com/questions/806000/is-it-possible-to-make-semi-transparent-background-but-not-text-in-css
      background-color: rgba(255,255,255, 0.5);
      @include transition(opacity 0.6s);
      opacity: 0;

      // &:hover {
      &.hover {
        @include transition(opacity 0.6s);
        opacity: 1;
        // opacity: 1;
      }
    }

  }

  div#profile-picture {
    // background-color: white;
    height: 85%;
    overflow: hidden;
    @extend %dead-center;

    margin-left: $column-gutter / 2;
    margin-right: $column-gutter / 2;


  }
}


#wordcloud {
  height: 100%;
  .centering {
    @extend %dead-center;
    div {
      margin-bottom: rem-calc(5px);
    }
  }
  a {
    background-color: $gcl-lightgray;
    color: black;
    margin-right: rem-calc(10px);
  }
}

.trainingbit-count {
  text-align: center;
  color: $gcl-midgray;
}
