
body.user-profile {
}


#profile-bar {

  $height: rem-calc(150px);
  height: $height;
  position: relative;

  div.profile-picture {
    float: left;
    background-size: cover;
    background-position: center;
    height: 85%;
    width: $height;
    overflow: hidden;

    margin-right: rem-calc(20px);
  }

  h1 {
    color: $gcl-red;
    margin-top: - rem-calc(5px);
    margin-bottom: rem-calc(5px);
  }

  span.country {
    font-weight: bold;
    font-size: rem-calc(12px);
    text-transform: uppercase;
    margin-bottom: 0.5rem; //-calc(5px);
    display: inline-block;
  }

  p.description {
    // color: $gcl-midgray;
    font-size: 0.9rem;
    font-weight: 200;
  }

}

.progress-small-headline {
  text-transform: uppercase;
}

hr.large {
  margin-bottom: rem-calc(3px);
  border-bottom: rem-calc(3px) solid $gcl-lightgray;
}

.section-title {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.empty-message {
  height: 6rem;
  color: $gcl-midgray;
}

.skill-progress {
  // @extend %dead-center;
  padding-left: rem-calc(1px);

  .progress {
    height: 1rem;
    background-color: $gcl-lightgray;
    // span.meter { background-color: $gcl-red; }
  }
}

.profile-actions {
  float: left;

  font-size: rem-calc(12px);
  line-height: rem-calc(29px);
  //height: 
  vertical-align: middle;

  a {
    margin-right: rem-calc(7px);
  }

}
