
#project-form {
  input.title, textarea {
    // border: none;
    border: 1px $gcl-midgray solid;
  }
  input.title {
    margin-bottom: 1rem;
  }
  textarea {
    height: 6.5rem;
  }
  @media #{$medium-up} {
    input.title {
      width: 45%;
    }
    textarea {
      width: 60%;
    }
  }
}

h3.shared-by-others {
  text-transform: none;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.project {
  h6.title {
    @extend %text-white-on-darkgray;
    margin-right: 0.5rem;
    text-transform: none;
    font-size: 1rem;
  }
  .date {
    line-height: $h6-font-size;
    // font-size: 0.75rem;
    font-size: 0.85rem;
    font-weight: 100;
  }
  .author {
    font-weight: bold;
    color: $gcl-darkgray;
  }
  img.project-image {
    // max-width:  rem-calc(250px);
    // max-height: rem-calc(250px);
    width: 100%;
  }
  div.profile-image {
    display: inline-block;
    margin-right: 0.3rem;
    @include rounded(0.2rem);
    height: 1.9rem;
    width: 1.8rem;
    background-color: $gcl-lightgray;
    color: white;
    font-size: 2rem;
    line-height: 1.5rem;
    .icon {
      // line-height: 1.7rem;
      font-size: 3rem;
    }
  }
}

