
#project-form {
  input.title, textarea {
    // border: none;
    // border: 1px $gcl-midgray solid;
  }
  input.title {
    margin-bottom: 1rem;
  }
  textarea {
    height: 6.5rem;
  }
  @media #{$medium-up} {
    input.title {
      // width: 45%;
    }
    textarea {
      // width: 60%;
    }
  }

  .share-button {
    // float: right;
    font-size: rem-calc(15px);
    background-color: $gcl-red;
    margin-top: rem-calc(15px);
  }

  div.buttons {
    a.button {
      vertical-align: top;
    }

    .upload-button {
      position: relative;
      overflow: hidden;
      display: inline-block;
    }
    .upload-button input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }

}


h3.shared-by-others {
  text-transform: none;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

#project-list {
  max-width: rem-calc(650px);
}

.project {
  margin-bottom: 1rem;

  h6.title {
    @extend %text-white-on-darkgray;
    margin-right: 0.5rem;
    text-transform: none;
    font-size: 1rem;
  }

  div.content {
    position: relative;
    max-height: rem-calc(300px);
    overflow-y: hidden;
    margin-bottom: 1rem;

    div.hider {
      // position: absolute;
      // width: 100%;
      height: 2rem;
      // bottom: 0;
      text-align: center;
      line-height: 2rem;

      display: none;
    }

    div.shower {
      position: absolute;
      width: 100%;
      height: 2rem;
      bottom: 0;
      text-align: center;
      line-height: 2rem;
      @include gradient(rgba(255,255,255,0), rgba(255,255,255,1.0));

    }
    div.shower, div.hider {
      a {
        padding: rem-calc(5px);
        display: inline-block;
      }
    }
  }

  // override Foundation 5
  div.carousel {
    li {
      margin-right: 0;
    }
  }

  img.project-image {
    // max-width:  rem-calc(250px);
    // max-height: rem-calc(250px);
    width: 100%;
  }
  div.profile-image {
    display: inline-block;
    margin-right: 0.3rem;
    @include rounded(0.2rem);
    height: 1.9rem;
    width: 1.8rem;
    background-color: $gcl-lightgray;
    color: white;
    font-size: 2rem;
    line-height: 1.5rem;
    .icon {
      // line-height: 1.7rem;
      font-size: 3rem;
    }
  }
}

.project-column {
  float: none !important; // overrule the darkness that is Foundation 5
  border-bottom: 1px $gcl-lightgray solid;

  .date {
    display: block;
    font-weight: bold;
  }

  .content p {
    font-size: rem-calc(13px);
  }

  .metadata {
    height: 1.7rem;
    line-height: 1.7rem;
  }

  .trainingbit-name {
    @extend %text-white-on-red;
    float: right;
    display: inline-block;
  }
}
