
body.skills-overview {
  .page-buttons {
    .button {
      color: white;
      background-color: $gcl-darkgray;
    }
  }
}

body.skill-view {
  #content {
    &>hr {
      padding-top: 1rem;
      border-top: none;
      border-bottom: 1px $gcl-lightgray solid;
    }
  }
}

#skill-cover {


  .skill-headline{
    $height: 6.3rem;
    img {
      display: inline-block;
      height: $height;
      margin-right: 0.5rem;
    }
    .text-container {
      display: inline-block;
      vertical-align: middle;
    }
    h1 {
      display: inline-block;
      margin-bottom: 0;
      // line-height: 0.9;
    }
    .metadata {
      .count {
        font-size: rem-calc(12px);
      }
    }
  }

  .skill-description {
    max-width: 50rem;
  }

}

/***************/
/* SKILL LISTS */
/***************/
.skill-list-view {
  $skill-height: rem-calc(160px);

  li {
    height: $skill-height;
    margin-bottom: 2rem;
    // padding-right: 1rem;


    &>div {
      display: inline-block;
      height: $skill-height;
      float: left;
      padding:0;


      &.skill-icon {
        width: 10%;
        margin-right: rem-calc(10px);
        // img {
          // margin-right: auto;
          // width: 50%;
        // }
      }

      &.description {
        width: 85%;
        font-weight: 200;

        a:hover h2 {
          color:black;
        }

        p {
          font-size: 0.9rem;
          font-weight: 200;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  // Those big-ass fonts on skills
  div.description h2 {
    font-size: rem-calc(23px);
    text-transform: uppercase;
    line-height: 1;
    margin-top: 0;
    margin-bottom: rem-calc(3px);
  }
}

// Shared between training bits and skills
.skill-list-view, li.trainingbit {
  position: relative;

  h2, h6 {
    color: $gcl-red;
    margin-bottom: 0;
  }

  div.info {
    width: 100%;
    color: $gcl-darkgray;
    background-color: white;

    font-size: 0.6rem;

    hr {
      margin-top:    0.3rem;
      margin-bottom: 0.3rem;
    }

  }
}

.trainingbit-count {
  font-size: 0.7rem;
  color: #9E9E9E;
}


.skill-list-small {

  $row-height: 4rem;

  .row {
    margin-bottom: rem-calc(5px);
  }

  .image-column:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
  }

  .image-column {
    @include grid-column(2);
    text-align: center;
    height: $row-height;
    // line-height: $row-height;
    vertical-align: middle;
    font: 0/0 a;         /* remove the gap between inline(-block) elements */


    img {
      max-height: $row-height;
      display: inline-block;
    }
  }
  .name-column {
    @include grid-column(10);
    height: $row-height;

    .skill-name {
      line-height: $row-height - 0.5rem;
      margin: 0;
    }
  }

  .count {
    text-align: center;
    font-size: 0.75rem;
  }
}

/****** SKILL GRID *******/
ul.skills-grid {
  margin: 0; // Foundation 5 !%^^&&!%!^&%!^ (sets margin-left on <ul>s even
             // though they are block-grid

  @media #{$small-up} {
    @include block-grid(1, $padding-size, true);
  }
  @media #{$medium-up} {
    @include block-grid(3, $padding-size, true);
  }
  @media #{$large-up} {
    @include block-grid(4, $padding-size, true);
  }
  @media #{$xlarge-up} {
    @include block-grid(5, $padding-size, true);
  }

  &.medium {
    // display: inline-block !important;
    // width: 20rem;
    @media #{$small-up} {
      @include block-grid(1, $padding-size, true);
    }
    @media #{$medium-up} {
      @include block-grid(3, $padding-size, true);
    }
    @media #{$large-up} {
      @include block-grid(3, $padding-size, true);
    }
    @media #{$xlarge-up} {
      @include block-grid(3, $padding-size, true);
    }
  }

  .image-column {
    @include grid-column(4);
  }
  .name-column {
    @include grid-column(8);
    padding-left: 0;
    h3 {
      margin-top: -5px;
      // line-height: 1.8rem;
    }
  }
}
