
body.skills-overview {
  .page-buttons {
    .button {
      color: white;
      background-color: $gcl-darkgray;
    }
  }
}

body.skill-view {
  #content {
    &>hr {
      padding-top: 1rem;
      border-top: none;
      border-bottom: 1px $gcl-lightgray solid;
    }
  }
}

#skill-cover {

  img {
    float: left;
    margin-right: 0.5rem;
  }

}

/***************/
/* SKILL LISTS */
/***************/
.skill-list-view {
  $skill-height: rem-calc(160px);

  li {
    height: $skill-height;
    margin-bottom: 2rem;
    // padding-right: 1rem;

    &>div.columns {
      height: $skill-height;
      float: left;
      padding:0;

      img {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

      &.description {
        padding-left: 0.5rem;
        font-weight: 200;
        .info {
          padding-left: 0.5rem;
        }

        p {
          font-size: 0.9rem;
          font-weight: 200;
        }
      }
    }
  }

  // Those big-ass fonts on skills
  div.description h2 {
    font-size: rem-calc(23px);
    text-transform: uppercase;
    line-height: 1;
    margin-top: 0;
    margin-bottom: rem-calc(3px);
  }
}

// Shared between training bits and skills
.skill-list-view, li.trainingbit {
  position: relative;

  h2, h6 {
    color: $gcl-red;
    margin-bottom: 0;
  }

  div.info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $gcl-darkgray;
    background-color: white;

    font-size: 0.6rem;

    hr {
      margin-top:    0.3rem;
      margin-bottom: 0.3rem;
    }

    .metadata {
      font-size: 0.7rem;
      color: #9E9E9E;
    }
  }
}

.skill-list-small {

  $row-height: 4rem;

  .row {
    margin-bottom: rem-calc(5px);
  }

  .image-column:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
  }

  .image-column {
    @include grid-column(2);
    text-align: center;
    height: $row-height;
    // line-height: $row-height;
    vertical-align: middle;
    font: 0/0 a;         /* remove the gap between inline(-block) elements */


    img {
      max-height: $row-height;
      display: inline-block;
    }
  }
  .name-column {
    @include grid-column(10);
    height: $row-height;

    .skill-name {
      line-height: $row-height - 0.5rem;
      margin: 0;
    }
  }

  .count {
    text-align: center;
    font-size: 0.75rem;
  }
}
