
body.skills-overview {
  .page-buttons {
    .button {
      color: white;
      background-color: $gcl-darkgray;
    }
  }
}

body.skill-view {
  #content {
    &>hr {
      padding-top: 1rem;
      border-top: none;
      border-bottom: 1px $gcl-lightgray solid;
    }
  }
}

#skill-cover {

  img {
    float: left;
    margin-right: 0.5rem;
  }

}

.skill-list-view {
  $skill-height: rem-calc(160px);

  li {
    height: $skill-height;
    margin-bottom: 2rem;


    &>div.columns {
      height: $skill-height;
      float: left;
      padding:0;

      &.description {
        padding-left: 0.5rem;
        font-weight: 200;
        .info {
          padding-left: 0.5rem;
        }

        p {
          font-weight: 200;
        }
      }
    }
  }

  // Those big-ass fonts on skills
  div.description h2 {
    font-size: rem-calc(23px);
  }
}

// Shared between training bits and skills
.skill-list-view, li.trainingbit {
  position: relative;

  h2, h6 {
    color: $gcl-red;
    margin-bottom: 0;
  }

  div.info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $gcl-darkgray;
    background-color: white;

    font-size: 0.6rem;

    hr {
      margin-top:    0.3rem;
      margin-bottom: 0.3rem;
    }

    .metadata {
      font-size: 0.7rem;
      color: #9E9E9E;
    }
  }
}
