#connection-status {
  display: none;
}
#save-button {
  .status {
    text-transform: none;
    font-size: rem-calc(10px);
  }
}

#trainingbit_content_json {
  display: hidden;
}

.trainingbit-content-editor {
  margin-bottom: 3rem;

  &.act-section {
    background-color: $gcl-lightgray;
  }

  // &.share-section {
  //   .handle { display: none; }
  //   .delete { display: none; }
  // }

  &>ul {
    margin-left: 0;

    &>li {
      list-style: none;
    }
  }
}


.input-field-row {
  position: relative;

  .text-field {
    min-height: 5rem;
    p {
      margin-bottom: 0.5rem;
    }
  }

  .handle, .delete, .edit {
    height: 100%;
    margin-bottom: 0; // to override the .input-row > * { margin ... }
    .icon {
      width: 7rem;
      height: 1rem;
      @extend %dead-center;
    }
  }

  .handle {
    // Tell the user that the element can be moved by changing the cursor.
    // See: https://developer.mozilla.org/en-US/docs/Web/CSS/cursor
    //cursor: move;
    //cursor: all-scroll;
    //cursor: row-resize;
    //cursor: grab;
    //cursor: grabbing;
    cursor: ns-resize;
    position: absolute;
    left: -2.5rem;

    .icon {
      font-size: 5rem;
      color: $gcl-midgray;
    }
  }
  .edit, .delete {
    position: absolute;
    margin: auto;

    a .icon {
      color: $gcl-darkgray;
      font-size: 2.5rem;
      @include transition(color 0.3s);
    }
    a:hover .icon {
      @include transition(color 0.3s);
      color: $gcl-red;
    }
  }
  .edit {
    right: 0.5rem;
  }
  .delete {
    right: -1.5rem;
  }
}

.trainingbit-content-editor-toolbar {
  position: relative;
  min-height: rem-calc(150px);
  //height: rem-calc(150px);
  padding: rem-calc(20px);

  text-align: center;

  a {
    color: $gcl-midgray;
  }

  .icon-container {
    margin: 0 auto;

    ul {
      list-style: none;
      li {
        display: inline-block;
        margin-left: rem-calc(15px);
      }
    }
  }

  .large-indicator {
    position: absolute;
    top: 0;
    left: 0;
    //float:left;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;

    background-color: #EFEFEF;
    color: $gcl-midgray;

    div.add-text {
      @extend %dead-center;

      width: 100%;
      height: 1rem;
    }
  }
}


// MODALS

#modal-add-picture {
  > button {
    float: right;
  }

  .image-upload {
    margin-left:  auto;
    margin-right: auto;
    margin-bottom: rem-calc(20px);
    width: rem-calc(500px);
    max-width: 100%;
    height: rem-calc(300px);
  }
}
