
body.trainingbit-view {
  overflow-x: hidden; // HACK #fullwidth-bg
}

.trainingbit {
  max-width: rem-calc(800px);
  margin-left: auto;
  margin-right: auto;

  h1 {
    @extend %text-white-on-darkgray;
  }

  div.link {
    .icon-wrapper {
      display: inline-block;
      float: left;

      .icon {
        line-height: rem-calc(50px); margin-right: 10px;
      }
    }
    span.title {
      font-size: rem-calc(13px);
      color: $gcl-red;
      margin-bottom: 0; //rem-calc(5px);
    }
    p {
      font-size: rem-calc(12px);
      font-weight: 200;
    }
  }

  .trainingbit-section {
    padding-top: rem-calc(20px);
    padding-bottom: rem-calc(20px);

    &>ul {
      margin-left: 0;

      &>li {
        list-style: none;
      }
    }

    &#act {
      background-color: $gcl-lightgray;
      margin-left:-100%;   // HACK #fullwidth-bg
      padding-left: 100%;  // HACK #fullwidth-bg
      margin-right:-100%;  // HACK #fullwidth-bg
      padding-right: 100%; // HACK #fullwidth-bg
    }
  }
}

.info-icon {
  @extend %entypo;
  font-size: 2.5rem;
  float: right;
  color: white;
  background-color: $gcl-red;
  display: inline-block;
  padding: rem-calc(5px);
  line-height: 1rem;
  @include rounded(rem-calc(3px));

  &:hover {
    color: white;
  }
}

.project-form-errors {
  background-color: $gcl-browngray;
  padding: 2rem;
}
// .text-field {
