$left-margin: rem-calc(20px);

#trainingbit-cover {

  height: rem-calc(300px);
  background-repeat: no-repeat;
  background-position: 0% 30%;
  background-size: cover;

  position: relative;


  .back-button {
    display: inline-block;
    float: left;
    margin-left: $left-margin;
    margin-top: 1rem;
    background-color: $gcl-darkgray;
    color: white;
    padding: rem-calc(10px);
    font-size: rem-calc(10px);
    text-transform: uppercase;
    font-weight: bold;

    span.icon {
      position: relative;
      left: - rem-calc(5px);
      font-size: rem-calc(45px);
    }
  }

  .label {
    float: left;
    clear: both;
    margin-left: $left-margin;
    margin-top: rem-calc(75px);

    padding: rem-calc(7px);
    text-transform: uppercase;
    font-weight: bold;
  }

  h1 {
    @extend %white-on-red;
    display: inline-block;
    position: absolute;
    left: $left-margin;
    bottom: rem-calc(100px);
  }

  margin-bottom: rem-calc(30px);

}

.main-column {
  padding-left: $left-margin;
  padding-right: rem-calc(40px);
}

.start-trainingbit-container {
  float: left;
}


.cover-description {
  padding-left: $left-margin;

  .metadata-inline-row {
    float: right;
    text-align: center;
    margin-bottom: 3rem;
  }
}

.gcl-column.sidebar {
  margin-left: 2.5%;
  border-left: 1px solid $gcl-lightgray;
  padding-left: 2.5%;
  width: 32.5%;

  &>div {
    clear: both;
  }

  ul {
    font-size: rem-calc(12px);
    line-height: 1.8;
    font-weight: 500;
    color: $gcl-lightgray !important;
  }
  h5 {
    text-transform: uppercase;
  }
}

a.begin {
  // @extend .button;
  // @extend .button.large;
}
