#trainer-dashboard {
  position: relative;

  h1 {
    display: inline-block;
    color: white;
    background-color: $gcl-red;
  }
  h3 {
    text-transform: none;
    display: inline-block;
  }

  div.list-container {
    $empty_height: rem-calc(90px);
    min-height: $empty_height;
    background-color: white;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;

    div.empty-message {
      @extend %dead-center;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: $empty_height;
      color: $gcl-midgray;
    }

    >div {
      border-top: 1px $gcl-lightgray solid;
      &:first-of-type {
        border-top: none;
      }
    }
  }

  div.trainer-item {
    .item-title a {
      @extend %text-white-on-darkgray;
      text-transform: none;
    }
    padding-bottom: rem-calc(10px);
    padding-top: rem-calc(10px);
  }

  a.button {
    @extend %blue-button;
    margin-right: rem-calc(10px);
  }

  .controls {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    a.button {
      float: right;
    }
  }

  ul.icon-list, ol.icon-list {
    font-size: rem-calc(10px);
    margin-left: 0;
    margin-bottom: 0.3rem;
    li {
      display: inline;
      list-style-type: none;
      margin-right: rem-calc(10px);
      .icon {
        color: $gcl-red;
      }
    }
  }
}

#flatpage-new-modal {
  #content-medium-editor {
    min-height: rem-calc(200px);
  }
}

ul.topic-list {
  list-style: none;
  font-size: rem-calc(11px);
  margin-top: 1rem;
  margin-left: 0;
  display: inline-block; // to make margin top work - otherwise it will push
                         // the whole div (.list-container) downwards instead of
                         // positioning the <ul> inside the div.list-container

  li {
    display: inline-block;
    padding-left: rem-calc(2px);
    padding-right: rem-calc(2px);
    margin-right: rem-calc(2px);
    margin-bottom: rem-calc(2px);

    background-color: $gcl-darkgray;
    color: white;

    a.delete-topic {
      color: $gcl-red;
      &:hover {
        color: black;
      }
    }
  }
}

ul.flatpage-list {
  padding: 0.5em;
  margin-left: 0px;
  li {
    list-style-type: none;
    clear: both;
    .button {
      margin: 0.2em;
    }
  }
}