
$padding-size: rem-calc(20px);

ul.trainingbit-list-view {
  margin: 0; // Foundation 5 !%^^&&!%!^&%!^ (sets margin-left on <ul>s even
             // though they are block-grid

  @media #{$small-up} {
    @include block-grid(1, $padding-size, true);
  }
  @media #{$medium-up} {
    @include block-grid(3, $padding-size, true);
  }
  @media #{$large-up} {
    @include block-grid(4, $padding-size, true);
  }

  &.medium {
    // display: inline-block !important;
    // width: 20rem;
    @media #{$small-up} {
      @include block-grid(1, $padding-size, true);
    }
    @media #{$medium-up} {
      @include block-grid(3, $padding-size, true);
    }
    @media #{$large-up} {
      @include block-grid(3, $padding-size, true);
    }
  }
}

.completed-icon {
  position: absolute;
  top: - rem-calc(10px);
  right: - rem-calc(10px);
  z-index: 3; // Ensure that it is displayed on top of admin-buttons
}


li.trainingbit {
  margin-bottom: rem-calc(20px);

  a {
    display: block;
    &:hover .trainingbit-name {
      color: black;
    }
  }

  // Keep aspect ratio of div when resizing
  // See: http://stackoverflow.com/a/12121309/118608
  .wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
  }
  .wrapper:after {
    padding-top: 56.25%; /*16:9 ratio*/

    // Mathies pictures were: WxH 227x152, which gives us:
    // padding-top: 66.8%;
    display: block;
    content: '';
  }
  .image {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
    background-repeat: no-repeat;
    background-size: 100%;
  }

  div.label {
    float: left;
    margin-top: rem-calc(15px);
    background-color: $gcl-red;
  }
  div.label {
    display: inline-block;
    font-size: rem-calc(12px);
    $horisontal-padding: rem-calc(9px);
    padding-left: $horisontal-padding;
    padding-right: $horisontal-padding;
    font-weight: bold;
    color: white;
  }

  div.description {
    height: rem-calc(133px);
    // width: $width;

    h6 {
      color: $gcl-red;
      margin-bottom: 0;
    }
    p {
      height: rem-calc(75px);
      font-weight: 200;
      // font-size: rem-calc(12px);
      font-size: 0.85rem;
      color: $gcl-midgray;
    }
    .info {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-left: $padding-size / 2;
      padding-right: $padding-size / 2;
    }
  }
}
