#trainer-dashboard {

  h1 {
    display: inline-block;
    color: white;
    background-color: $gcl-red;
  }
  h3 {
    text-transform: none;
    display: inline-block;
  }
  a.stats-link {
    font-size: 0.7rem;
    // text-align: right;
    line-height: 2 * $h3-font-size;
    float: right;
    // display: inline-block;
  }

  div.list-container {
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    >div {
      border-top: 1px $gcl-lightgray solid;
      &:first-of-type {
        border-top: none;
      }
    }
  }

  div.trainer-item {
    .item-title a {
      @extend %text-white-on-darkgray;
      text-transform: none;
    }
    padding-bottom: rem-calc(10px);
    padding-top: rem-calc(10px);
  }

  a.button {
    @extend %blue-button;
    float: right;
    margin-right: rem-calc(10px);
  }
  ul.icon-list, ol.icon-list {
    font-size: rem-calc(10px);
    margin-left: 0;
    margin-bottom: 0.3rem;
    li {
      display: inline;
      list-style-type: none;
      margin-right: rem-calc(10px);
      .icon {
        color: $gcl-red;
      }
    }
  }
}

ul.topic-list {
  list-style: none;
  font-size: rem-calc(11px);

  li {
    display: inline-block;
    padding-left: rem-calc(2px);
    padding-right: rem-calc(2px);
    margin-right: rem-calc(2px);
    margin-bottom: rem-calc(2px);

    background-color: $gcl-darkgray;
    color: white;
  }
}
