
#new-training-bit-cover {
  // width: 100%;
  // height: rem-calc(150px);
  // border: 1px solid $gcl-lightgray;
  // margin-bottom: 0.5rem;
}

.input-field-row {
  // @extend .row; // WILL NOT WORK
  @include grid-row();

  // margin-bottom: rem-calc(30px);
  // >  == direct child
  // *  == any tag
  // >* == all first children of .input-field-row
  // >* {
  //   margin-bottom: rem-calc(30px);
  // }

  .input-field {
    // @extend .large-8; // WILL NOT WORK
    // @extend .columns; // WILL NOT WORK
    @include grid-column(8);
    height: 100%;

    textarea {
      height: 8rem;
    }
  }
  .help-text {
    // @extend .large-4; // WILL NOT WORK
    // @extend .columns; // WILL NOT WORK
    @include grid-column(4);
    color: $gcl-midgray;
    height: 100%;
    font-size: rem-calc(12px);
  }
}

.edit-form {
  input[name=name], textarea {
    border: none;
    box-shadow: none;
  }

  input[name=name] {
    height: $h1-font-size * 2;
    font-family: $header-font-family;
    font-size: $h1-font-size;
  }

  button {
    float: right;
  }

}
