
body.trainingbit-view {
  overflow-x: hidden; // HACK #fullwidth-bg
}

.trainingbit {
  h1 {
    @extend %text-white-on-darkgray;
  }

  .trainingbit-section {
    padding-top: rem-calc(20px);
    padding-bottom: rem-calc(20px);

    &>ul {
      margin-left: 0;

      &>li {
        list-style: none;
      }
    }

    &#act {
      background-color: $gcl-lightgray;
      margin-left:-100%;   // HACK #fullwidth-bg
      padding-left: 100%;  // HACK #fullwidth-bg
      margin-right:-100%;  // HACK #fullwidth-bg
      padding-right: 100%; // HACK #fullwidth-bg
    }
  }
}

.share-button {
  float: right;
  font-size: rem-calc(15px);
}

#trainingbit-completed-modal {
  h2, h3 {
    text-transform: none;
    display: inline-block;
  }
  .trainingbit-title {
    @extend %text-white-on-red;
    margin-left: rem-calc(7px);
    margin-right: rem-calc(7px);
  }
}
// .text-field {
