
body.user-profile {
  form.user_info_form {
    .columns:first-child {
      padding-left: 0;
    }
  }
}

form.user_info_form {

  .birthdate {
    $width: rem-calc(45px);
    input {
      width: $width;
      display: inline-block;
      margin-right: rem-calc(10px);
    }
    input[name=birthdate_2] {
      // width: 2 * $width;
      width: rem-calc(60px);
    }
  }

  .dropzone {
    float: left;
  }

  ul {
    margin-left: 0;

    li {
      list-style: none;
      display: inline-block;
      margin-right: rem-calc(10px);
    }
  }
  ul.errorlist {
    display: inline;
    color: $gcl-red;
  }
  // There should be no distance between the form elemet and the error message
  input[type=text], select, textarea {
    // margin-bottom: 0;
  }

  input[name=sex] {
    position: relative;
    top: 2px;
  }

  button {
    float: right;
  }
}
