{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
  <h1>{% trans "Password Reset" %}</h1>

  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>
    {% blocktrans %}
    We have sent you an e-mail with information about resetting your password.
    If you have not received the mail within a few minutes, please contact us
    via our <a href="/pages/contact">contact page</a>  but check your spam
    filter first ;-)
    {% endblocktrans %}
  </p>
{% endblock %}
