{% load comments i18n %}
<form action="{% comment_form_target %}" method="post">
  {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
  <div id="errors">
    {% for field in form %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      <p {% if field.errors %} class="error"{% endif %}>
    {% endfor %}
</div>
    {% csrf_token %}
    {{ form.name.label_tag }} {{ form.name }}
    {{ form.comment.label_tag }} {{ form.comment }}
    <div style="display: none">{{ form.honeypot }}</div>
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.reply_to }}
    {{ form.security_hash }}
    <input type="hidden" name="email" value="{{ request.user.email_address }}">
  <p class="submit">
    <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
  </p>
</form>
