.ropeproject
__pycache__
/components
/node_modules
/bower_components
/static
/migrations
/build

# ignore generated .css and .js files
global_change_lab/static/global_change_lab/css
global_change_lab/static/global_change_lab/js
global_change_lab/static/poshytip
global_change_lab/static/medium-editor

# JC's symlink for less stress, more sanity and 0% rage
global_change_lab/template


*.pyc
/gcl.sqlite
/media
/.venv
/.vagrant
*~

database.sqlite3

# who needs this anyway?!
# global_change_lab/static/

