gunicorn==18.0
newrelic==2.20.0.17
dj-database-url==0.2.2
Django==1.6.1
psycopg2==2.5.2
Pillow==2.3.0
hg+https://bitbucket.com/malthejorgensen/south#egg=South
django-allauth==0.18.0
django-debug-toolbar==1.0.1
git+git://github.com/malthejorgensen/django-storages-py3.git@py3-dev#egg=django-storages
django-comments-xtd==1.2f1
git+git://github.com/lambdalisue/django-permission.git#egg=django-permission
git+git://github.com/malthejorgensen/django-sortable.git#egg=django-sortable
django-extensions==1.3.3
git+git://github.com/malthejorgensen/django-solo.git#egg=django-solo
django-sortedm2m==0.7.0
django-embed-video==0.8
django-countries==2.0
git+git://github.com/malthejorgensen/django-inlinetrans.git#egg=django-inlinetrans
git+git://github.com/AGoodId/django-s3-collectstatic.git#egg=django-s3-collectstatic
selenium==2.43.0
