{% load staticfiles %}
{% load user_skills %}
<ul class="skills-grid {{ extra_classes }}">
{% for skill in skills %}
  <li class="skill">
    <a href="{{ skill.get_absolute_url }}">
    <div class="image-column">
      <img src="{% skill_user_flag_image skill request.user %}" alt="Skill image">
    </div>
    <div class="name-column"><h3 class="skill-name">{{skill.name}}</h3></div>

    <!-- <h6> {{ skill.name }} </h6> -->
    <!-- {% if show_description %} -->
    <!--   <p>{{ skill.description|truncatechars:125 }}</p> -->
    <!-- {% endif %} -->
    </a>
  </li>
{% endfor %}
</ul>
