{# <ul class="trainingbit-list-view small-block-grid-1 medium-block-grid-3 large-block-grid-4"> #}
<ul class="trainingbit-list-view {{ extra_classes }}">
{% for trainingbit in trainingbits %}
  <li class="trainingbit">
    <a href="{{ trainingbit.get_absolute_url }}{{ get_query }}">
    <div class="wrapper">
      <div class="image" style="background-image: url({{ trainingbit.getImage }})">
        <div class="label">{{ trainingbit.get_label_display }}</div>
      </div>
    </div>
    <div class="description">
      <h6> {{trainingbit.name}} </h6>
      <p>{{trainingbit.description|truncatechars:125}}</p>
      <div class="info">
        {% comment %}
        {% if not hide_part_of %}
        <span class="metadata">
        {% if trainingbit.skill_set.all %}
        This Training Bit is part of the skills
        {% for skill in trainingbit.skill_set.all %}
          <strong>{{skill.name}}, </strong>
        {% endfor %}
        {% endif %}
        </span>
        {% endif %}
        {% endcomment %}
        <hr>
        <span class="icon small heart red"></span> 23
        <span class="icon small chat red"></span> 9
      </div>
    </div>
    </a>
  </li>
{% endfor %}
</ul>
