
<form method="POST" action="{{ form_action }}" class="user_info_form">
  {% csrf_token %}
  <div class="row">
    <div class="columns medium-4">
      <div class="image-upload">
        <div class="dropzone" {% if request.user.image %}style="background-image: url({{ request.user.getImage }})"{% endif %}>
          {% if not request.user.image %}<div class="helptext">Drop a picture of yourself here</div>{% endif %}
          <div class="icon circled-plus"></div>
        </div>
        <div class="upload-button-container">
          <a href="#" class="button">Upload image</a>
          <input class="fileupload" type="file" name="profile-picture"
                 data-url="{% url 'upload_profile_picture' %}"
                 data-uid="{{ uid }}"
                 data-csrf="{{ csrf_token }}">
        </div>
      </div>
    </div>
    <div class="columns medium-8">
      <!-- {{ form.errors }} -->

      <label>Username
        {{ form.username }}
      </label>
      {% if form.username.errors %}
        <small class="error">{{ form.username.errors.as_text }}</small>
      {% endif %}

      <label>Email
        {{ form.email }}
      </label>
      {% if form.email.errors %}
        <small class="error">{{ form.email.errors.as_text }}</small>
      {% endif %}

    </div>
  </div>

  <div class="row">
    <div class="columns medium-6">
      <label>Sex {{ form.sex.errors }}</label>
      {{ form.sex }}
    </div>
    <div class="columns medium-6 birthdate">
      <label>Day of birth {{ form.birthdate.errors }}</label>
      {{ form.birthdate }}
    </div>
  </div>

  <div class="row">
    <div class="columns medium-4">
      <label>Country
        {{ form.country }}
      </label>
      {% if form.country.errors %}
        <small class="error">{{ form.country.errors.as_text }}</small>
      {% endif %}
    </div>
    <div class="columns medium-8">
      <label>Organization or relation to actionAid
        {{ form.organization }}
      </label>
      {% if form.organization.errors %}
        <small class="error">{{ form.organization.errors.as_text }}</small>
      {% endif %}
    </div>
  </div>

  <label>A short description of yourself
    {{ form.description }}
  </label>
  {% if form.description.errors %}
    <small class="error">{{ form.description.errors.as_text }}</small>
  {% endif %}

  <button class="button success">Save</button>
</form>
