{% extends 'base.html' %}
{% load gcl_utils %}
{% load embed_video_tags %}

{% block body_classes %}project-view{% endblock %}

{% block content %}
{% with 'Go to training bit' as back_text %}
{% include 'skills/partials/trainingbit_header.html' with trainingbit=project.trainingbit %}
{% endwith %}

{#{% include 'skills/partials/project.html' %}#}
<div class="project-wrapper">

  <div class="project" id="project-{{ project.id }}">
    <h6 class="project-title">{{ project.name }}</h6>

    {# <div class="clear-both"></div> #}
    <div class="metadata-fat">
      <div class="profile-picture" style="background-image: url({{ project.author.getImage }})"></div>
      <div class="text">
        <a class="author" href="{{ project.author.get_absolute_url }}">{{ project.author.username }}</a><br>
        <span class="date">{{ project.created_at|date }}</span>
      </div>
      <div class="icons">
        {% include 'skills/partials/like_counter.html' with object=project %}
        <span class="icon chat red"></span><span class="count">{{ project.comment_set.count }}</span>
        {% include 'skills/partials/like_button.html' with object=project %}
      </div>
    </div>
    {# <span class="date">{{ project.created_at|pretty_timesince }}</span> #}

    <div class="content">
      <p>{{ project.content }}</p>
    </div>
    {% if project.image %}
    <ul class="clearing-thumbs" data-clearing>
      <li><a href="{{ project.image.url }}"><img class="project-image" data-caption="{{ project.name }}" src="{{ project.image.url }}"></a></li>
    </ul>
    {% endif %}

    {% if project.link %}
    <a href="{{ project.link }}">Hello</a>
    {% endif %}

    {% if project.video %}
      {% video project.video %}
    {% endif %}

    <div class="comment-form-container">
      <form action="{% url 'skills:comment_post' %}" method="POST" class="comment-form">
        {% csrf_token %}
        <input type="hidden" name="project" value="{{ project.pk }}">
        <input type="hidden" name="parent" value="">
        <textarea class="comment" name="text" placeholder="Write a comment..."></textarea>
        {# <button class="small">Comment</button> #}
        <button>Comment</button>
      </form>
    </div>

    {# Comments section #}
    <h3>Comments</h3>
    <div class="comments">
      {% include 'skills/partials/comment_list.html' with comments=project.root_comments %}
    </div>
  </div>

</div>
{% endblock %}
