{% extends "base.html" %}

{% block body-classes %}shares-overview{% endblock %}

{% block content %}
<div class="row">
  <div class="columns medium-8">
    <h1 class="white-on-red">Latest shares</h1>
  </div>
  <div class="columns medium-4">
    <h1 class="white-on-red">Latest comments</h1>
  </div>
</div>
  <div class="columns medium-4">
    {% for project in project_list0 %}
      {% include 'skills/partials/project_column.html' %}
    {% endfor %}
  </div>
  <div class="columns medium-4">
    {% for project in project_list1 %}
      {% include 'skills/partials/project_column.html' %}
    {% endfor %}
  </div>
{# </div> #}

  <!-- <hr> -->

<div class="columns medium-4">

  <!-- <hr> -->

  {% include 'skills/partials/comment_list.html' with hide_reply=True show_project=True maxchars=200 %}
</div>
{% endblock %}
