{% extends "base.html" %}

{% block body-classes %}shares-overview{% endblock %}

{% block content %}
<div class="row">
  <div id="masonry-container" class="gcl-column2">
    <h4 class="shares-overview-header stamp">Recently shared</h4>
    <div class="masonry-gutter"></div>
    {% for project in projects %}
      {% include 'skills/partials/project_column.html' %}
    {% endfor %}
  </div>
  <div class="gcl-column">
    <h4 class="shares-overview-header">Comments</h4>
    {% include 'skills/partials/comment_list_compact.html' with hide_reply=True show_project=True maxchars=200 %}
  </div>
</div>
{% endblock %}

{% block javascript_extra %}
$('#masonry-container').masonry({
  itemSelector: '.project-column',
  gutter: '.masonry-gutter',
  stamp: '.stamp'
});

var updateMasonry = function() {
  $('#masonry-container').masonry();
};

$(window).on('resize', $.throttle(250, updateMasonry) );
{% endblock %}
