{% extends "base.html" %}

{% block body-classes %}skills-overview{% endblock %}

{% block content %}
<div class="page-buttons">
  {# Topics #}
  <a href="#" class="button info" data-dropdown="skill-all-topics">
    All topics
    <span class="icon triangle-down red"></span>
  </a>
  <ul id="skill-all-topics" class="f-dropdown" data-dropdown-content>
    <li><a href="{% url 'profile' %}">View my profile</a></li>
    <li><a href="{% url 'account_logout' %}">Sign out</a></li>
  </ul>

  {# Sorting #}
  <a href="#" class="button info" data-dropdown="skill-sort">
    Newest
    <span class="icon triangle-down red"></span>
  </a>
  <ul id="skill-sort" class="f-dropdown" data-dropdown-content>
    <li><a href="{% url 'profile' %}">Oldest</a></li>
    <li><a href="{% url 'account_logout' %}">Most viewed</a></li>
  </ul>

</div>
<h1 class="white-on-red">Skills</h1>

<hr>

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2 xlarge-block-grid-3 skill-list-view">
  {% for skill in skills %}
  <li class="row">
    <div class="skill-icon small-3 columns">
      <img src="{{ skill.getImage }}" alt="Skill image">
    </div>
    <div class="skill-description small-9 columns">
      <a href="{% url 'skills:skill_view' skill.id %}"><h2>{{skill.name}}</h2></a>
      <p>{{skill.description}}</p>
      <div class="skill-info">
        <span class="trainingbit-count">{{ skill.training_bits.count }} Training Bits</span>
        <hr>
        <span class="icon small heart red"></span> 23
        <span class="icon small chat red"></span> 9
      </div>
    </div>
  </li>
{% endfor %}
</ul>

{% endblock %}
