{% extends 'base.html' %}

{% load permissionif %}
{% load user_skills %}

{% block body-classes %}skill-view{% endblock %}

{% block content %}
<div class="page-buttons">
  {# Mark as public #}
  {% permission request.user has 'skill.publicize' %}
    {% if skill.is_public %}
      <a href="{% url 'skills:skill_publicize' skill.id %}" class="button info">Hide this skill</a>
    {% else %}
      <a href="{% url 'skills:skill_publicize' skill.id %}" class="button success">Make this skill public</a>
    {% endif %}
  {% endpermission %}

  {# Edit skill button #}
  {% permission request.user has 'skill.edit' %}
    <a href="{% url 'skills:skill_edit' skill.id %}" class="button info">Edit skill</a>
  {% endpermission %}

  {# Delete skill button #}
  {% permission request.user has 'skill.delete' %}
    <a href="{% url 'skills:skill_delete' skill.id %}" class="button">Delete skill</a>
  {% endpermission %}
</div>
<div id="skill-cover">
  <img src="{{ skill.getImage }}">
  <h1>{{skill.name}}</h1>
  <p class="skill-description">{{skill.description}}</p>
  {% if request.user.is_authenticated %}
    {# {% if skill in request.user.skills_in_progress.all %} #}
    {% if request.user|is_taking_skill:skill %}
      <a class="button" href="{% url 'skills:skill_stop' skill.id %}">Stop taking this skill</a>
    {% else %}
      <a class="button" href="{% url 'skills:skill_start' skill.id %}">Start this skill</a>
    {% endif %}
  {% endif %}
</div>

<hr>
{% include 'partials/trainingbits_grid.html' with trainingbits=skill.trainingbits.all get_query=skill_id_get_query %}
{% endblock %}
