{% extends 'base.html' %}
{% load staticfiles %}


{% block body-classes %} trainer-interface {% endblock %}
{% block scripts %}
  <script src="{% static 'global_change_lab/js/trainer.min.js' %}"></script>
{% endblock %}

{% block content %}

<div class="page-buttons">
  {# View trainingbit button #}
    <a href="{% url 'skills:skill_view' skill.id %}" class="button success">View skill</a>
</div>

<form id="training-bit-cover-form" action="{{ request.url }}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="input-field-row">
    <div class="input-field">
      <input type="text" name="name" placeholder="Name the skill" value="{{ skill.name }}">
    </div>
    <div class="help-text">
      <h6>Title</h6>
      Here you should write the name of the skill.
    </div>
  </div>
  <div class="input-field-row">
    <div class="input-field">
      <textarea name="description" placeholder="Describe the skill">{{skill.description}}</textarea>
    </div>
    <div class="help-text">
      <h6>Description</h6>
      Here you should write a short description of the skill.
    </div>
  </div>

  <div class="input-field-row">
    <div class="input-field">
      {% include 'skills/partials/topic_selector.html' %}
    </div>
    <div class="help-text">
      <h6>Topics</h6>
      Here you can add topics to the skill.
    </div>
  </div>
  <div class="input-field-row">
    <div class="input-field">
      <div id="trainingbit-list">

        <div class="row">
          <div class="medium-6 columns">
            <h6>Find training bits</h6>
            <input type="text" id="trainingbits-chooser-search" class="search" placeholder="Search for training bits...">
            <ul class="trainingbits-chooser-list" id="trainingbits-available-list">
            {% for trainingbit in trainingbits_available %}
              <li data-id="{{ trainingbit.id }}">
                <span class="name">{{ trainingbit.name }}</span>
              </li>
            {% endfor %}
            </ul>
          </div>
          <div class="medium-6 columns">
            <h6>Selected training bits</h6>
            <ul class="trainingbits-chooser-list" id="trainingbits-chosen-list">
            {% for trainingbit in trainingbits_chosen %}
              <li data-id="{{ trainingbit.id }}">
                <span class="name">{{ trainingbit.name }}</span>
              </li>
            {% endfor %}
            </ul>
            <div id="trainingbit_ids">
              {% for trainingbit in trainingbits_chosen %}
              <input type="hidden" name="trainingbit-pos-pk[]" value="{{forloop.counter}},{{trainingbit.pk}}">
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="help-text">
      <h6>Training Bits</h6>
      Here you can add training bits to the skill.
      {# Drag the training bit into the order you want them to show in s #}
      Drag training bits from the list on the left to the list on the right.
      The order of the training bits here is the order they will show on the
      skill page.
    </div>
  </div>
  <button id="trainingbit-submit" type="submit">
    {% if skill %}
    Save skill
    {% else %}
    Create new skill
    {% endif %}
  </button>
</form>
{{ form_errors }}
<script>
// From: http://stackoverflow.com/a/15252131/118608
String.prototype.fuzzy = function (s) {
    var hay = this.toLowerCase(), i = 0, n = -1, l;
    s = s.toLowerCase();
    for (; l = s[i++] ;) if (!~(n = hay.indexOf(l, n + 1))) return false;
    return true;
};

$(document).ready(function() {
  $("#trainingbits-chooser-search").on('input', function() {
    var search_term = $(this).val();
    $("#trainingbits-available-list li").each(function(i, el) {
      var $el = $(el);
      if ($el.text().fuzzy(search_term)) {
        $el.show();
      } else {
        $el.hide();
      }
    });
  });

  var $trainingbit_ids = $('#trainingbit_ids');
  var $input_base = $('<input type="hidden" name="trainingbit-pos-pk[]">');

  $("#trainingbits-available-list, #trainingbits-chosen-list").sortable({
    placeholder: "show-drag-position",
    connectWith: ".trainingbits-chooser-list",
    update: function() {

      // Clear <div> element
      $trainingbit_ids.empty();

      $("#trainingbits-chosen-list li").each(function(i, el) {
        var $input = $input_base.clone();
        $input.val(i + ',' + $(el).data('id'));
        $trainingbit_ids.append($input);
      });
    },
  }).disableSelection();
});
</script>


{% endblock %}
