{% extends "base.html" %}
{% load permissionif %}

{% block body-classes %}skills-overview{% endblock %}

{% block info %}
  <p>Skills are different trainings where you can practice different skillsets as an activist</p>
  <p>Each training consists of a number of <strong>training bits</strong></p>
  <p>Each time you finish a training bit you'll get on step closer to finishing a skill.</p>
{% endblock %}

{% block content %}
<div class="page-buttons">
  {# Topics #}
    {% if topic_chosen %}
      <a href="{% url 'skills:skills_overview' topic_chosen.slug %}" class="button sorting" data-dropdown="skill-all-topics">
        {{ topic_chosen.name }}
        <span class="icon triangle-down red"></span>
      </a>
    {% else %}
      <a href="{% url 'skills:skills_overview' %}" class="button sorting" data-dropdown="skill-all-topics">
        All topics
        <span class="icon triangle-down red"></span>
      </a>
    {% endif %}
  <ul id="skill-all-topics" class="f-dropdown topics" data-dropdown-content>
    {% for topic in topics %}
      {# {% if topic != topic_chosen %} #}
      <li><a href="{% url 'skills:skills_overview' topic.slug %}">{{ topic.name }}</a></li>
      {# {% endif %} #}
    {% endfor %}
    {# {% if topic_chosen %} #}
      <li><a href="{% url 'skills:skills_overview' %}">All topics</a></li>
    {# {% endif %} #}
  </ul>

  {# Sorting #}
  <a href="#" class="button sorting" data-dropdown="skill-sort">
    Newest
    <span class="icon triangle-down red"></span>
  </a>
  <ul id="skill-sort" class="f-dropdown" data-dropdown-content>
    <li><a href="?sort=created_at&dir=desc">Newest</a></li>
    <li><a href="?sort=created_at&dir=asc">Oldest</a></li>
  </ul>

  {# View public #}
  {% if showing_hidden %}
    <a href="{% url 'skills:skills_overview' %}" class="button info">
      Hide hidden skills
    </a>
  {% else %}
    {% permission request.user has 'skills.show_hidden' %}
    <a href="{% url 'skills:skills_overview_all' show_hidden=True %}" class="button info">
      View hidden skills
    </a>
    {% endpermission %}
  {% endif %}

</div>
<h1 class="white-on-red">Skills</h1>

<hr>

{% include 'skills/partials/skill_list_large.html' %}

{% endblock %}

{% block fat_footer %}
{% include 'partials/fat_footer.html' %}
{% endblock %}
