{% extends 'base.html' %}
{% load staticfiles %}


{% block body-classes %} trainer-interface {% endblock %}
{% block scripts %}
  <script src="{% static 'global_change_lab/js/trainer.min.js' %}"></script>
{% endblock %}

{% block content %}

<form id="training-bit-cover-form" action="{{ request.url }}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="input-field-row">
    <div class="input-field">
      <input type="text" name="name" placeholder="Name the skill" value="{{ skill.name }}">
    </div>
    <div class="help-text">
      <h6>Title</h6>
      Here you should write the name of the skill.
    </div>
  </div>
  <div class="input-field-row">
    <div class="input-field">
      <textarea name="description" placeholder="Describe the skill">{{skill.description}}</textarea>
    </div>
    <div class="help-text">
      <h6>Description</h6>
      Here you should write a short description of the skill.
    </div>
  </div>
  <div class="input-field-row">
    <div class="input-field">
      {% if skill.image %}
      <img src="{{skill.getImage}}" style="height: 5rem">
      {% endif %}
      <input id="new-skill-icon" type="file" name="skill-icon">
    </div>
    <div class="help-text">
      <h6>Cover Image</h6>
      Drag a file from your computer on to the button, or click the button to find
      a file on your computer that will be the cover image of this training bit.
    </div>
  </div>
  {% comment %}
  <div class="input-field-row">
    <div class="input-field">
      <input type="text" name="tags" placeholder="organisation politics planning ..." value="{{ tags }}">
    </div>
    <div class="help-text">
      <h6>Tags</h6>
      Here you can add tags to the skill. Each tag is separated by a
      space.
      If the tag contains a space it should be wrapped in quotes, like this:
      "political science"
    </div>
  </div>
  {% endcomment %}
  <div class="input-field-row">
    <div class="input-field">
      <div id="trainingbit-list">

        <input class="search" placeholder="Search for training bit...">
        <div class="container">
          <ul class="list">
          {% for trainingbit in trainingbits %}
            <li>
              <label>
                <input type="checkbox" name="trainingbit-{{ trainingbit.id }}" {%if trainingbit.id in skill_trainingbit_ids %}checked{%endif%}>
                <span class="name">{{ trainingbit.name }}</span>
              </label>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>

    </div>
    <div class="help-text">
      <h6>Training Bits</h6>
      Here you can add training bits to the skill.
      These training are that are required in order to achieve the skill.
    </div>
  </div>
  <button id="trainingbit-submit" type="submit">
    {% if skill %}
    Save skill
    {% else %}
    Create new skill
    {% endif %}
  </button>
</form>
{{ form_errors }}
<script>
$(document).ready(function() {
  var options = {
    valueNames: ['name']
  };
  var trainingbitList = new List('trainingbit-list', options);
});
</script>


{% endblock %}
