{% extends 'base.html' %}

{% load permissionif %}
{% load user_skills %}
{% load staticfiles %}

{% block body-classes %}skill-view{% endblock %}

{% block content %}
<div class="page-buttons">
  {# Mark as public #}
  {% permission request.user has 'skill.publicize' %}
    {% if skill.is_public %}
      <a href="{% url 'skills:skill_publicize' skill.id %}" class="button info admin-button">Hide this skill</a>
    {% else %}
      <a href="{% url 'skills:skill_publicize' skill.id %}" class="button success admin-button">Make this skill public</a>
    {% endif %}
  {% endpermission %}

  {# Edit skill button #}
  {% permission request.user has 'skill.edit' %}
    <a href="{% url 'skills:skill_edit' skill.id %}" class="button info admin-button">Edit skill</a>
  {% endpermission %}

  {# Delete skill button #}
  {% permission request.user has 'skill.delete' %}
    <a href="{% url 'skills:skill_delete' skill.id %}" class="button admin-button">Delete skill</a>
  {% endpermission %}
</div>
<div id="skill-cover">
  <div class="skill-headline">
    {% if skill in request.user.skills_completed.all %}
    <img src="{% static 'images/skill-flag-red.png' %}" alt="Skill image">
    {% else %}
    <img src="{% static 'images/skill-flag-gray.png' %}" alt="Skill image">
    {% endif %}
    <div class="text-container">
    <h1>{{skill.name}}</h1>
    <div class="metadata">
      <span class="icon small heart red"></span><span class="count">{{ skill.likes.count }}</span>
      <span class="icon users red"></span><span class="count">{{ skill.users_completed.count }}</span>
      <span class="icon chat red"></span><span class="count">{{ skill.trainingbits.count }}</span>
    </div>
  </div>
  </div>
  <p class="skill-description">{{skill.description|linebreaksbr}}</p>
  {% if request.user.is_authenticated %}
    {# {% if skill in request.user.skills_in_progress.all %} #}
    {% if request.user|is_taking_skill:skill %}
      <a class="button small begin" href="{% url 'skills:skill_stop' skill.id %}">Stop taking this skill</a>
    {% else %}
      <a class="button small begin" href="{% url 'skills:skill_start' skill.id %}">Start this skill</a>
    {% endif %}
  {% endif %}

  <a class="button small {% if user_like %}unlike{% else %}like{% endif %}" href="{% url 'skills:like' %}"
     data-csrf_token="{{ csrf_token }}"
     data-object_id="{{ skill.pk }}"
     data-content_type="{{ content_type_pk }}">{% if user_like %}Unlike{% else %}Like{% endif %}</a>
</div>

<hr>
{% include 'partials/trainingbits_grid.html' with get_query=skill_id_get_query %}
{% endblock %}

{% block fat_footer %}
{% include 'partials/fat_footer.html' %}
{% endblock %}
