{% extends 'base.html' %}
{% load staticfiles %}

{% block scripts %}
<script src="{% static 'jquery-form/jquery.form.js' %}"></script>
{% endblock %}

{% load comments %}

{% block content %}

<div class="page-buttons">

  {# Mark as recommended #}
  {% if request.user.profile.is_admin %}
    {% if trainingbit.recommended %}
      <a href="{% url 'skills:trainingbit_recommend' trainingbit.id %}" class="button info">Remove recommendation</a>
    {% else %}
      <a href="{% url 'skills:trainingbit_recommend' trainingbit.id %}" class="button success">Mark as recommended</a>
    {% endif %}
  {% endif %}

  {# Delete trainingbit button #}
  {% if trainingbit.author == user %}
    <a href="{% url 'skills:trainingbit_delete' trainingbit.id %}" class="button">Delete training bit</a>
  {% endif %}
</div>
{% include 'skills/partials/trainingbit_cover.html' %}

<hr>

{# Comments section #}
<h3>Shared by others</h3>
{% render_comment_list for trainingbit %}
{% render_comment_form for trainingbit %}

{% endblock %}
