{% extends 'base.html' %}
{% load staticfiles %}


{% block body-classes %} trainer-interface {% endblock %}

{# Load dependencies #}
{% block scripts %}
  <link rel="stylesheet" href="{% static 'medium-editor/medium-editor.css' %}">
  <script src="{% static 'global_change_lab/js/trainingbit_view.min.js' %}"></script>
  <script src="{% static 'global_change_lab/js/trainer.min.js' %}"></script>
  <script src="{% static 'global_change_lab/js/fileupload.min.js' %}"></script>
{% endblock %}


{% block permanent-messages %}
<div id="save-button">
  <a class="button"><span class="icon save"></span><span class="status"></span></a>
</div>
<div class="alert-box info" id="connection-status">
  <span class="icon signal"></span><span class="status">You are currently <strong>not</strong> connected to the internet</span>
</div>
<script>
Offline.options = {
  // Should we monitor AJAX requests to help decide if we have a connection.
  interceptRequests: true,

  // Should we automatically retest periodically when the connection is down (set to false to disable).
  //reconnect: {
    // How many seconds should we wait before rechecking.
    //initialDelay: 3,

    // How long should we wait between retries.
    // delay: (1.5 * last delay, capped at 1 hour)
  //},
};
Offline.on('down', function() {
  console.log('Not connected to the internet');
  $('#connection-status').fadeIn(500);
});
Offline.on('up', function() {
  console.log('Now connected to the internet');
  $('#connection-status').fadeOut(500);
});
</script>
{% endblock %}

{% block content %}


<div class="page-buttons">
  {# View trainingbit button #}
    <a href="{% url 'skills:trainingbit_view' trainingbit.id %}" class="button info">View training bit</a>
</div>

  {# Training Bit COVER #}
  <div id="trainingbit-cover" style="background-image: url({{trainingbit.getImage}})">
    <h1>{{ trainingbit.name }}</h1>
  </div>
  <p class="trainingbit-description">{{ trainingbit.description }}</p>

  <div class="trainingbit">
    <h1>1. Learn</h1>
    <div class="trainingbit-content-editor learn-section" id="learn-edit">
      <ul>
      </ul>

      <div class="row trainingbit-content-editor-toolbar">
      </div>
    </div>

    <h1>2. Act</h1>
    <div class="trainingbit-content-editor act-section" id="act-edit">
      <ul>
      </ul>

      <div class="row trainingbit-content-editor-toolbar">
      </div>
    </div>
    <h1>3. Share</h1>
    <div class="trainingbit-content-editor share-section" id="share-edit">
      <ul>
      </ul>
      <div class="row trainingbit-content-editor-toolbar">
      </div>
    </div>
  </div>


  {# MODALS #}
  <div id="modal-add-link" class="reveal-modal" data-reveal>
    <h2>Add link</h2>
    <label>URL: <input class="url" type="text" placeholder="http://actionaid.org"></label>
    <label>Title: <input class="title" type="text" placeholder="The website of actionAid"></label>
    <button>Add link</button>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <div id="modal-add-picture" class="reveal-modal" data-reveal>
    <h2>Add picture</h2>
    <input id="fileupload" type="file" name="picture">
    <div class="dropzone">Drop a picture here</div>
    <div id="picture"></div>
    <button>Add picture</button>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <div id="modal-add-embed" class="reveal-modal" data-reveal>
    <h2>Add embed</h2>
    <label>Embed HTML: <textarea class="html" placeholder="Write some text here..."></textarea></label>
    <button>Add embed</button>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <form id="trainingbit-content-form" action="{% url 'skills:trainingbit_edit_content' trainingbit.id %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <input type="hidden" id="trainingbit_content_json" name="trainingbit_content_json">
    <button>Save training bit</button>
  </form>



  {# TEMPLATES #}
  <script type="text/template" id="TbPart-editable-template">
    <div class="input-field-row">
      <div class="handle"><span class="icon arrow-combo"></span></div>
      <div class="input-field editable">
        <%= content %>
      </div>
      <div class="help-text">
        <%= help_text %>
      </div>
      <div class="delete">
        <a class=""><span class="icon trash"></span></a><!-- Delete -->
      </div>
    </div>
  </script>

  <script>
  window.GCL = window.GCL || {};
  window.GCL.trainingbit_editable = true;
  console.log('window.GCL: ');
  console.log(window.GCL);
  </script>

  {% include 'skills/partials/trainingbit_parts.html' %}

  <script type="text/template" id="section-template">
    <div class="section-content"></div>

  </script>


  <script type="text/template" id="link-help-text">
    <h6>Link</h6>
    Links to external websites
  </script>
  <script type="text/template" id="embed-picture-text">
    <h6>Picture</h6>
    Add beautiful pictures to your training bit
  </script>
  <script type="text/template" id="embed-help-text">
    <h6>Embed</h6>
    Videos from Youtube, Vimeo etc.
  </script>
  <script type="text/template" id="text-help-text">
    <h6>Text</h6>
    Here you can write text.
  </script>

  <script type="text/template" id="toolbar-template">
    <div class="large-indicator">
      <div class="add-text"><span class="icon circled-plus"></span><%= name %>
      </div>
    </div>
    <div class="icon-container">
      <ul>
        <li>
          <a class="add-text" href="#">
            <span class="icon medium language"></span>
            <p>Add text</p>
          </a>
        </li>
        <li>
          <a class="add-link" href="#" data-reveal-id="modal-add-link" data-reveal>
          <span class="icon medium link"></span><br>
          Add link
          </a>
        </li>
        <li>
          <a class="add-picture" href="#" data-reveal-id="modal-add-picture" data-reveal>
          <span class="icon medium camera"></span><br>
          Add picture
          </a>
        </li>
        <li>
          <a class="add-embed" href="#" data-reveal-id="modal-add-embed" data-reveal>
          <span class="icon medium video"></span>
          <p>Add embed</p>
          </a>
        </li>
          {# <span class="icon medium camera"></span> #}
          {# <span class="icon medium attach"></span> #}
      </ul>
    </div>
  </script>



  <script>

// an EditorToolbar takes a TrainingBit
var EditorToolbar = Backbone.Model.extend({
  trainingbit: null
});


{# INSTANTIATE MODELS #}
{% if trainingbit.json_content == '' %}
var tb = { learn:[], act:[], share:[]};
{% else %}
var tb = {{ trainingbit.json_content|safe }};
{% endif %}
var tb_learn = new TrainingBit(
  tb['learn']
);
var tb_act = new TrainingBit(
  tb['act']
);
var tb_share = new TrainingBit(
  tb['share']
);

if (tb_learn.length < 1) {
  tb_learn.add(new TbPartText());
}

{# AUTO-SAVE #}
// Check out: http://benalman.com/projects/jquery-throttle-debounce-plugin/
// Right now we update the model of the text field on every keypress, but only
// update the form contents every 3000 ms.
var $save_spinner = $('<div id="save-spinner"><span class="icon cycle"></span></div>');
var saveTrainingBit = $.throttle(3000, function() {
  $('#save-button .status').text('Saving...')
  $('#save-button .status').fadeIn(1000);
  {# $('#save-button').append($save_spinner); #}

  // Grab data from the backbone models
  var tb = {
    learn: tb_learn.toJSON(),
    act: tb_act.toJSON(),
    share: tb_share.toJSON(),
  };

  // Insert it into the form
  $('#trainingbit-content-form').children('input[name=trainingbit_content_json]').val(JSON.stringify(tb));
  {# console.log(JSON.stringify(tb)); #}

  // Save it
  $('#trainingbit-content-form').ajaxSubmit({
    error: function() {
      {# $save_spinner.remove(); #}
      $('#save-button .status').text(' Could not save')
      .delay(3000).fadeOut(1000);
    },
    success: function() {
      {# $save_spinner.remove(); #}
      $('#save-button .status').append(' Successfully saved training bit')
      .delay(3000).fadeOut(1000);
    }
  });

});

{# BACKBONE VIEWS #}
var TrainingBitPartView = Backbone.View.extend({

  initialize: function() {
    this.$el = $(this.el);
    this.saveTimer = null;
  },
  remove: function() {
    this.saveText();
    window.clearInterval(this.saveTimer);
  },

  //tagName: 'div',
  events: {
    'click .delete': 'deleteTbPart',
    // There may be smarter ways to do this, rather than just listening for
    // keypresses.
    // See: http://stackoverflow.com/questions/7802784/listening-to-events-of-a-contenteditable-html-element/7804973#7804973
    'keypress .text-field': 'saveText',
    'blur .text-field': 'saveText',
  },

  deleteTbPart: function() {
    if (confirm('Are you sure want to remove this ' + this.model.get('type') + '?')) {
      this.model.destroy()
    }
  },

  saveText: function() {
    if (this.model.get('type') == 'text') {
      this.model.attributes.html = this.$el.find('.text-field').html();
    }
    saveTrainingBit();
  },

  render: function() {
    window.clearInterval(this.saveTimer);

    console.log('Rendering TrainingBitPart');

    var type = this.model.get('type');
    console.log('of type: ' + type);


    // Render the content of the TrainingBitPart
    var content   = _.template($('#' + type + '-template').html(), this.model.toJSON());
    // Fetch the help text for the TrainingBitPart
    var help_text = $('#' + type + '-help-text').html()

    // Render the full view (with help text, drag handle, delete button ...)
    var TbPart_template =  _.template($('#TbPart-editable-template').html());
    var rendered = TbPart_template({
      'content'  : content,
      'help_text': help_text
    });

    this.$el.html(rendered);

    // Initialize text editor
    if (type == 'text') {
      // https://github.com/daviferreira/medium-editor
      // .find('.text-editor')
      var text_editor = this.$el.find('.editable .text-field');
      console.log(text_editor)
      var editor = new MediumEditor(text_editor, {
          anchorInputPlaceholder: 'Type a link',
          placeholder: 'Type your text here',
          buttons: ['bold', 'italic', 'header1', 'header2', 'orderedlist', 'unorderedlist'],
          diffLeft: 0,
          diffTop: -10,
          firstHeader: 'h3',
          secondHeader: 'h5',
          delay: 300,
          targetBlank: true
      });
    }

    // Setup save timer
    var self = this;
    {# this.saveTimer = window.setInterval(function() { #}
    {#   self.saveText(); #}
    {# }, 5000); #}

    return this;
  }
});


var EditorToolbarView = Backbone.View.extend({
  template: _.template($('#toolbar-template').html()),

  render: function() {
    console.log(this.el);
    $(this.el).html( this.template({ name: this.options.name }) );
  },

  events: {
    'mouseover .large-indicator': 'showButtons',
    'mouseleave': 'hideButtons',
    'click .add-text': 'addText',
    'click .add-link': 'addLink',
    'click .add-embed': 'addEmbed',
    'click .add-picture': 'addPicture',
 },
  showButtons: function() {
    this.$el.find('.large-indicator').fadeOut(600);
  },
  hideButtons: function() {
    this.$el.find('.large-indicator').fadeIn(600);
  },

  addText: function(e) {
    this.options.trainingbit.add(new TbPart({type: 'text', html: ''}));
    e.preventDefault();

    saveTrainingBit();
  },

  addLink: function() {
    var self = this;
    var addLink = function() {
      console.log('Adding a link...');
      self.options.trainingbit.add(new TbPartLink({url: $('#modal-add-link input.url').val(), title: $('#modal-add-link input.title').val()}));
      $('#modal-add-link').foundation('reveal', 'close');
      $('#modal-add-link button').off('click', addLink);

      saveTrainingBit();
    };
    $('#modal-add-link button').on('click', addLink);


    $('#modal-add-link').on('close', '[data-reveal]', function () {
      $(this).find('button').off('click', addLink);;
    });

    {# Unnecessary: $('#modal-add-link').foundation('reveal', 'open'); #}
   },

  addEmbed: function() {
    var self = this;
    var addEmbed = function() {
      console.log('Adding an embed...');
      var value = $('#modal-add-embed textarea').val();
      console.log(value);
      self.options.trainingbit.add(new TbPartEmbed({html: value}));
      $('#modal-add-embed').foundation('reveal', 'close');
      $('#modal-add-embed button').off('click', addEmbed);

      saveTrainingBit();
    };
    $('#modal-add-embed button').on('click', addEmbed);

    $('#modal-add-embed').on('close', null, function () {
      $(this).find('button').off('click', addEmbed);;
    });

    {# Unnecessary: $('#modal-add-embed').foundation('reveal', 'open'); #}
  },
  addPicture: function() {
    var self = this;
    var addPicture = function() {
      console.log('Adding a picture...');
      var value = $('#modal-add-picture img').attr('src');
      console.log(value);
      self.options.trainingbit.add(new TbPartPicture({url: value}));
      $('#modal-add-picture').foundation('reveal', 'close');
      $('#modal-add-picture button').off('click', addPicture);

      saveTrainingBit();
    };
    $('#modal-add-picture button').on('click', addPicture);

    $('#modal-add-picture').on('close', null, function () {
      $(this).find('button').off('click', addPicture);;
    });
  },
});


{# DOCUMENT LOAD: document, ready, set, go! #}
$(document).ready(function() {

  //var tb_learn_view = new TrainingBitView({el: $('#learn-edit'), collection: tb_learn});
  var tb_learn_view = new Backbone.CollectionView({
    el: $('#learn-edit > ul'),
    collection: tb_learn,
    modelView: TrainingBitPartView,

    sortable: true,
    sortableOptions: {
      handle: '.handle'
    }
  });
  tb_learn_view.on('sortStop', function() { saveTrainingBit(); });
  var tb_learn_toolbar = new EditorToolbarView({
    name: 'Add learning', // this variable is passed into the views property
                          // called `options` i.e. `this.options.name`
    el: $('#learn-edit .trainingbit-content-editor-toolbar'),
    trainingbit: tb_learn
  });
  tb_learn_view.render();
  tb_learn_toolbar.render();

  var tb_act_view = new Backbone.CollectionView({
    el: $('#act-edit > ul'),
    collection: tb_act,
    modelView: TrainingBitPartView,

    sortable: true,
    sortableOptions: {
      handle: '.handle'
    }
  });
  tb_act_view.on('sortStop', function() { saveTrainingBit(); });
  var tb_act_toolbar = new EditorToolbarView({
    name: 'Add actions', // this variable is passed into the views property
                          // called `options` i.e. `this.options.name`
    el: $('#act-edit .trainingbit-content-editor-toolbar'),
    trainingbit: tb_act
  });
  tb_act_view.render();
  tb_act_toolbar.render();

  var tb_share_view = new Backbone.CollectionView({
    el: $('#share-edit > ul'),
    collection: tb_share,
    modelView: TrainingBitPartView,

    sortable: true,
    sortableOptions: {
      handle: '.handle'
    },
  });
  tb_share_view.on('sortStop', function() { saveTrainingBit(); });
  var tb_share_toolbar = new EditorToolbarView({
    name: 'Add sharing', // this variable is passed into the views property
                          // called `options` i.e. `this.options.name`
    el: $('#share-edit .trainingbit-content-editor-toolbar'),
    trainingbit: tb_share
  });
  tb_share_view.render();
  tb_share_toolbar.render();

  $('#save-button a').click(function() {
      {# console.log(tb_learn.model.toJson()); #}
    console.log(JSON.stringify(tb_learn));
  });


  $('#trainingbit-content-form').submit(function(e) {
    {# e.preventDefault(); #}
    {# e.stopPropagation(); #}
    var tb = {
      learn: tb_learn.toJSON(),
      act: tb_act.toJSON(),
      share: tb_share.toJSON(),
    };
    console.log(JSON.stringify(tb));
    $(this).children('input[name=trainingbit_content_json]').val(JSON.stringify(tb));
  });

});
  </script>

<script>
{# // Set by django #}
{# var csrftoken = $.cookie('csrftoken'); #}

$('#fileupload').fileupload({
  url: '{% url 'upload_picture' %}',
  dataType: 'json',
  // Enable image resizing, except for Android and Opera,
  // which actually support image resizing, but fail to
  // send Blob objects via XHR requests:
  disableImageResize: /Android(?!.*Chrome)|Opera/
      .test(window.navigator && navigator.userAgent),

  imageMaxWidth: 200,
  imageMaxHeight: 200,

  formData: [
      { name: "uid", value: "{{ uid }}"},
      { name: "csrfmiddlewaretoken", value: "{{ csrf_token }}"},
      { name: "identifier", value: "trainingbit_content"}
  ],
  {# maxFileSize: {{ maxfilesize }}, #}
  sequentialUploads: true,
  //imageCrop: true // Force cropped images

  dropZone: $('.dropzone'),

  add: function (e, data) {
    $.each(data.files, function (index, file) {
      console.log('Selected file: ' + file.name);
    });
    data.submit();
    var progressbar = $('<div class="progress success round"> <span class="meter" style="width: 0%"></span> </div>');
    $('#picture div').html('');
    $('#picture div').append(progressbar);
  },
  progressall: function (e, data) {
    var progress = parseInt(data.loaded / data.total * 100, 10);
    $('#picture div div.progress span.meter').css( 'width', progress + '%');
  },
  done: function (e, data) {
    $('#picture').html('');
    $img = $('<img>');
    console.log(data.result);
    $img.attr('src', data.result[0].url);
    $('#picture').append($img);

    {# $.each(data.result.files, function (index, file) { #}
    {#   console.log('Done uploading.'); #}
    {#   $('header').text(file.name); #}
    {# }); #}

  }
  {# change: function (e, data) { #}
  {#   $.each(data.files, function (index, file) { #}
  {#     alert('Selected file: ' + file.name); #}
  {#   }); #}
  {# }, #}

}).prop('disabled', !$.support.fileInput)
  .parent().addClass($.support.fileInput ? undefined : 'disabled');


</script>


{% endblock %}
