{% extends 'base.html' %}
{% load staticfiles %}
{% load permissionif %}
{% load user_skills %}

{% block scripts %}
<script src="{% static 'global_change_lab/js/trainingbit_view.min.js' %}"></script>
{% endblock %}


{% block body-classes %}trainingbit-view{% endblock %}

{% block content %}

<div class="page-buttons">

  {# Mark as recommended #}
  {% permission request.user has 'trainingbit.recommend' %}
    {% if trainingbit.recommended %}
      <a href="{% url 'skills:trainingbit_recommend' trainingbit.id %}" class="button admin-button info">Remove recommendation</a>
    {% else %}
      <a href="{% url 'skills:trainingbit_recommend' trainingbit.id %}" class="button admin-button success">Mark as recommended</a>
    {% endif %}
  {% endpermission %}

  {# Edit trainingbit button #}
  {% permission request.user has 'skills.change_trainingbit' of trainingbit %}
    <a href="{% url 'skills:trainingbit_edit_content' slug=trainingbit.slug %}" class="button info admin-button">Edit training bit</a>
  {% endpermission %}

  {# Delete trainingbit button #}
  {% permission request.user has 'skills.delete_trainingbit' of trainingbit %}
    <a href="{% url 'skills:trainingbit_delete' trainingbit.id %}" data-dynamic="false" class="button hard-delete admin-button">Delete training bit</a>
  {% endpermission %}
</div>

{# Training Bit COVER #}
{% with 'Back to training bit cover' as back_text %}
{% include 'skills/partials/trainingbit_header.html' %}
{% endwith %}

{% comment %}
{% if request.user.is_authenticated %}
  {% if request.user|has_completed_trainingbit:trainingbit %}
    You have completed this training bit!
  {% else %}
    {# {% if skill in request.user.skills_in_progress.all %} #}
    {% if request.user|is_taking_trainingbit:trainingbit %}
      <a class="button" href="{% url 'skills:trainingbit_stop'  trainingbit.id %}">Stop taking this trainingbit</a>
    {% else %}
      {# <a class="button" href="{% url 'skills:trainingbit_start' trainingbit.id %}">Start this trainingbit</a> #}
    {% endif %}
  {% endif %}
{% endif %}
{% endcomment %}

<hr>

<div class="trainingbit">
  <p class="trainingbit-description">{{ trainingbit.description }}</p>
  <div id="learn" class="trainingbit-section">
    <h1>1. Learn</h1>
    <a href="#" class="info-icon" data-reveal-id="learn-info-modal" data-reveal>&#8505;</a>
    <div id="learn-info-modal" class="reveal-modal" data-reveal>
      <h1>Learn</h1>
          Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
      accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab
      illo inventore veritatis et quasi architecto beatae vitae dicta sunt,
      explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut
      odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione
      voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum,
      quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam
      [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam
      quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
      ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
      consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate
      velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum
      fugiat, quo voluptas nulla pariatur?

          At vero eos et accusamus et iusto odio dignissimos ducimus, qui
      blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et
      quas molestias excepturi sint, obcaecati cupiditate non provident,
      similique sunt in culpa, qui officia deserunt mollitia animi, id est
      laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
      distinctio. Nam libero tempore, cum soluta nobis est eligendi optio,
      cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus,
      omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
      quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet,
      ut et voluptates repudiandae sint et molestiae non recusandae. Itaque
      earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
      voluptatibus maiores alias consequatur aut perferendis doloribus
      asperiores repellat…

      <a class="close-reveal-modal">&#215;</a>
    </div>
    <ul></ul>
  </div>
  <div id="act" class="trainingbit-section">
    <h1>2. Act</h1>
    <a href="#" class="info-icon" data-reveal-id="act-info-modal" data-reveal>&#8505;</a>
    <div id="act-info-modal" class="reveal-modal" data-reveal>
      <h1>Act</h1>
          Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
      accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab
      illo inventore veritatis et quasi architecto beatae vitae dicta sunt,
      explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut
      odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione
      voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum,
      quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam
      [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam
      quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
      ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
      consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate
      velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum
      fugiat, quo voluptas nulla pariatur?

          At vero eos et accusamus et iusto odio dignissimos ducimus, qui
      blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et
      quas molestias excepturi sint, obcaecati cupiditate non provident,
      similique sunt in culpa, qui officia deserunt mollitia animi, id est
      laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
      distinctio. Nam libero tempore, cum soluta nobis est eligendi optio,
      cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus,
      omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
      quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet,
      ut et voluptates repudiandae sint et molestiae non recusandae. Itaque
      earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
      voluptatibus maiores alias consequatur aut perferendis doloribus
      asperiores repellat…

      <a class="close-reveal-modal">&#215;</a>
    </div>
    <ul></ul>
  </div>
  <div id="share" class="trainingbit-section">
    <h1>3. Share</h1>
    <a href="#" class="info-icon" data-reveal-id="share-info-modal" data-reveal>&#8505;</a>
    <div id="share-info-modal" class="reveal-modal" data-reveal>
      <h1>Share</h1>
          Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
      accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab
      illo inventore veritatis et quasi architecto beatae vitae dicta sunt,
      explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut
      odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione
      voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum,
      quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam
      [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam
      quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
      ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
      consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate
      velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum
      fugiat, quo voluptas nulla pariatur?

          At vero eos et accusamus et iusto odio dignissimos ducimus, qui
      blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et
      quas molestias excepturi sint, obcaecati cupiditate non provident,
      similique sunt in culpa, qui officia deserunt mollitia animi, id est
      laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
      distinctio. Nam libero tempore, cum soluta nobis est eligendi optio,
      cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus,
      omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem
      quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet,
      ut et voluptates repudiandae sint et molestiae non recusandae. Itaque
      earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
      voluptatibus maiores alias consequatur aut perferendis doloribus
      asperiores repellat…

      <a class="close-reveal-modal">&#215;</a>
    </div>
    <ul></ul>
    <form id="project-form" action="{% url 'skills:trainingbit_view' slug=trainingbit.slug %}" method="POST"  enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="name" placeholder="Title" class="title">
      <textarea name="content" placeholder="Write your thoughts about this training bit"></textarea>
      <div class="buttons">
        <div class="upload-button">
          <a href="#" id="image-upload-button" class="button">Upload image</a>
          <input type="file" name="image" id="image-file-input">
        </div>
        <input type="hidden" name="link_title" value="" id="link_title-hidden-field">
        <input type="hidden" name="link_url" value="" id="link_url-hidden-field">
        <input type="hidden" name="video" value="" id="video-hidden-field">
        <a href="#" id="link-button" class="button" data-reveal-id="modal-add-link" data-reveal>Share link</a>
        <a href="#" id="video-button" class="button" data-reveal-id="modal-add-video" data-reveal>Attach video</a>
      </div>
      <button class="share-button small">Share, and complete training bit</button>
    </form>
    {% if form.errors %}
    <div class="project-form-errors">
      <h4>Error were encountered when trying to submit project</h4>
      {{ form.errors }}
    </div>
    {% endif %}
  </div>
</div>

<div id="modal-add-link" class="reveal-modal medium" data-reveal>
  <h1>Share link</h1>
  <input type="text" placeholder="Link title" id="link_title-input-field">
  <input type="text" placeholder="http://example.org" id="link_url-input-field">
  {# <a href="#" id="share-link-accept" class="button" data-reveal-id="modal-add-link" data-reveal>Share link</a> #}
  <a href="#" id="share-link-accept" class="button">Share link</a>
  <span class="msg"></span>
  <a class="close-reveal-modal">&#215;</a>
</div>
<script>
$('#share-link-accept').click(function(e) {
  e.preventDefault();
  var title = $('#link_title-input-field').val();
  var url = $('#link_url-input-field').val();
  if (url == '' || title == '') {
    $(this).parent().children('.msg').text('Please provide both URL and title for the link.');
  } else {
    $('#link_title-hidden-field').val(title);
    $('#link_url-hidden-field').val(url);
    $('#link-button').addClass('success');
    $('#modal-add-link').foundation('reveal', 'close');
  }
});
</script>
<div id="modal-add-video" class="reveal-modal medium" data-reveal>
  <h1>Share video</h1>
  <input type="text" placeholder="http://example.org" id="video-input-field">
  <a href="#" id="share-video-accept" class="button" data-reveal-id="modal-add-video" data-reveal>Share video</a>
  <a class="close-reveal-modal">&#215;</a>
</div>
<script>
$('#image-file-input').on('change', function() {
    console.log('hi');
  $('#image-upload-button').addClass('success');
});
$('#share-video-accept').click(function(e) {
  e.preventDefault();
  $('#video-hidden-field').val($('#video-input-field').val());
  $('#video-button').addClass('success');
  $('#modal-add-video').foundation('reveal', 'close');
});
</script>

<hr>

{% include 'skills/partials/trainingbit_parts.html' %}

<script>
var tb = {{ trainingbit.json_content|safe }};
{# var tb = {{ trainingbit.json_content|escapejs }}; #}
{# https://docs.djangoproject.com/en/dev/ref/templates/builtins/#escapejs #}

{# document load: document, ready, set, go! #}
$(document).ready(function() {
  var tb_learn = new TrainingBit(
    tb['learn']
  );
  console.log(tb_learn.length);
  console.log(tb_learn.at(0));

  var element = $('#learn > ul');
  {# element.html('HAJ'); #}
  {# console.log(element); #}

  //var tb_learn_view = new trainingbitview({el: $('#learn-edit'), collection: tb_learn});
  var tb_learn_view = new Backbone.CollectionView({
    el: element,
    collection: tb_learn,
    modelView: TrainingBitPartView,
    selectable: false,
    processKeyEvents: false,
  });
  tb_learn_view.render();


  var tb_act = new TrainingBit(
    tb['act']
  );
  var tb_act_view = new Backbone.CollectionView({
    el: $('#act > ul'),
    collection: tb_act,
    modelView: TrainingBitPartView,
    selectable: false,
    processKeyEvents: false,
  });
  tb_act_view.render();

  var tb_share = new TrainingBit(
    tb['share']
  );
  var tb_share_view = new Backbone.CollectionView({
    el: $('#share > ul'),
    collection: tb_share,
    modelView: TrainingBitPartView,
    selectable: false,
    processKeyEvents: false,
  });
  tb_share_view.render();

});

</script>
{% endblock %}


