{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load inlinetrans %}

{% block body-classes %} trainer-interface {% endblock %}
{% block scripts %}
  <script src="{% static 'global_change_lab/js/trainer.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="page-buttons">
  {# Info/help button #}
  <a href="#" class="info-icon" data-reveal-id="info-modal" data-reveal><i class="icon-info"></i></a>
  <div id="info-modal" class="reveal-modal" data-reveal>
    <h1>{% itrans 'General guidelines in making bits' %}</h1>
    <p>{% itrans 'When you make your training bit follow these guidelines.' %}</p>

    <ul>
      <li>{% itrans "Every training bit is a little piece of learning within a bigger context of other training bits and skills" %}</li>
      <li>{% itrans "Every training bit should have it's own learning goal" %}</li>
      <li>{% itrans "Every training bit is a short amount of time usage i.e. 15 min. It is important that the user can see the end in order to keep the motivation. If you have to much material around your content, then make more bits - the user prefer a small bits and many, than one large one:-) Another trick is to divide your content in `must have` for the user and the use links for additional content (i.e. a pdf or long article)" %}</li>
      <li>{% itrans "Be aware that you have to be very concrete and action orientated in your communication - the user is alone in front of the computer or mobile and can not ask you any questions :-)" %}</li>
    </ul>

    <h1>{% itrans 'The cover page' %}</h1>
    <p>{% itrans 'The cover page for the training bit is important because it "sells" and explains the training bit to the user and should get her going with taking the training bit. Your communication have to be straight forward so the user knows what to expect and at the same time be exiting and with great energy :-)' %}</p>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>

<form id="trainingbit-cover-form" class="edit-form" action="{{ request.url }}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="input-field-row">
    <div class="input-field">
      {{ form.name }}
      {{ form.name.errors }}
    </div>
    <div class="help-text">
      <h6>Title</h6>
      {% itrans " Please, give the training bit a name. Remember to give your training bit a name that makes concrete sense. Use a title that explains exactly what it is. Do not give it a fancy title. Users like boring titles online because they then know what to expect." %}
    </div>
  </div>
  <div class="input-field-row">
    <div class="input-field">
      {% if trainingbit.image %}
      <img src="{{trainingbit.getImage}}" style="height: 5rem">
      {% endif %}
      <input id="new-training-bit-cover" type="file" name="image">
    </div>
    <div class="help-text">
      <h6>Cover Image</h6>
      {% itrans "Add a cover image to your training bit. Drag and drop a image from your compuer or select a file from your computer. The cover image will look best if it 1000 x 650 in size." %}
    </div>
  </div>
  <div class="input-field-row">
    <div class="input-field">
      {{ form.description }}
      {{ form.description.errors }}
    </div>
    <div class="help-text">
      <h6>Description</h6>
      {% itrans "Add a description to the training bit. This text is what makes people pick your training bit. Make sure that the description is short and gets the message across." %}
    </div>
  </div>
  <div class="input-field-row">
    <div class="input-field">
      <select name="label">
        {% for label, name in labels %}
        <option value="{{ label }}"{% if trainingbit.label == label %} selected{% endif %}>{{ name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="help-text">
      <h6>Label</h6>
      {% itrans 'A training bit has a label and is either labelled "inspiration", "learning" or "tool". Choose a label for this training bit.' %}
    </div>
  </div>
  <div class="input-field-row">
    <div class="input-field">
      {% include 'skills/partials/topic_selector.html' %}
    </div>
    <div class="help-text">
      <h6>Topics</h6>
      {% itrans "Select topics from the list and add topics to your training bit." %}
    </div>
  </div>
  <div class="input-field-row">
    <div class="input-field">
      <label>
        Draft status: {{ form.is_draft }}
      </label>
    </div>
    <div class="help-text">
      <h6>Draft</h6>
      Only uncheck this when you are ready to show this training bit to the world.
    </div>
  </div>

  <div class="save-actions">
    {# View trainingbit cover button #}
    {% if trainingbit %}
    <a href="{% url 'skills:trainingbit_cover' slug=trainingbit.slug %}">View training bit cover</a>
    {% endif %}

    {# Go to training content button #}
    {% if trainingbit %}
    <a href="{% url 'skills:trainingbit_edit_content' slug=trainingbit.slug %}">Edit training bit content &raquo;</a>
    {% endif %}

    {# Save training bit button #}
    <button id="training-bit-submit" type="submit">
      {% if trainingbit %}
      Save training bit
      {% else %}
      Create new training bit
      {% endif %}
    </button>
  </div>

  </button>
</form>
{{ form_errors }}

<script>

  // Save initial form data
  var saved_data = $('#trainingbit-cover-form').serialize();

  // When user tries to leave the page
  $('a').click(function(e) {
    console.log('Leaving page...');
    var current_data = $('#trainingbit-cover-form').serialize();
    console.log(saved_data);
    console.log(current_data);

    // Check if form has unsaved changes
    if (saved_data !== current_data) {

      // Ask user if he/she wants to leave
      var leave_page = confirm("{% trans 'You have unsaved changes. Do you really want to leave this page?' %}");
      if (!leave_page) {
        e.preventDefault();
      }
    }
  });

  {% comment %}
  This is an alternative solution which uses the event `window.onbeforeunload`
  which is fired whenever the user tries to leave the page. This event is
  however also triggered when the user tries to save the training bit (by
  submitting the form).

  // When user tries to leave the page
  $(window).bind('beforeunload', function(e) {
    console.log('Leaving page...');
    var current_data = $('#trainingbit-cover-form').serialize();
    console.log(saved_data);
    console.log(current_data);

    // Check if form has unsaved changes
    if (saved_data !== current_data) {
      // This will make the browser prompt the user whether or not he/she wants to leave
      {# e.preventDefault(); #}

      // From: http://stackoverflow.com/a/1337002/118608
      //   Note: This message IS NOT displayed in Firefox - as Firefox doesn't
      //   allow you to customize this message. (A default message is displayed)
      //   See https://developer.mozilla.org/en-US/docs/Web/API/Window.onbeforeunload
      var message = "{% trans 'You have unsaved changes. Do you really want to leave this page?' %}";
      e = e || window.event;
      // For IE and Firefox
      if (e) {
        e.returnValue = message;
      }

      // For Safari
      return message;

      {% comment %}
      The `window.confirm()` function is not available when leaving the page
      so we cannot ask the user ourselves -- we have to let the browser do it.
      (via `e.preventDefault()`)

      Ergo the following will not work:

      // Ask user if he/she wants to leave
      var leave_page = confirm("{% trans 'You have unsaved changes. Do you really want to leave this page?' %}");
      if (!leave_page) {
        e.preventDefault();
      }
      {# endcomment #}
    }
  });
  {% endcomment %}
</script>

{% endblock %}
