{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<form class="dropzone" action="{% url "skills:trainingbit_new" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {# <div id="new-training-bit-cover">Upload cover image</div> #}
    <input id="new-training-bit-cover" type="file" name="cover-image">
    <input type="text" name="name" value="Name your training bit">
    <textarea type="text" name="description">Describe your training bit</textarea>
    <button id="training-bit-submit" type="submit">Create new training bit</button>
</form>
{{ form_errors }}
<script src="{% static 'jquery.filedrop.js' %}"></script>
<script type="text/javascript">
  {# $('#new-training-bit-cover').filedrop({ }); #}
</script>

{% endblock %}
