{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load inlinetrans %}


{% block body-classes %} trainer-interface {% endblock %}

{# Load dependencies #}
{% block scripts %}
  <link rel="stylesheet" href="{% static 'medium-editor/medium-editor.css' %}">
  <script src="{% static 'global_change_lab/js/trainingbit_view.min.js' %}"></script>
  <script src="{% static 'global_change_lab/js/trainer.min.js' %}"></script>
  <script src="{% static 'global_change_lab/js/fileupload.min.js' %}"></script>
{% endblock %}


{% block permanent-messages %}
<div id="save-button">
  <a class="button"><span class="icon save"></span><span class="status"></span></a>
</div>
<div class="alert-box info" id="connection-status">
  <span class="icon signal"></span><span class="status">You are currently <strong>not</strong> connected to the internet</span>
</div>
<script>
Offline.options = {
  // Should we monitor AJAX requests to help decide if we have a connection.
  interceptRequests: true,

  // Should we automatically retest periodically when the connection is down (set to false to disable).
  //reconnect: {
    // How many seconds should we wait before rechecking.
    //initialDelay: 3,

    // How long should we wait between retries.
    // delay: (1.5 * last delay, capped at 1 hour)
  //},
};
Offline.on('down', function() {
  console.log('Not connected to the internet');
  $('#connection-status').fadeIn(500);
});
Offline.on('up', function() {
  console.log('Now connected to the internet');
  $('#connection-status').fadeOut(500);
});
</script>
{% endblock %}

{% block content %}


<div class="page-buttons">
  {# View trainingbit button #}
    <a href="{% url 'skills:trainingbit_view' slug=trainingbit.slug %}" class="button info">View training bit</a>
</div>

  {# Training Bit COVER #}
  {% with 'Back to training bit cover' as back_text %}
  {% include 'skills/partials/trainingbit_header.html' %}
  {% endwith %}

  <p class="trainingbit-description">{{ trainingbit.description }}</p>

  <div class="trainingbit">
    <h1>1. Learn</h1>
    <a href="#" class="info-icon" data-reveal-id="learn-info-modal" data-reveal>&#8505;</a>
    <div id="learn-info-modal" class="reveal-modal" data-reveal>
      <h1>Learn</h1>
      {% itrans "This first part of the training bit is focused on giving you the right input and information about the topic you are studying. Whether it is a text on the background of the topic, a tutorial on how to use a specific tool or model or some input that inspires your creative thinking it will help you to understand and later, apply, this particular field." %}
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <div class="trainingbit-content-editor learn-section" id="learn-edit">
      <ul>
      </ul>

      <div class="row trainingbit-content-editor-toolbar">
      </div>
    </div>

    <h1>2. Act</h1>
    <a href="#" class="info-icon" data-reveal-id="act-info-modal" data-reveal>&#8505;</a>
    <div id="act-info-modal" class="reveal-modal" data-reveal>
      <h1>Act</h1>
      {% itrans "The second part of each training bit is focused on action. Whether you have to go out an take photos of your stencil or answer a couple of tricky questions, this is where we want you to act and use the information you read through in the first part in real life." %}
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <div class="trainingbit-content-editor act-section" id="act-edit">
      <ul>
      </ul>

      <div class="row trainingbit-content-editor-toolbar">
      </div>
    </div>
    <h1>3. Share</h1>
    <a href="#" class="info-icon" data-reveal-id="share-info-modal" data-reveal>&#8505;</a>
    <div id="share-info-modal" class="reveal-modal" data-reveal>
      <h1>Share</h1>
      {% itrans "The last part of the training bit - and a step you need to do to complete it - is to share your work with the rest of us. Whether it is a short essay and a video of your latest campaign or a reflection about the use of a specific tool, it is an opportunity for you to share and connect with the Global Change Lab community." %}
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <div class="trainingbit-content-editor share-section" id="share-edit">
      <ul>
      </ul>
      <div class="row trainingbit-content-editor-toolbar">
      </div>
    </div>
  </div>


  {# MODALS #}
  <div id="modal-add-link" class="reveal-modal" data-reveal>
    <h2>Add link</h2>
    <label>URL: <input class="url" type="text" placeholder="http://actionaid.org"></label>
    <label>Title: <input class="title" type="text" placeholder="actionAid"></label>
    <label>Description: <input class="description" type="text" placeholder="The website of actionAid, here you find out more about actionAid's activities."></label>
    <button>Add link</button>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <div id="modal-add-picture" class="reveal-modal medium" data-reveal>
    <h2>Add picture</h2>


    <div class="image-upload">
      <div class="dropzone">
        {# {% if not request.user.image %}<div class="helptext">Drop a picture of yourself here</div>{% endif %} #}
        <div class="helptext">Drop a picture here</div>
        <div class="icon circled-plus"></div>
      </div>
      <div class="upload-button-container">
        <a href="#" class="button">Upload image</a>
        <input class="fileupload" type="file" name="picture"
                data-url="{% url 'upload_picture' %}"
                data-uid="{{ uid }}"
                data-csrf="{{ csrf_token }}"
                data-identifier="trainingbit_image">
      </div>
    </div>

    <button>Add picture</button>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <div id="modal-add-embed" class="reveal-modal" data-reveal>
    <h2>Add embed</h2>
    <label>Embed HTML: <textarea class="html" placeholder="Write some text here..."></textarea></label>
    <button>Add embed</button>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <form id="trainingbit-content-form" action="{% url 'skills:trainingbit_edit_content' slug=trainingbit.slug %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <input type="hidden" id="trainingbit_content_json" name="trainingbit_content_json">
    <button>Save training bit</button>
  </form>



  {# TEMPLATES #}
  <script type="text/template" id="TbPart-editable-template">
    <div class="input-field-row">
      <div class="handle"><span class="icon arrow-combo"></span></div>
      <div class="input-field editable">
        <%= content %>
      </div>
      <div class="help-text">
        <%= help_text %>
      </div>
      <div class="edit">
        <a class=""><span class="icon pencil"></span></a>
      </div>
      <div class="delete">
        <a class=""><span class="icon trash"></span></a><!-- Delete -->
      </div>
    </div>
  </script>

  <script>
  window.GCL = window.GCL || {};
  window.GCL.trainingbit_editable = true;
  console.log('window.GCL: ');
  console.log(window.GCL);
  </script>

  {% include 'skills/partials/trainingbit_parts.html' %}

  <script type="text/template" id="section-template">
    <div class="section-content"></div>

  </script>


  <script type="text/template" id="link-help-text">
    <h6>Link</h6>
  </script>
  <script type="text/template" id="embed-picture-text">
    <h6>Picture</h6>
    Add beautiful pictures to your training bit
  </script>
  <script type="text/template" id="embed-help-text">
    <h6>Embed</h6>
    {% itrans "You can add videos from YouTube or Vimeo by pasting in the videos embed code here" %}
  </script>
  <script type="text/template" id="text-help-text">
    <h6>Text</h6>
    Here you can write text.
  </script>

  <script type="text/template" id="toolbar-template">
    <div class="large-indicator">
      <div class="add-text"><span class="icon circled-plus"></span><%= name %>
      </div>
    </div>
    <div class="icon-container">
      <ul>
        <li>
          <a class="add-text" href="#">
            <span class="icon medium language"></span>
            <p>Add text</p>
          </a>
        </li>
        <li>
          <a class="add-link" href="#" data-reveal-id="modal-add-link" data-reveal>
          <span class="icon medium link"></span><br>
          Add link
          </a>
        </li>
        <li>
          <a class="add-picture" href="#" data-reveal-id="modal-add-picture" data-reveal>
          <span class="icon medium camera"></span><br>
          Add picture
          </a>
        </li>
        <li>
          <a class="add-embed" href="#" data-reveal-id="modal-add-embed" data-reveal>
          <span class="icon medium video"></span>
          <p>Add embed</p>
          </a>
        </li>
          {# <span class="icon medium camera"></span> #}
          {# <span class="icon medium attach"></span> #}
      </ul>
    </div>
  </script>



  <script>

// an EditorToolbar takes a TrainingBit
var EditorToolbar = Backbone.Model.extend({
  trainingbit: null
});


{# INSTANTIATE MODELS #}
{% if trainingbit.json_content == '' %}
var tb = { learn:[], act:[], share:[]};
{% else %}
var tb = {{ trainingbit.json_content|safe }};
{% endif %}
var tb_learn = new TrainingBit(
  tb['learn']
);
var tb_act = new TrainingBit(
  tb['act']
);
var tb_share = new TrainingBit(
  tb['share']
);

if (tb_learn.length < 1) {
  tb_learn.add(new TbPartText());
}

{# AUTO-SAVE #}
// Check out: http://benalman.com/projects/jquery-throttle-debounce-plugin/
// Right now we update the model of the text field on every keypress, but only
// update the form contents every 3000 ms.
var $save_spinner = $('<div id="save-spinner"><span class="icon cycle"></span></div>');
var saveTrainingBit = $.throttle(3000, function() {
  $('#save-button .status').text('Saving...')
  $('#save-button .status').fadeIn(1000);
  {# $('#save-button').append($save_spinner); #}

  // Grab data from the backbone models
  var tb = {
    learn: tb_learn.toJSON(),
    act: tb_act.toJSON(),
    share: tb_share.toJSON(),
  };

  // Insert it into the form
  $('#trainingbit-content-form').children('input[name=trainingbit_content_json]').val(JSON.stringify(tb));
  {# console.log(JSON.stringify(tb)); #}

  // Save it
  $('#trainingbit-content-form').ajaxSubmit({
    error: function() {
      {# $save_spinner.remove(); #}
      $('#save-button .status').text(' Could not save')
      .delay(3000).fadeOut(1000);
    },
    success: function() {
      {# $save_spinner.remove(); #}
      $('#save-button .status').append(' Successfully saved training bit')
      .delay(3000).fadeOut(1000);
    }
  });

});

{# BACKBONE VIEWS #}
var TrainingBitPartView = Backbone.View.extend({

  initialize: function() {
    this.$el = $(this.el);
    this.saveTimer = null;
  },
  remove: function() {
    this.saveText();
    window.clearInterval(this.saveTimer);
  },

  //tagName: 'div',
  events: {
    'click .delete': 'deleteTbPart',
    'click .edit': 'edit',
    // There may be smarter ways to do this, rather than just listening for
    // keypresses.
    // See: http://stackoverflow.com/questions/7802784/listening-to-events-of-a-contenteditable-html-element/7804973#7804973
    'keypress .text-field': 'saveText',
    'blur .text-field': 'saveText',
  },

  deleteTbPart: function() {
    if (confirm('Are you sure want to remove this ' + this.model.get('type') + '?')) {
      this.model.destroy()
    }
  },

  saveText: function() {
    if (this.model.get('type') == 'text') {
      this.model.attributes.html = this.$el.find('.text-field').html();
    }
    saveTrainingBit();
  },

  edit: function() {

    var type = this.model.get('type');
    console.log('Editing: ' + type);

    if (type == 'link') {
      var self = this;
      $('#modal-add-link button').text('Update link');

      // Update modal window with values
      $('#modal-add-link input.url').val(this.model.get('url'));
      $('#modal-add-link input.title').val(this.model.get('title'));
      $('#modal-add-link input.description').val(this.model.get('description'));

      var addLink = function() {
        console.log('Updating link...');

        self.model.set('url', $('#modal-add-link input.url').val());
        self.model.set('title', $('#modal-add-link input.title').val());
        self.model.set('description', $('#modal-add-link input.description').val());
        self.render();

        $('#modal-add-link').foundation('reveal', 'close');
        $('#modal-add-link button').off('click', addLink);

        saveTrainingBit();
      };
      $('#modal-add-link button').on('click', addLink);


      {# $('#modal-add-link').on('close', '[data-reveal]', function () { #}
      $('#modal-add-link').on('close', function() {
        $(this).find('button').off('click', addLink);;

        // Reset fields and button text
        $('#modal-add-link button').text('Add link');
        $('#modal-add-link input.url').val('');
        $('#modal-add-link input.title').val('');
        $('#modal-add-link input.description').val('');
      });

      $('#modal-add-link').foundation('reveal', 'open');
    }
  },

  render: function() {
    window.clearInterval(this.saveTimer);

    console.log('Rendering TrainingBitPart');

    var type = this.model.get('type');
    console.log('of type: ' + type);


    // Render the content of the TrainingBitPart
    var content   = _.template($('#' + type + '-template').html(), this.model.toJSON());
    // Fetch the help text for the TrainingBitPart
    var help_text = $('#' + type + '-help-text').html()

    // Render the full view (with help text, drag handle, delete button ...)
    var TbPart_template =  _.template($('#TbPart-editable-template').html());
    var rendered = TbPart_template({
      'content'  : content,
      'help_text': help_text
    });

    this.$el.html(rendered);

    // Initialize text editor
    if (type == 'text') {
      // https://github.com/daviferreira/medium-editor
      // .find('.text-editor')
      var text_editor = this.$el.find('.editable .text-field');
      console.log(text_editor)
      var editor = new MediumEditor(text_editor, {
          anchorInputPlaceholder: 'Type a link',
          placeholder: '{% trans "Add text - if you want to make the text a header or into bullits or italics etc. please select the text and choose how you want to configure it" %}',
          buttons: ['bold', 'italic', 'header1', 'header2', 'orderedlist', 'unorderedlist'],
          diffLeft: 0,
          diffTop: -10,
          firstHeader: 'h3',
          secondHeader: 'h5',
          delay: 300,
          targetBlank: true
      });
    }
    if (type == 'link') {
      //this.$el.find('.edit')
    } else {
      this.$el.find('.edit').hide();
    }

    // Setup save timer
    var self = this;
    {# this.saveTimer = window.setInterval(function() { #}
    {#   self.saveText(); #}
    {# }, 5000); #}

    return this;
  }
});


var EditorToolbarView = Backbone.View.extend({
  template: _.template($('#toolbar-template').html()),

  render: function() {
    console.log(this.el);
    $(this.el).html( this.template({ name: this.options.name }) );
  },

  events: {
    'mouseover .large-indicator': 'showButtons',
    'mouseleave': 'hideButtons',
    'click .add-text': 'addText',
    'click .add-link': 'addLink',
    'click .add-embed': 'addEmbed',
    'click .add-picture': 'addPicture',
 },
  showButtons: function() {
    this.$el.find('.large-indicator').fadeOut(600);
  },
  hideButtons: function() {
    this.$el.find('.large-indicator').fadeIn(600);
  },

  addText: function(e) {
    this.options.trainingbit.add(new TbPart({type: 'text', html: ''}));
    e.preventDefault();

    saveTrainingBit();
  },

  addLink: function() {
    var self = this;
    var addLink = function() {
      console.log('Adding a link...');
      self.options.trainingbit.add(new TbPartLink({
        url: $('#modal-add-link input.url').val(),
        title: $('#modal-add-link input.title').val(),
        description: $('#modal-add-link input.description').val()
      }));
      $('#modal-add-link').foundation('reveal', 'close');
      $('#modal-add-link button').off('click', addLink);

      saveTrainingBit();
    };
    $('#modal-add-link button').on('click', addLink);


    $('#modal-add-link').on('close',function() {
      $(this).find('button').off('click', addLink);;
    });

    {# Unnecessary: $('#modal-add-link').foundation('reveal', 'open'); #}
   },

  addEmbed: function() {
    var self = this;
    var addEmbed = function() {
      console.log('Adding an embed...');
      var value = $('#modal-add-embed textarea').val();
      console.log(value);
      self.options.trainingbit.add(new TbPartEmbed({html: value}));
      $('#modal-add-embed').foundation('reveal', 'close');
      $('#modal-add-embed button').off('click', addEmbed);

      saveTrainingBit();
    };
    $('#modal-add-embed button').on('click', addEmbed);

    $('#modal-add-embed').on('close', null, function () {
      $(this).find('button').off('click', addEmbed);;
    });

    {# Unnecessary: $('#modal-add-embed').foundation('reveal', 'open'); #}
  },
  addPicture: function() {
    var self = this;
    var addPicture = function() {

      var image_url = $('#modal-add-picture .image-upload').data('image_url');

      console.log('Adding a picture: "' + image_url + '".');

      self.options.trainingbit.add(new TbPartPicture({url: image_url}));

      // Close modal
      $('#modal-add-picture').foundation('reveal', 'close');

      saveTrainingBit();
    };

    // Add event handler
    $('#modal-add-picture button').on('click', addPicture);
    // Remove event handler on close
    $('#modal-add-picture').on('close', null, function () {
      $(this).find('button').off('click', addPicture);;
    });
  },
});


{# DOCUMENT LOAD: document, ready, set, go! #}
$(document).ready(function() {

  //var tb_learn_view = new TrainingBitView({el: $('#learn-edit'), collection: tb_learn});
  var tb_learn_view = new Backbone.CollectionView({
    el: $('#learn-edit > ul'),
    collection: tb_learn,
    modelView: TrainingBitPartView,

    sortable: true,
    sortableOptions: {
      handle: '.handle'
    }
  });
  tb_learn_view.on('sortStop', function() { saveTrainingBit(); });
  var tb_learn_toolbar = new EditorToolbarView({
    name: 'Add learning', // this variable is passed into the views property
                          // called `options` i.e. `this.options.name`
    el: $('#learn-edit .trainingbit-content-editor-toolbar'),
    trainingbit: tb_learn
  });
  tb_learn_view.render();
  tb_learn_toolbar.render();

  var tb_act_view = new Backbone.CollectionView({
    el: $('#act-edit > ul'),
    collection: tb_act,
    modelView: TrainingBitPartView,

    sortable: true,
    sortableOptions: {
      handle: '.handle'
    }
  });
  tb_act_view.on('sortStop', function() { saveTrainingBit(); });
  var tb_act_toolbar = new EditorToolbarView({
    name: 'Add actions', // this variable is passed into the views property
                          // called `options` i.e. `this.options.name`
    el: $('#act-edit .trainingbit-content-editor-toolbar'),
    trainingbit: tb_act
  });
  tb_act_view.render();
  tb_act_toolbar.render();

  var tb_share_view = new Backbone.CollectionView({
    el: $('#share-edit > ul'),
    collection: tb_share,
    modelView: TrainingBitPartView,

    sortable: true,
    sortableOptions: {
      handle: '.handle'
    },
  });
  tb_share_view.on('sortStop', function() { saveTrainingBit(); });
  var tb_share_toolbar = new EditorToolbarView({
    name: 'Add sharing', // this variable is passed into the views property
                          // called `options` i.e. `this.options.name`
    el: $('#share-edit .trainingbit-content-editor-toolbar'),
    trainingbit: tb_share
  });
  tb_share_view.render();
  tb_share_toolbar.render();

  $('#save-button a').click(function() {
      {# console.log(tb_learn.model.toJson()); #}
    console.log(JSON.stringify(tb_learn));
  });


  $('#trainingbit-content-form').submit(function(e) {
    {# e.preventDefault(); #}
    {# e.stopPropagation(); #}
    var tb = {
      learn: tb_learn.toJSON(),
      act: tb_act.toJSON(),
      share: tb_share.toJSON(),
    };
    console.log(JSON.stringify(tb));
    $(this).children('input[name=trainingbit_content_json]').val(JSON.stringify(tb));
  });

});
  </script>

{% endblock %}
