{% extends "base.html" %}
{% load permissionif %}
{% load inlinetrans %}

{% block body-classes %}trainingbits-overview{% endblock %}

{% block info %}
{% comment %}
<p>
A training bit is a small bit of training activity that goes into a skill. Each training
bit has some inspiring content, an activity that you can do and gives you the option of
sharing your thoughts, actions, images or projects with others.
There are 3 types of training bits:
</p>
<p><strong>Tool</strong> gives you concrete methods, practical and actionable recipes for action.</p>
<p><strong>Inspiration</strong> where you find inspirational cases and examples from current or 
historic activist movements.</p>
<p><strong>Background</strong> where you get behind the theories, thoughts and principles
behind the topics.</p>
{% endcomment %}

<p>
{% itrans "Training bits are small pieces of inspiration, tools or background in activism and social change. Each training bit has something for you to learn, to act upon and to share with other activists. You are free to choose the bits you want and do them in your own pace." %}
</p>
{% endblock %}

{% block content %}
<div class="page-buttons">
  {# View recommended #}
  {% if showing_recommended %}
    <a href="{% url 'skills:trainingbits_overview' %}" class="button">
      Show all
    </a>
  {% else %}
    <a href="{% url 'skills:trainingbits_overview_recommended' %}" class="button">
      Show recommended
    </a>
  {% endif %}

  {# Topics #}
    {% if topic_chosen %}
      <a href="{% url 'skills:trainingbits_overview' topic_chosen.slug %}" class="button sorting" data-dropdown="skill-all-topics">
        {{ topic_chosen.name }}
        <span class="icon triangle-down red"></span>
      </a>
    {% else %}
      <a href="{% url 'skills:trainingbits_overview' %}" class="button sorting" data-dropdown="skill-all-topics">
        All topics
        <span class="icon triangle-down red"></span>
      </a>
    {% endif %}
  <ul id="skill-all-topics" class="f-dropdown topics" data-dropdown-content>
    {% for topic in topics %}
      {# {% if topic != topic_chosen %} #}
      <li><a href="{% url 'skills:trainingbits_overview' topic.slug %}">{{ topic.name }}</a></li>
      {# {% endif %} #}
    {% endfor %}
    {# {% if topic_chosen %} #}
      <li><a href="{% url 'skills:trainingbits_overview' %}">All topics</a></li>
    {# {% endif %} #}
  </ul>

  {# Sorting #}
  <a href="#" class="button sorting" data-dropdown="skill-sort">
    Sort by
    <span class="icon triangle-down red"></span>
  </a>
  <ul id="skill-sort" class="f-dropdown" data-dropdown-content>
    <li><a href="?sort=created_at&dir=desc">Newest</a></li>
    <li><a href="?sort=created_at&dir=asc">Oldest</a></li>
  </ul>

  {# View public #}
  {% if showing_drafts %}
    <a href="{% url 'skills:trainingbits_overview' %}" class="button info">
      Show public trainingbits
    </a>
  {% else %}
    {% permission request.user has 'skills.add_trainingbit' %}
    <a href="{% url 'skills:trainingbits_overview_all' show_drafts=True %}" class="button info">
      Show drafts
    </a>
    {% endpermission %}
  {% endif %}
</div>
<h1 class="white-on-red">Training Bits</h1>
<hr>

  {% include 'partials/trainingbits_grid.html' %}

{% endblock %}

{% block fat_footer %}
{% include 'partials/fat_footer.html' %}
{% endblock %}
