{% extends 'base.html' %}

{% load permissionif %}

{% block content %}

<div class="page-buttons">
  {# Edit trainingbit button #}
  {% permission request.user has 'trainingbit.edit'  %}
    <a href="{% url 'skills:trainingbit_edit' trainingbit.id %}" class="button info">Edit training bit</a>
  {% endpermission %}

  {# Delete trainingbit button #}
  {% permission request.user has 'trainingbit.delete'  %}
    <a href="{% url 'skills:trainingbit_delete' trainingbit.id %}" class="button">Delete training bit</a>
  {% endpermission %}
</div>

<div id="trainingbit-cover" style="background-image: url({{trainingbit.getImage}})">
  <h1>{{ trainingbit.name }}</h1>
</div>
<div class="row">
  <div class="columns medium-9 main-column">
    <p class="trainingbit-description">{{ trainingbit.description }}</p>
    <div class="start-trainingbit-container">
      <a href="{% url 'skills:trainingbit_start' trainingbit.id %}" class="button small begin">Start this training bit</a>
    </div>
    <hr>
    <h2>Shared by others</h2>
    {% include 'partials/project_list.html' %}
  </div>
  <div class="columns medium-3 sidebar">
    <div class="metadata">
      {# <span class="icon small heart red"></span> {{ trainingbit.users_in_progress.count }} #}
      <span class="icon users red"></span><span class="count">{{ trainingbit.users_in_progress.count }}</span>
      <span class="icon chat red"></span><span class="count">{{ trainingbit.project_set.count }}</span>
    </div>
    <div class="author-info">
      <img src="{{ trainingbit.author.getImage }}">
      {{ trainingbit.author.username }}<br>
      <span class="date">{{ trainingbit.created_at|date }}</span>
    </div>
    <hr>
    <h5>Included in these skills</h5>
    <ul class="no-bullet">
      {% for skill in trainingbit.skill_set.all %}
      <li><a href="{{ skill.get_absolute_url }}">{{ skill.name }}</a></li>
      {% endfor %}
    </ul>
    <h5>Related topics</h5>
    <ul class="no-bullet">
      {% for topic in trainingbit.topic_set.all %}
      <li><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% comment %}
<div class="row">
  <h2>Related training bits</h2>
  {#{% include 'skills/partials/trainingbit_grid.html' with skills=trainingbit.skill_set.all %}#}
</div>
{% endcomment %}

{% endblock %}
