{% extends 'base.html' %}
{% load staticfiles %}

{% block scripts %}
<script src="{% static 'jquery-form/jquery.form.js' %}"></script>
{% endblock %}

{% load comments %}

{% block content %}
  {% include 'skills/partials/trainingbit_cover.html' %}
  {% if trainingbit.author == user %}
    <a href="{% url 'skills:trainingbit_delete' trainingbit.id %}" class="button">Delete training bit</a>
  {% endif %}

<hr>

{# Comments section #}
<h3>Shared by others</h3>
{% render_comment_list for trainingbit %}
{% render_comment_form for trainingbit %}

{% endblock %}
