{% extends 'base.html' %}
{% load staticfiles %}
{% load inlinetrans %}

{% block body-classes %} trainer-interface {% endblock %}
{% block scripts %}
  <script src="{% static 'global_change_lab/js/trainer.min.js' %}"></script>
{% endblock %}

{% block content %}

<div class="page-buttons">
  {# View trainingbit button #}
  {% if trainingbit %}
  <a href="{% url 'skills:trainingbit_cover' slug=trainingbit.slug %}" class="button info">View training bit cover</a>
  {% endif %}
</div>

<form id="training-bit-cover-form" action="{{ request.url }}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="input-field-row">
    <div class="input-field">
      {{ form.name }}
      {{ form.name.errors }}
    </div>
    <div class="help-text">
      <h6>Title</h6>
      {% itrans "Please, give the training bit a name" %}
    </div>
  </div>
  <div class="input-field-row">
    <div class="input-field">
      {% if trainingbit.image %}
      <img src="{{trainingbit.getImage}}" style="height: 5rem">
      {% endif %}
      <input id="new-training-bit-cover" type="file" name="image">
    </div>
    <div class="help-text">
      <h6>Cover Image</h6>
      {% itrans "Add a cover image to your training bit. Drag and drop a image from your compuer or select a file from your computer. The cover image will look best if it 1000 x 650 in size." %}
    </div>
  </div>
  <div class="input-field-row">
    <div class="input-field">
      {{ form.description }}
      {{ form.description.errors }}
    </div>
    <div class="help-text">
      <h6>Description</h6>
      {% itrans "Add a description to the training bit. This text is what makes people pick your training bit. Make sure that the description is short and gets the message across." %}
    </div>
  </div>
  <div class="input-field-row">
    <div class="input-field">
      <select name="label">
        {% for label, name in labels %}
        <option value="{{ label }}"{% if trainingbit.label == label %} selected{% endif %}>{{ name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="help-text">
      <h6>Label</h6>
      {% itrans 'A training bit has a label and is either labelled "inspiration", "learning" or "tool". Choose a label for this training bit.' %}
    </div>
  </div>
  <div class="input-field-row">
    <div class="input-field">
      {% include 'skills/partials/topic_selector.html' %}
    </div>
    <div class="help-text">
      <h6>Topics</h6>
      {% itrans "Select topics from the list and add topics to your training bit." %}
    </div>
  </div>
  <div class="input-field-row">
    <div class="input-field">
      <label>
        Draft status: {{ form.is_draft }}
      </label>
    </div>
    <div class="help-text">
      <h6>Draft</h6>
      Only uncheck this when you are ready to show this training bit to the world.
    </div>
  </div>
  <button id="training-bit-submit" type="submit">
    {% if trainingbit %}
    Save training bit
    {% else %}
    Create new training bit
    {% endif %}
  </button>
</form>
{{ form_errors }}
<script src="{% static 'jquery.filedrop.js' %}"></script>
<script type="text/javascript">
  {# $('#new-training-bit-cover').filedrop({ }); #}
</script>

{% endblock %}
