{% extends 'base.html' %}

{% load permissionif %}
{% load i18n %}

{# Metadata: For Facebook updates, Twitter tweets, and posts on your Google Plus wall (Open Graph etc.) #}
{% block extra_head %}
  {% include 'skills/partials/metadata_tags.html' with title="GCL training bit: "|add:trainingbit.name description=trainingbit.description image=trainingbit.image url=trainingbit.get_absolute_url %}
{% endblock %}

{% block content %}

<div class="page-buttons">
  {# Mark as recommended #}
  {% permission request.user has 'trainingbit.recommend' %}
    {% if trainingbit.is_recommended %}
      <a href="{% url 'skills:trainingbit_recommend' trainingbit.id %}" class="button admin-button info">Remove recommendation</a>
    {% else %}
      <a href="{% url 'skills:trainingbit_recommend' trainingbit.id %}" class="button admin-button success">Mark as recommended</a>
    {% endif %}
  {% endpermission %}

  {# Edit trainingbit button #}
  {% permission request.user has 'skills.change_trainingbit' of trainingbit %}
    <a href="{% url 'skills:trainingbit_edit' slug=trainingbit.slug %}" class="button info admin-button">Edit training bit</a>
  {% endpermission %}

  {# Delete trainingbit button #}
  {% permission request.user has 'skills.delete_trainingbit' of trainingbit %}
    <a href="{% url 'skills:trainingbit_delete' trainingbit.id %}" data-dynamic="false" class="button hard-delete admin-button">Delete training bit</a>
  {% endpermission %}
</div>

{% with 'Back to skill' as back_text %}
{% include 'skills/partials/trainingbit_header.html' %}
{% endwith %}

<div class="row">
  <div class="gcl-column2 cover-description">
    <p class="trainingbit-description">{{ trainingbit.description }}</p>
    <div class="start-trainingbit-container">
      {% if request.user.is_authenticated %}
        {% if trainingbit in request.user.trainingbits_in_progress.all %}
          <a href="{% url 'skills:trainingbit_view' slug=trainingbit.slug %}" class="button small begin">Continue training bit</a>
        {% elif trainingbit in request.user.trainingbits_completed.all %}
          <a href="{% url 'skills:trainingbit_start' trainingbit.id %}" class="button small begin">Do this training bit again</a>
        {% else %}
          <a href="{% url 'skills:trainingbit_start' trainingbit.id %}" class="button small begin">Start this training bit</a>
        {% endif %}
      {% else %}
        <a href="{% url 'skills:trainingbit_start' trainingbit.id %}" class="button small begin">Start this training bit</a>
      {% endif %}
    </div>
    <div class="metadata-with-like-button">
      <div class="tooltip" data-tooltip="{% trans 'Number of likes this training bit has' %}">{% include 'skills/partials/like_counter.html' with object=trainingbit %}</div>
      <div class="tooltip" data-tooltip="{% trans 'Number of users who are currently taking this training bit' %}"><span class="icon users red"></span><span class="count">{{ trainingbit.users_in_progress.count }}</span></div>
      <div class="tooltip" data-tooltip="{% trans 'Number of shares' %}{# submitted to this training bit' #}"><span class="icon megaphone red"></span><span class="count">{{ trainingbit.project_set.count }}</span></div>

      {% include 'skills/partials/like_button.html' with object=trainingbit %}
    </div>
  </div>
  <div class="gcl-column sidebar">

    <div class="metadata-fat">
      <div class="profile-picture" style="background-image: url({{ trainingbit.author.getImage }})"></div>
      <div class="text">
        <a href="{{ trainingbit.author.get_absolute_url }}" class="author">{{ trainingbit.author.username }}</a><br>
        <span class="date">{{ trainingbit.created_at|date }}</span>
      </div>
    </div>

    <div>
      <div class="columns small-6">
        <h5>Topics</h5>
        <ul class="no-bullet">
          {% for topic in trainingbit.topic_set.all %}
          <li><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="columns small-6">
        <h5>Skills</h5>
        <ul class="no-bullet">
          {% for skill in trainingbit.skill_set.all %}
          <li><a href="{{ skill.get_absolute_url }}">{{ skill.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <h2>Shared by others</h2>
  <div class="gcl-column">
    {% for project in project_list0 %}
      {% include 'skills/partials/project_column.html' %}
    {% endfor %}
  </div>
  <div class="gcl-column">
    {% for project in project_list1 %}
      {% include 'skills/partials/project_column.html' %}
    {% endfor %}
  </div>
  <div class="gcl-column">
    {% include 'skills/partials/comment_list_compact.html' with hide_reply=True show_project=True maxchars=200 %}
  </div>
</div>

{% comment %}
<div class="row">
  <h2>Related training bits</h2>
  {% include 'partials/trainingbits_grid.html' with trainingbits=related_trainingbits %}
  {#{% include 'skills/partials/trainingbit_grid.html' with skills=trainingbit.skill_set.all %}#}
</div>
{% endcomment %}

{% endblock %}

{% block fat_footer %}
{% include 'partials/fat_footer.html' %}
{% endblock %}
