{% extends "base.html" %}

{% load staticfiles %}

{% block admin_dashboard_button %}
{% endblock %}

{% block body-classes %} trainer-interface {% endblock %}
{% block scripts %}
  <script src="{% static 'global_change_lab/js/trainer.min.js' %}"></script>
{% endblock %}

{% block content %}
<div id="admin-dashboard">
  <h1>Administrator Dashboard - flagged comments</h1>
  <hr>


  {# Hidden elements we supply for Javascript #}

  {#   Delete dropdown #}
  <div id="comment-delete-dropdown" class="f-dropdown" data-dropdown-content>
    <h6>Really delete this comment?</h6>
    <a href="#" class="delete button">Delete comment</a>
    <a href="#" class="button close info">Cancel</a>
  </div>

  {#   Flag dropdown #}
  <div id="comment-flag-dropdown" class="f-dropdown" data-dropdown-content>
    <h6>Really flag this comment?</h6>
    <a href="#" class="flag button">Flag comment</a>
    <a href="#" class="button close info">Cancel</a>
  </div>

  {# Comments section #}
  <h3>Comments</h3>
  <div class="comment-list">
  {% if comments %}
  {% for comment in comments %}
    {% include 'skills/partials/comment_entry.html' %}
    <div id="replies-for-{{comment.pk}}" class="replies" data-parent-pk="{{ comment.pk }}" data-project-pk="{{ project.pk }}">
    {% for reply in comment.comment_set.all %}
      {% include 'skills/partials/comment_entry.html' with comment=reply %}
    {% endfor %}
    </div>
  {% endfor %}
  {% else %}
  {# <div class="message-missing">No comments yet</div> #}
    <span class="missing-message notice">No comments yet</span>
  {% endif %}
  </div>

</div>

{% endblock %}

{% block fat_footer %}
{% include 'partials/fat_footer.html' %}
{% endblock %}
