{% load staticfiles %}
{% load permissionif %}
{% load solo_tags %}
{% load navigation %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {# For showing not-full-pages to iPhones  #}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet" type="text/css">
  {% if debug %}
  <script src="//localhost:35729/livereload.js"></script>
  {% endif %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="{% static 'global_change_lab/js/user.min.js' %}"></script>

  <script>
    window.GCL = {
    {% if is_logged_in %}
      logged_in: true
    {% else %}
      logged_in: false
    {% endif %}
    }
  </script>
  

  {# {% django-inplaceedit %} #}
  {% load inplace_edit %}
  {% inplace_static %}

  {% block scripts %}
  {% endblock %}
  <link rel="stylesheet" href="{% static 'global_change_lab/css/app.css' %}" />
  <title>{% block title %}Global Change Lab{% endblock %}</title>
</head>

<body class="{% block body-classes %}{% endblock %}">

  <div id="messages">
    {% for message in messages %}
    <div class="alert-box {{ message.tags }}" data-alert>
      {{ message }}
      <a href="#" class="close">&times;</a>
    </div>
    {% endfor %}
  </div>

  <div id="permanent-messages">
    {% block permanent-messages %}
    {% endblock %}
  </div>


  {# Unfortunately we need this wrapper to position the footer at the bottom of the page #}
  <div id="sticky-footer-wrap">
    <header class="{% block header-classes %}{% endblock %}">
      <div class="row">
        <a href="/" title="Global Change Lab home" id="gcl-logo"><img src="{% static 'images/gcl-logo.png' %}"></a>

        <div id="logged-in-menu">
        {% if user.is_authenticated %}
          <a href="#" class="button" data-dropdown="drop">
            <span class="icon user"></span>
            {{ user.username }}
            <span class="icon triangle-down red"></span>
          </a>
          <ul id="drop" class="f-dropdown" data-dropdown-content>
            <li><a href="{% url 'profile' %}">View my profile</a></li>
            <li><a href="{% url 'account_logout' %}">Sign out</a></li>
          </ul>
        {% else %}
          <a href="{% url 'account_login' %}" class="button">
            Sign in
            <span class="icon triangle-down red"></span>
          </a>
        {% endif %}
        </div>
        
        {% block trainer_dashboard_button %}
        {% permission request.user has 'trainingbit.create'  %}
        <div id="trainer-dashboard-button">
          <a href="{% url 'trainer_dashboard' %}" class="button">Trainer Dashboard</a>
        </div>
        {% endpermission %}
        {% endblock %}

        {% block admin_dashboard_button %}
        {% if request.user.is_admin  %}
        <div id="admin-dashboard-button">
          <a href="{% url 'admin_dashboard' %}" class="button">Admin Dashboard</a>
        </div>
        {% endif %}
        {% endblock %}

        <nav>
          {% if request.user.is_authenticated %}
          <!-- Left Nav Section -->
          <ul>
            <li><a class="{% current 'skills:skills_overview' %}" href="{% url 'skills:skills_overview' %}">Skills</a></li>
            <li><a class="{% current 'skills:trainingbits_overview' %}" href="{% url 'skills:trainingbits_overview' %}">Bits</a></li>
            <li><a class="{% current 'skills:shares_overview' %}" href="{% url 'skills:shares_overview' %}">Shares</a></li>
          </ul>
          {% endif %}

        </nav>
      </div>
    </header>
    <div id="content" class="{% block content-classes %}{% endblock %}">

    <div id="info-box" data-url-name="{% current_url_name %}">
      <div class="text">{% block info %}{% endblock %}</div>
      <a href="#" class="close">&times;</a>
    </div>

        {% block content %}{% endblock %}
    </div>
    <div id="sticky-footer-push"></div>
  </div>
  {# End wrapper for content in "sticky footer"-scheme #}

  <footer class="{% block footer-classes %}{% endblock %}">
    <div class="fat-footer">
      <div class="row">
        <div class="medium-6 columns recently-shared">
          <h6>Recently shared</h6>
          {% for project in recent_projects %}
          <div class="row">
            <div class="columns small-2">
              <img src="{{ project.author.getImage }}">
            </div>
            <div class="columns small-10 text">
              <a href="{% url 'profile' project.author.pk %}">{{ project.author.username }}</a>
              shared
              <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
              in the bit
              <a href="{% url 'skills:trainingbit_cover' project.trainingbit.pk %}">{{ project.trainingbit.name }}</a>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="medium-6 columns likes-n-comments">
          <h6>Recent likes and comments</h6>
          <ul>
          {% for comment in recent_comments %}
            <li>
              <span class="icon chat red"></span>
              <a href="{% url 'profile' comment.author.pk %}">{{ comment.author.username }}</a>
              commented on
              <a href="{{ comment.project.get_absolute_url }}">{{ comment.project.name }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      {% block footer %}
      <div class="row" id="footer-links">
        <div class="large-4 columns">
          <h6>About Global Change Lab</h6>

          {% load flatpages %}
          {% get_flatpages as flatpages %}
          {% for page in flatpages %}
            <a href="{% url 'django.contrib.flatpages.views.flatpage' page.url %}">{{ page.title }}</a>
          {% endfor %}
        </div>
        <div class="large-4 columns">
          <h6>Training extras</h6>
          <a href="#">Search for a training</a>
          <a href="#">All training</a>
          <a href="#">How to apply</a>
        </div>
        <div class="large-4 columns">
          <h6>Who we are</h6>
          <a href="#">Training principals</a>
          <a href="#">Who we work with</a>
          <a href="#">GP</a>
          <a href="#">News</a>
          <a href="#">Contact</a>
        </div>
      </div>
      {% endblock %}
    </div>
  </footer>

  <script>$(document).foundation();</script>

  {% get_solo 'global_change_lab.SiteConfiguration' as site_config %}
  {{ site_config.analytics_code|safe }}

</body>
</html>
