{% load staticfiles %}
{% load permissionif %}
{% load solo_tags %}
{% load navigation %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {# For showing not-full-pages to iPhones  #}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet" type="text/css">
  {% if debug %}
  <script src="//localhost:35729/livereload.js"></script>
  {% endif %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="{% static 'global_change_lab/js/user.min.js' %}"></script>

  <script>
    window.GCL = {
    {% if is_logged_in %}
      logged_in: true
    {% else %}
      logged_in: false
    {% endif %}
    }
  </script>

  {% block scripts %}
  {% endblock %}
  <link rel="stylesheet" href="{% static 'global_change_lab/css/app.css' %}">
  <!--[if ie 9]>
  <link rel="stylesheet" href="{% static 'global_change_lab/css/ie9.css' %}">
  <![endif]-->

  <title>{% block title %}Global Change Lab{% endblock %}</title>
</head>

<body class="{% block body-classes %}{% endblock %}">

  {% comment %}
  {# It was decided that we don't show messages #}
  <div id="messages">
    {% for message in messages %}
    <div class="alert-box {{ message.tags }}" data-alert>
      {{ message }}
      <a href="#" class="close">&times;</a>
    </div>
    {% endfor %}
  </div>
  {% endcomment %}

  <div id="permanent-messages">
    {% block permanent-messages %}
    {% endblock %}
  </div>


  {# Unfortunately we need this wrapper to position the footer at the bottom of the page #}
  <div id="sticky-footer-wrap">
    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <!-- <h1><a href="#">My Site</a></h1> -->
            <a href="/" title="Global Change Lab home" id="gcl-logo"><img src="{% static 'images/gcl-logo.png' %}"></a>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
            {% block nav_buttons %}
              <li><a class="{% current 'skills:skills_overview' %}" href="{% url 'skills:skills_overview' %}">Skills</a></li>
              <li><a class="{% current 'skills:trainingbits_overview' %}" href="{% url 'skills:trainingbits_overview' %}">Bits</a></li>
              <li><a class="{% current 'skills:shares_overview' %}" href="{% url 'skills:shares_overview' %}">Shares</a></li>
            {% endblock %}
          </ul>

          <!-- Right Nav Section -->
          <ul class="right">
            {% block admin_dashboard_button %}
            {% if request.user.is_admin  %}
            <li id="admin-dashboard-button">
              <a href="{% url 'admin_dashboard' %}" class="button admin-button">Admin Dashboard</a>
            </li>
            {% endif %}
            {% endblock %}

            {% block trainer_dashboard_button %}
            {% if request.user.is_trainer %}
            <li id="trainer-dashboard-button">
              <a href="{% url 'trainer_dashboard' %}" class="button admin-button">Trainer Dashboard</a>
            </li>
            {% endif %}
            {% endblock %}

            {% if user.is_authenticated %}
            <li id="logged-in-menu" class="has-dropdown logged-in">
              <a href="#">
                <span class="icon user"></span>
                {{ user.username }}
              </a>
              <ul class="dropdown">
                <li><a href="{% url 'profile' %}">View my profile</a></li>
                <li><a href="{% url 'account_logout' %}">Sign out</a></li>
              </ul>
            {% else %}
            <li id="logged-in-menu" class="">
              <a href="{% url 'account_login' %}" class="button">
                Sign in
              </a>
            {% endif %}
            </li>
          </ul>
        </section>
      </nav>
    </div>

    <div id="content" class="{% block content-classes %}{% endblock %}">

      <div id="info-box" data-url-name="{% current_url_name %}">
        <div class="text">{% block info %}{% endblock %}</div>
        <a href="#" class="close">&times;</a>
      </div>

      {% block content %}{% endblock %}

    </div>
    <div id="sticky-footer-push"></div>
  </div>
  {# End wrapper for content in "sticky footer"-scheme #}

  <footer class="{% block footer-classes %}{% endblock %}">
    {% block fat_footer %}{% endblock %}

    <div class="row">
    {% block footer %}
    <div class="columns footer-left">
      <div class="social-icons">
        <a class="icon-social medium c-twitter red" href="#"></a>
        <a class="icon-social medium c-facebook red" href="#"></a>
        <a class="icon-social medium c-google-plus red" href="#"></a>
        <a class="icon-social medium c-flickr red" href="#"></a>
      </div>
      <div class="row" id="footer-links">
        <div class="large-4 columns">
          <h6>Global Change Lab</h6>

          {% load flatpages %}
          {% get_flatpages as flatpages %}
          {% for page in flatpages %}
          <a class="notice" href="{% url 'django.contrib.flatpages.views.flatpage' page.url %}">{{ page.title }}</a>
          {% endfor %}
        </div>
        <div class="large-4 columns">
          <h6>Training principals</h6>
          <a class="notice" href="#">Who we work with</a>
          <a class="notice" href="#">GP</a>
          <a class="notice" href="#">News</a>
          <a class="notice" href="#">Contact</a>
        </div>
        <div class="large-4 columns">
          <h6>Training extras</h6>
          <a class="notice" href="#">Search for a training</a>
          <a class="notice" href="#">All training</a>
          <a class="notice" href="#">How to apply</a>
          <a class="notice" href="#">Who we are</a>
        </div>
      </div>
    </div>
    <div class="columns footer-images">
      <img id="footer-logo" src="{% static 'images/logo-small-footer.png' %}">
      <img id="footer-guy" src="{% static 'images/footer-peace-guy.png' %}">
    </div>
    {% endblock %}
    </div>
  </footer>

  <script>$(document).foundation();</script>

  {% get_solo 'global_change_lab.SiteConfiguration' as site_config %}
  {{ site_config.analytics_code|safe }}

</body>
</html>
