{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="http://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'global_change_lab/css/app.css' %}" />
  <title>{% block title %}Global Change Lab{% endblock %}</title>
</head>

<body>
  <nav class="top-bar" data-topbar>
    <a href="/" title="Global Change Lab home"><img src="{% static 'images/gcl-logo.png' %}" id="gcl-logo" /></a>
    {# <ul class="title-area"> #}
    {#   <li class="name"> #}
    {#     <h1><a href="/">My Site</a></h1> #}
    {#   </li> #}
    {# </ul> #}

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="/skills">Skills</a></li>
        <li><a href="/skills/trainingbits">Bits</a></li>
        <li><a href="/user/updates">Updates <span class="update-count">6</span></a></li>
      </ul>

      <!-- Right Nav Section -->
      {# <ul class="right"> #}
      {#   <li class="active"><a href="#">Right Nav Button Active</a></li> #}
      {#   <li class="has-dropdown"> #}
      {#     <a href="#">Right Button with Dropdown</a> #}
      {#     <ul class="dropdown"> #}
      {#       <li><a href="#">First link in dropdown</a></li> #}
      {#     </ul> #}
      {#   </li> #}
      {# </ul> #}

    </section>
  </nav>
  <!-- <header> -->
  <!--   {% block header %} -->
  <!--   <ul> -->
  <!--     <li><a href="/">Home</a></li> -->
  <!--     <li><a href="/blog/">Blog</a></li> -->
  <!--   </ul> -->
  <!--   {% endblock %} -->
  <!-- </header> -->
  <div id="content">
      {% block content %}{% endblock %}
  </div>
  <footer>
    {% block footer %}
    <div class="row" id="footer-links">
      <div class="large-4 columns">
        <h6>About Global Change Lab</h6>
        <a href="#">Terms of service</a>
        <a href="#">about us</a>
        <a href="#">read our blog</a>
        <a href="#">Help and support</a>
        <a href="#">Contact</a>
      </div>
      <div class="large-4 columns">
        <h6>Training extras</h6>
        <a href="#">Search for a training</a>
        <a href="#">All training</a>
        <a href="#">How to apply</a>
      </div>
      <div class="large-4 columns">
        <h6>Who we are</h6>
        <a href="#">Training principals</a>
        <a href="#">Who we work with</a>
        <a href="#">GP</a>
        <a href="#">News</a>
        <a href="#">Contact</a>
      </div>
    </div>
    {% endblock %}
  </footer>
</body>
</html>



<!-- <br /> -->
<!--  -->
<!-- <div class="row"> -->
<!--   <div class="large&#45;6 columns"> -->
<!--     <ul data&#45;orbit> -->
<!--       <li><img src="//placehold.it/1200x300"></li> -->
<!--       <li><img src="//placehold.it/1200x300"></li> -->
<!--     </ul> -->
<!--   </div> -->
<!--   <div class="large&#45;6 columns"> -->
<!--     <div data&#45;alert class="alert&#45;box"> -->
<!--       Some content goes here!!!! -->
<!--       <a href="#" class="close">&#38;times;</a> -->
<!--     </div> -->
<!--     <div data&#45;alert class="alert&#45;box success radius"> -->
<!--       Some more content goes here!!!! -->
<!--       <a href="#" class="close">&#38;times;</a> -->
<!--     </div> -->
<!--         <div data&#45;alert class="alert&#45;box alert round"> -->
<!--       Some more content goes here!!!! -->
<!--       <a href="#" class="close">&#38;times;</a> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
<!--  -->
