{% extends "base.html" %}

{% load socialaccount %}

{% block content %}

<div id="login-modal" class="reveal-modal small" data-reveal>
  <div class="row">
    <div class="small-7 columns">
      <h3>Sign up</h3>
      <form method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <label><div>E-mail</div>         <input type="text" name="email" placeholder="example@example.org"></label>
        <label><div>Name</div>           <input type="text" name="username"></label>
        <label><div>Password</div>       <input type="password" name="password1"></label>
        <label><div>Repeat password</div><input type="password" name="password2"></label>
        <div>
          <div class="small-2 checkbox-container"><input type="checkbox" id="terms-checkbox" name="terms"></div>
          <div class="small-10 terms-text"><label for="terms-checkbox">
            <span class="terms">I agree to the Terms of Service and Privacy Policy of The Global Change Lab</span></label>
          </div>
        </div>
        <input type="hidden" name="next" value="{% url 'new_user' %}">
        <button>Sign up</button>
      </form>
    </div>
    <div class="small-5 columns signup">
      <h3>Sign up via...</h3>
      <ul>
        <li><a class="secondary button" href="{% provider_login_url "facebook" %}">Facebook</a></li>
        <li><a class="secondary button" href="{% provider_login_url "twitter" %}">Twitter</a></li>
        <li><a class="secondary button" href="{% provider_login_url "google" %}">Google</a></li>
      </ul>
      {# <a href="{% provider_login_url "openid" openid="https://www.google.com/accounts/o8/id" next="/success/url/" %}">Google</a> #}
    </div>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="front-page-greeter">
  <h2>Change the world</h2><br>
  <h1>Bit by Training Bit</h1>
  <p>The Global Change Lab
  is a training hub for
  global activists</p>
  <a href="{% url 'account_signup' %}"  data-reveal-id="login-modal" class="button join">Join us <span class="icon add-user"></span></a>
</div>
<div class="row" id="front-page-cols">
  <div class="medium-4 columns">
    <h1>Get activist skills</h1>
    <div class="icon large trophy"></div>
    <p>Skills are sets of training bits you need to change the world</p>
    <a href="{% url 'skills:skills_overview' %}" class="button join">See all skills</a>
  </div>
  <div class="medium-4 columns">
    <h1>Do training bits</h1>
    <div class="icon large tools"></div>
    <p>Training bits are small pieces of inspiration, tools or background in activism and social change</p>
    <a href="{% url 'skills:trainingbits_overview' %}" class="button join">See all bits</a>
  </div>
  <div class="medium-4 columns">
    <h1>Share with others</h1>
    <div class="icon large chat"></div>
    <p>Share what you do and learn from other activists</p>
    <a href="{% url 'skills:shares_overview' %}" class="button join">See all shares</a>
  </div>
</div>


{% endblock %}
