{% extends "base.html" %}

{% load staticfiles %}

{% block scripts %}
<script src="{% static 'global_change_lab/js/fileupload.min.js' %}"></script>
{% endblock %}

{% block content %}

<div id="new-user-greeter">
  {% csrf_token %}
  <div class="row">
    <div class="columns medium-5">
      <h1 class="white">Please, provide a few more details about yourself!</h1>
      <p class="bold">
        We would love to get to know you better and it helps us continue to
        build an even better Global Change Lab.
      </p>
      <p>
        We want to give you the opportunity to get the best training in the
        world. To do that we need to get to know you a bit more, so please tell us
        more about yourself. Only your photo, username and description will be
        showed to other users and we will never, ever sell or distribute your
        personal information to third parties. If you want to read more
        <a class="red" href="{% url 'about' %}">about this site</a>
        or to the terms of service please find them
        <a class="red" href="{% url 'terms' %}">here</a>
      </p>
      <p>Thank<!--s--> you ;-)</p>
    </div>
    <div class="columns medium-7">
      {% include 'partials/user_info_form.html'%}
    </div>
  </div>
  <div class="new-user-progress">
    1 <span class="white">2</span> 3
  </div>
</div>

<script>
var $submitButton = $('#submitButton');
$submitButton.addClass('next');
$submitButton.text('Next');
$submitButton.appendTo('.new-user-progress');
</script>


{% endblock %}
