{% extends "base.html" %}

{% load inlinetrans %}

{% block content %}
<div id="new-user-greeter">
  <form method="POST" action="{% url 'new_user_suggestions' %}">
  {% csrf_token %}
  <div class="row" id="topics-select">
    <div class="medium-4 columns">
      <h2 class="white">{% itrans "Choose your topics of interest - and we will suggest some skils and training bits you can begin with." %}</h2>
    </div>
    <div class="medium-8 columns">
      <ul class="topics">
      {% for topic in topics %}
        <li>
          <label>
            <input type="checkbox" name="topic_ids[]" value="{{ topic.id }}">
            <span>{{ topic.name }}</span>
          </label>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>

  <div class="new-user-progress">
    <button id="start-using-gcl" class="button next">{% itrans '3/3 Start using Global Change Lab' %}</button>
  </div>
  </form>
</div>
{% endblock %}
