{% extends "base.html" %}

{% load socialaccount %}
{% load inlinetrans %}

{% block info %}
  <p>
    {% itrans "Welcome!" %}<br>
    {% itrans "Here are some suggestions of skills and training bits you can begin with." %}
  </p>

  <p>
    {% itrans "Skills are sets of selected training bits that help you be an even better activist and just what you need to change the world. You can take the training bits of a skill in any order you'll like but you need to take them all to get the skill." %}
  </p>

  <p>
    {% itrans "Training Bits are just what you need to get to know activism, social change or get event better at campaigning. These small bits of training are divided into inspiration, tools or background to help you set-up your training in your on style." %}
  </p>
{% endblock %}

{% block content %}

<div id="new-user-suggestions">
  <h1>You might start with these <span class="white-on-red">training bits</span></h1>
  <div class="row">
    {% include 'partials/trainingbits_grid.html' %}
    <div class="see-more">
      <a class="button" href="{% url 'skills:trainingbits_overview' %}">See more bits</a>
    </div>
  </div>
  <div>
    <h1>or get going with these <span class="white-on-red">skills</span></h1>
    {% include 'skills/partials/skill_list_large.html' %}
    <div class="see-more">
      <a class="button" href="{% url 'skills:skills_overview' %}">See more skills</a>
    </div>
  </div>
</div>


{% endblock %}
