{% extends "base.html" %}

{% block content %}

<form method="POST" action="{% url 'new_user_details' %}">
<div id="new-user-greeter">
  <div class="row">
    <div class="columns medium-5">
      <h1 class="white">Help us and provide a few details about yourself</h1>
      <p>Why?</p>
      <p>
        By giving us your details we are able to gain finanizing from our
        sponsors. We will not sell or distribute your personal information to
        third parties.
      </p>
      <p>Thank you ;)</p>
    </div>
    <div class="columns medium-7">

      <label>Username
        <input type="text" name="username">
      </label>

      Sex
      <label><input type="radio" value="male"> Male</label>
      <label><input type="radio" value="female"> Female</label>

      <label>Country
        <input type="text" name="country">
      </label>

      <label>Organization
        <input type="text" name="organization">
      </label>

      <label>A short description of yourself
        <textarea name="description"></textarea>
      </label>
    </div>
  </div>
  <div class="new-user-progress">
    <span class="white">1 2</span> 3
    <button class="button next">Next</button>
  </div>
</div>
</form>


{% endblock %}
