{% extends "base.html" %}

{% load staticfiles %}

{% block scripts %}
<script src="{% static 'global_change_lab/js/fileupload.min.js' %}"></script>
{% endblock %}

{% block content %}

<div id="new-user-greeter">
  {% csrf_token %}
  <div class="row">
    <div class="columns medium-5">
      <h1 class="white">Help us and provide a few details about yourself</h1>
      <p>Why?</p>
      <p>
        By giving us your details we are able to gain finanizing from our
        sponsors. We will not sell or distribute your personal information to
        third parties.
      </p>
      <p>Thank you ;)</p>
    </div>
    <div class="columns medium-7">
      {% include 'partials/user_info_form.html'%}
    </div>
  </div>
  <div class="new-user-progress">
    1 <span class="white">2</span> 3
  </div>
</div>

<script>
var $submitButton = $('#submitButton');
$submitButton.addClass('next');
$submitButton.text('Next');
$submitButton.appendTo('.new-user-progress');
</script>


{% endblock %}
