{% extends "base.html" %}

{% load socialaccount %}

{% block scripts %}
<script src="/static/global_change_lab/js/foundation.orbit.min.js"></script>
{% endblock %}

{% block content %}


<div id="new-user-greeter">
  <div class="row">
    <div class="columns medium-5">
      <h1 class="white">Hi {{ request.user.username }},</h1>
      <h1 class="red">Welcome to Global Change Lab!</h1>
    </div>
    <div class="columns medium-7">
      <ul class="carousel" data-orbit
          data-options="slide_number: false; timer: false">
        <li>
          <h2>Skills</h2>
          <p>
            Skill are collections of Training Bit that you should complete in
            Skill are collections of Training Bit that you should complete in
            Skill are collections of Training Bit that you should complete in
            Skill are collections of Training Bit that you should complete in
            order to obtain a certain skill
            order to obtain a certain skill
            order to obtain a certain skill
            order to obtain a certain skill
          </p>
        </li>
        <li>
          <h2>Training Bits</h2>
          <p>
            Training Bit are small bits of action, inspiration and knowledge
            that helps you understand a subject.
          </p>
        </li>
        <li>
          <h2>Sharing is Caring!</h2>
          <p>
            In order to complete a Training Bit you must share your actions or
            thoughts with all of us :)
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row" id="topics-select">
  <div class="medium-4 columns">
    <h1> START BY CHOOSING YOUR TOPICS OF INTEREST </h1>
  </div>
  <div class="medium-8 columns">
    <form method="POST" action="{% url 'new_user_suggestions' %}">
    {% csrf_token %}
    <ul>
    {% for topic in topics %}
      <li><label><input type="checkbox" name="topic_ids[]" value="{{ topic.id }}"> {{ topic.name }}</label></li>
    {% endfor %}
    </ul>
    <button>Start</button>
    </form>
  </div>
</div>


{% endblock %}
