{% extends "base.html" %}

{% load socialaccount %}
{% load inlinetrans %}

{% block info %}
  <p>
    {% itrans "Welcome!" %}<br>
    {% itrans "We just found some skills and bits for you to get started." %}
  </p>

  <p>
    {% itrans "Skills are sets of selected training bits you need to change the world. You can take the training bits in any order you'll like but you need to take them all to get the skill." %}
  </p>

  <p>
    {% itrans "Training bits are small pieces of inspiration, tools or background in activism and social change. Each training bit has something for you to learn, to act upon and to share with other activists. You are free to choose the bits you want and do them in your own pace." %}
  </p>
{% endblock %}

{% block content %}

<div id="new-user-suggestions">
  <h1>You might start with these <span class="white-on-red">training bits</span></h1>
  <div class="row">
    {% include 'partials/trainingbits_grid.html' %}
    <div class="see-more">
      <a class="button" href="{% url 'skills:trainingbits_overview' %}">See more bits</a>
    </div>
  </div>
  <div>
    <h1>or get going with these <span class="white-on-red">skills</span></h1>
    {% include 'skills/partials/skill_list_large.html' %}
    <div class="see-more">
      <a class="button" href="{% url 'skills:skills_overview' %}">See more skills</a>
    </div>
  </div>
</div>


{% endblock %}
