{% extends 'base.html' %}

{% block content %}
<div>
  {% if request.user == some_user %} <a href="{% url 'user_delete' user.id %}" class="button">Delete</a>{% endif%}
</div>
<h1>{{ some_user.username }}</h1>

<dl>
<dt>Name:</dt> <dd>{{ some_user.first_name }} {{ some_user.last_name }}</dd>
<dt>Joined on: </dt><dd>{{ some_user.date_joined }}</dd>
<dt>Last seen: </dt><dd>{{ some_user.last_login }}</dd>
</dl>


{# http://stackoverflow.com/questions/8103584/linking-django-comments-with-django-users #}
{# http://stackoverflow.com/questions/5292723/django-retrieve-all-comments-for-a-user #}

<div id="dashboard">
  <div class="row">
    <div class="large-6 columns">
      <h3>Latest comments</h3>
      {# include 'partials/trainingbits_grid.html' #}
      <div class="list-container">
      {% for item in trainingbits %}
        {% include 'partials/trainer_item.html' with url_name='skills:trainingbit_edit' %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>

<ul>
{% for comment in some_user.comment_comments.all %}
<li>{{ comment.name }}</li>
{% endfor %}
</ul>

<ul>
{% for field in user_fields %}
<li>{{ field }}</li>
{% endfor %}
</ul>
<ul>
{% for field in profile_fields %}
<li>{{ field }}</li>
{% endfor %}
</ul>

{% endblock %}
