{% extends 'base.html' %}
{% load static %}


{% block scripts %}
<script src="{% static 'global_change_lab/js/fileupload.min.js' %}"></script>
{% endblock %}

{% block body-classes %}user-profile{% endblock %}

{% block content %}
<div class="page-buttons">

  {# Upgrade user button (to trainer) #}
  {% if request.user.is_admin %}
    {% if not profile_user.is_trainer and not profile_user.is_admin %}
    <a href="{% url 'user_upgrade_to_trainer' profile_user.id %}" class="button admin-button success">Upgrade to trainer</a>
    {% endif %}
  {% endif %}

  {# Delete user button #}
  {% if request.user.is_admin %}
    <a href="{% url 'user_delete' profile_user.id %}" class="button admin-button hard-delete" data-dynamic="false">Delete user</a>
  {% endif %}

  {# Edit profile user button #}
  {% if request.user == profile_user or request.user.is_admin %}
    <a href="#" class="button" data-reveal-id="edit-modal">Edit profile</a>
  {% endif %}
</div>

<div id="edit-modal" class="reveal-modal small" data-reveal>
  {% include 'partials/user_info_form.html' %}

  <div class="profile-actions">
    {# Delete user button #}
    {% if request.user == profile_user %}
      <a href="{% url 'user_delete' profile_user.id %}" class="notice hard-delete" data-dynamic="false">Delete my profile</a>
    {% endif %}

    {# Delete user button #}
    <a class="notice" href="{% url 'account_change_password' %}?next={% url 'profile' %}">Change password</a>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>



<div class="row" id="profile-bar">
  <div class="profile-picture" style="background-image: url({{ profile_user.getImage }})"></div>
  <h1>{{ profile_user.username }}</h1>
  <span class="country">{{ profile_user.userinfo.country.name }}</span>
  <p class="description">
    {{ profile_user.description }}
  </p>
</div>

{% if own_profile %}
<div>
  <h1>Your progress</h1>
  <hr class="large">

  <div class="columns medium-4 skill-progress">
    <h6 class="progress-small-headline">Skills you are working on</h6><br>

    {# {% for skill, percentage in skills_in_progress_w_percentage %} #}
    {% if skills_in_progress %}
    {% for skill in skills_in_progress %}
    <div class="row">
      <div class="columns medium-6">
        <a href="{{ skill.get_absolute_url }}">
          <h6>{{ skill.name }}</h6>
        </a>
      </div>
      <div class="columns medium-6">
          <div class="progress success round">
            <span class="meter" style="width: {{ skill.percentage }}%"></span>
          </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
      <div class="empty-message">
        You are not working on any skills right now.
        Find a skill that you <a href="{% url 'skills:skills_overview' %}" class="red">want to learn</a>.
      </div>
    {% endif %}
  </div>

  <div class="columns medium-8">
    <h6 class="progress-small-headline">Training Bits you haven't finished yet</h6><br>
    {% if trainingbits_in_progress %}
    {% include 'partials/trainingbits_grid.html' with trainingbits=trainingbits_in_progress extra_classes='medium' hide_description=True hide_part_of=True %}
    {% else %}
      <div class="empty-message">
        You are not working on any training bits right now.<br>
        Find a training bit that you <a href="{% url 'skills:trainingbits_overview' %}" class="red">want to take</a>.
      </div>
    {% endif %}
  </div>
</div>
{% endif %}

{# <hr class="large"> #}
<hr>

<div>
  <h2 class="section-title">Completed skills</h2>
  {% if newest_skills %}
    {% include 'partials/skills_grid.html' with skills=newest_skills non_shown_skill_count=other_skills_count%}
  {% else %}
    <div class="empty-message">
      {% if own_profile %}
      You have not completed any skills yet. How can this be?<br>
      You better <a href="{% url 'skills:skills_overview' %}" class="red">get going</a> ;-)
      {% else %}
      {{ profile_user.username }} has not yet completed any skills.
      {% endif %}
    </div>
    {% endif %}
</div>

<hr>

<h2 class="section-title">Recently shared</h2>
{% if project_list0 %}
{% with hide_user=True %}
<div class="row">
  <div class="gcl-column">
    {% for project in project_list0 %}
      {% include 'skills/partials/project_column.html' %}
    {% endfor %}
  </div>
  <div class="gcl-column">
    {% for project in project_list1 %}
      {% include 'skills/partials/project_column.html' %}
    {% endfor %}
  </div>
  <div class="gcl-column">
    {# {% include 'skills/partials/comment_list_compact.html' with hide_reply=True show_project=True maxchars=200 %} #}
    {% for project in project_list2 %}
      {% include 'skills/partials/project_column.html' %}
    {% endfor %}
  </div>
</div>

  {% if not hide_user %}
    <div class="profile-image"><span class="icon user"></span></div><a href="{% url 'profile' project.author.id %}"class="author">{{ project.author.username }}</a>
  {% endif %}
{% endwith %}
{% else %}
<div class="row">
  <div class="empty-message">
    {% if own_profile %}
    You have not shared any of your work yet.
    You know that sharing is caring, right? And we would love to see your work!
    {% else %}
    {{ profile_user.username }} has not yet shared his or her work.
    {% endif %}
  </div>
</div>
{% endif %}

<!-- User id: {{ profile_user.pk }} -->

{# <dt>Joined on: </dt><dd>{{ profile_user.date_joined }}</dd> #}
{# <dt>Last seen: </dt><dd>{{ profile_user.last_login }}</dd> #}

{# http://stackoverflow.com/questions/8103584/linking-django-comments-with-django-users #}
{# http://stackoverflow.com/questions/5292723/django-retrieve-all-comments-for-a-user #}

{% endblock %}
