{% extends "base.html" %}

{% load staticfiles %}

{% block trainer_dashboard_button %}{% endblock %}
{% block body-classes %} trainer-interface {% endblock %}
{% block scripts %}
  <script src="{% static 'global_change_lab/trainer.min.js' %}"></script>
{% endblock %}


{% block content %}
<div id="trainer-dashboard">
  <h1>Trainer Dashboard</h1>
  <a class="button" href="{% url 'skills:trainingbit_new' %}">Add new training bit</a>
  <a class="button" href="{% url 'skills:skill_new' %}">Add new skill</a>
  <hr>
  <div class="row">
    <div class="large-6 columns">
      {# <div class="headline"> #}
        <h3>Your active training bits</h3><a class="stats-link" href="{% url 'statistics' %}">See statistics <span class="icon line-graph"></span></a>
      {# </div> #}
      {# include 'partials/trainingbits_grid.html' #}
      <div class="list-container">
      {% for item in trainingbits %}
        {% include 'partials/trainer_item.html' with url_name='skills:trainingbit_edit' %}
      {% endfor %}
      </div>
    </div>
    <div class="large-6 columns">
      <h3>Your active skills</h3><a class="stats-link" href="{% url 'statistics' %}">See statistics <span class="icon line-graph"></span></a>
      <div class="list-container">
      {% for item in skills %}
        {% include 'partials/trainer_item.html' with url_name='skills:skill_edit' %}
      {% endfor %}
    </div>
    </div>
  </div>
</div>
{% endblock %}
