{% extends "base.html" %}

{% load staticfiles %}

{% block body-classes %} trainer-interface {% endblock %}
{% block scripts %}
  <link rel="stylesheet" href="{% static 'medium-editor/medium-editor.css' %}">
  <script src="{% static 'global_change_lab/js/trainer.min.js' %}"></script>
{% endblock %}


{% block content %}
<div id="trainer-dashboard">
  <h1>Trainer Dashboard</h1>
  <div class="controls">
    <a class="button" href="{% url 'skills:trainingbit_new' %}">Add new training bit</a>
    <a class="button" href="{% url 'skills:skill_new' %}">Add new skill</a>
    <a class="button" href="#" data-reveal-id="topic-new-modal" data-reveal>Add new topic</a>
    <a class="button" href="#" data-reveal-id="flatpage-new-modal" data-reveal>Add new page</a>
  </div>
  <hr>
  <div class="row">
    <div class="large-6 columns">
      <h3>Your public training bits</h3>
      <div class="list-container">
      {% if trainingbits_public %}
      {% for item in trainingbits_public %}
        {% include 'partials/trainer_item.html' with url_name='skills:trainingbit_edit' %}
      {% endfor %}
      {% else %}
        <div class="empty-message">You have no public training bits</div>
      {% endif %}
      </div>
      <h3>Your training bit drafts</h3>
      <div class="list-container">
      {% if trainingbits_drafts %}
      {% for item in trainingbits_drafts %}
        {% include 'partials/trainer_item.html' with url_name='skills:trainingbit_edit' %}
      {% endfor %}
      {% else %}
        <div class="empty-message">You have no training bit drafts</div>
      {% endif %}
      </div>
    </div>
    <div class="large-6 columns">
      <h3>Your public skills</h3>
      <div class="list-container">
      {% if skills_public %}
      {% for item in skills_public %}
        {% include 'partials/trainer_item.html' with url_name='skills:skill_edit' %}
      {% endfor %}
      {% else %}
        <div class="empty-message">You have no public skills</div>
      {% endif %}
      </div>
      <h3>Your skill drafts</h3>
      <div class="list-container">
      {% if skills_drafts %}
      {% for item in skills_drafts %}
        {% include 'partials/trainer_item.html' with url_name='skills:skill_edit' %}
      {% endfor %}
      {% else %}
        <div class="empty-message">You have no skill drafts</div>
      {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
    <h3>Topics</h3>
      <div class="list-container">
        {% if topics %}
        <ul id="topic-list" class="topic-list">
        {% for topic in topics %}
          <li class="gcl-object">{{ topic.name }} <a href="{% url 'skills:topic_delete' topic.pk %}" class="delete hard-delete delete-topic" data-id="{{ topic.pk }}">&#215;</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <div class="empty-message">You have no topics</div>
        {% endif %}
      </div>
    </div>
    <div class="medium-6 columns">
    <h3>Pages</h3>
      <div class="list-container">
        {% if flatpages %}
        <ul id="flatpage-list" class="flatpage-list">
        {% for flatpage in flatpages %}
          <li><a href="{{ flatpage.get_absolute_url }}">{{ flatpage.title }}</a> <a href="{% url 'admin:global_change_lab_gclflatpage_change' flatpage.pk %}" class="button" data-id="{{ flatpage.pk }}">Edit</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <div class="empty-message">You have no pages.</div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h3>Statistics</h3><br>
      <a class="stats-link red" href="{% url 'statistics' %}">See statistics <i class="icon-chart-line"></i></a>
    </div>
  </div>
</div>

<div id="topic-new-modal" class="reveal-modal small" data-reveal>
  <form method="POST" id="topic-new-form" action="{% url 'skills:topic_new' %}">
    {% csrf_token %}
    <h3>Add a new topic</h3>
      <div id="topic-list">
        <input class="search" type="text" name="name" placeholder="Name your topic">
        <div class="container">
          {% comment %}
          {% if topics %}
          <strong>Similar topics</strong>
          <ul class="list">
          {% for topic in topics %}
            <li>
              <span class="name">{{ topic.name }}</span>
            </li>
          {% endfor %}
          </ul>
          <script>
          $(document).ready(function() {
            var options = {
              valueNames: ['name']
            };
            var topicsList = new List('topic-list', options);
          });
          </script>
          {% endif %}
          {% endcomment %}
        </div>
      </div>
      <div id="topic-new-errors">
        <ul></ul>
      </div>

    <button>Add topic</button>

  </form>

  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="flatpage-new-modal" class="reveal-modal small" data-reveal>
  <form method="POST" id="flatpage-new-form" action="{% url 'page_new' %}">
    {% csrf_token %}
    <h3>Page title</h3>
    <input type="text" name="title" placeholder"Page Title">

    <h3>Page content</h3>
    <div>
    <textarea name="content" id="content-editor-textarea" rows="10" cols="80" placeholder="Write the page content here"></textarea>
    {# The script below is pretty much a copy of #}
    {# @pixeline's comment this on GitHub isse (https://github.com/daviferreira/medium-editor/issues/103) #}
    <script>
      var $this = $('#content-editor-textarea');
      var styles = $this.attr('style');
      if (typeof styles != 'undefined') {
          styles = ' style="' + styles + '"';
      }

      $this.wrap('<div class="editable-wrapper"/>');
      var $w = $this.parent();
      $w.prepend('<div id="content-medium-editor" class="editable" ' + styles + ' data-placeholder="'+$this.attr('placeholder')+'">' + $this.val()+'</div>');
      $this.hide();
      var editor = new MediumEditor('.editable', {
        anchorInputPlaceholder: 'Type a link',
        placeholder: 'Type your text here',
        buttons: ['bold', 'italic', 'header1', 'header2', 'orderedlist', 'unorderedlist'],
        diffLeft: 0,
        diffTop: -10,
        firstHeader: 'h1',
        secondHeader: 'h2',
        delay: 300,
        targetBlank: true
      });
      $('#flatpage-new-form').submit(function(){
        $(this).find('textarea').val($('#content-medium-editor').html());
      });

    </script>
    </div>

    <button>Add page</button>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>

<script>
$(document).ready(function() {
  var $form = $('#topic-new-form');
  var $modal = $('#topic-new-modal');

  var submitForm = $.throttle(1000, function() {
    console.log('submitting');
    $('#topic-new-errors').append('Sending...');
    $form.ajaxSubmit({
      error: function(response) {
        console.log(response);
        var j = JSON.parse(response.responseText);
        console.log(j);
        $('#topic-new-errors ul').html('');
        $('#topic-new-errors ul').append('<h3>Failed to add topic</h3>');
        for (name in j) {
          var $li = $('<li />').html('<strong>' + name + '</strong>:' + j[name]);
          $('#topic-new-errors ul').append($li);
        }
      },
      success: function(topic) {
        console.log(topic);
        {# $('#project-form').clearForm(); #}
        sendMessage('Successfully added topic');
        $('#topic-list').append('<li class="gcl-object">' + topic.name + '<a href="' + topic.deleteURL + '" class="delete delete-topic">&#215;</a></li>');

        $modal.foundation('reveal', 'close');
      },
    });

  });

  $form.submit(function(e) {
    e.preventDefault();
    e.stopPropagation();

    console.log('submit event');
    submitForm();
  });

  $modal.on('closed', function () {
    $('#topic-new-errors ul').html('');
  });

});
</script>

{% endblock %}

{% block fat_footer %}
{% include 'partials/fat_footer.html' %}
{% endblock %}
