<html>
  <head>
  </head>
  <body>
{% load account %}
{% load i18n %}

{% user_display user as user_display %}
{% autoescape off %}
{% blocktrans with current_site.name as site_name %}
<p>
Hi {{ user_display }} and welcome to Global Change Lab<br>
<br>
Please, confirm your profile by clicking on this link:
</p>
<a href="{{ activate_url }}">{{ activate_url }}</a>
<br>
<br>
... and get ready to get the most out of Global Change Lab<br>
<br>
<h4>Get activist skills</h4>
</p>
Skills are sets of training bits you need to change the world.
<a href="http://www.globalchangelab.org/skills">Check out</a> what
skills you can begin with already today.
</p>


<h4>Do Training Bits</h4>
<p>
Training bits are small pieces of inspiration, tools or background in activism
and social change.
<a href="http://www.globalchangelab.org/trainingbits">Get going</a> with a bit right away
</p>

<h4>Share with others</h4>
<p>
When you complete training bits you need to take some
action. Share what you do or <a href="http://www.globalchangelab.org/shares">learn from other activists</a>.
</p>

<br>
<p>
To learn more about Global Change Lab, visit our
<a href="http://www.globalchangelab.org/pages/about-global-change-lab">About Page</a>
</p>
<br>

<p>
Enjoy your bits and feel free to
<a href="http://www.globalchangelab.org/pages/contact">contact us</a>.<br>
Train the world! Change the world!<br>
The Global Change Lab
</p>
{% endblocktrans %}
{% endautoescape %}
  </body>
</html>
