<html>
  <head>
  </head>
  <body>
{% load i18n %}
{% blocktrans with site.domain as site_domain and user.username as username %}
<p>
Hello!<br>
You're receiving this e-mail because you or someone else has requested a
password for your Global Change Lab user account.
</p>

<p>
Click the link below to reset your password:<br>
{{password_reset_url}}
</p>

<p>
It can be safely ignored if you did not request a password reset.
</p>

<p>
In case you forgot, your username is {{ username }}.
</p>

<p>
Thanks for using Global Change Lab!<br>
The Global Change Lab.
</p>
{% endblocktrans %}
  </body>
</html>
