{% load gcl_utils %}
{% load permissionif %}

<div class="comment-compact gcl-object" style="margin-left:{{ comment.level }}rem;" id="comment-{{comment.id}}">

    {% if comment.is_deleted %}
    <span class="icon block"></span>
    {% else %}
    {% if maxchars %}
    <p class="content">{{ comment.text|truncatechars:maxchars }}</p>
    {% else %}
    <p class="content">{{ comment.text }}</p>
    {% endif %}
    {% endif %}

  <div class="metadata-fat">
    <div class="triangle"></div>
    <div class="text">
      <div class="profile-picture" style="background-image: url({{ comment.author.getImage }})"></div>
      comment by 
      <a href="{% url 'profile' comment.author.id %}" title="{{ comment.author.username }}">
          {{ comment.author.username|truncatechars:15 }}
      </a>
      {% if indented %}
        <br>
      {% endif %}
      {{ comment.created_at|pretty_timesince }}
      {% if not indented %}
        <br>
        {% if show_project %}
        on <a href="{{ comment.project.get_absolute_url }}">{{ comment.project.name|truncatechars:30 }}</a>
        {% endif %}
      {% endif %}
    </div>
  </div>

    {% comment %}
    <div class="moderation">
      {# Delete comment button #}
      {% permission request.user has 'skills.delete_comment' of comment %}
      <a href="{% url 'skills:comment_delete' comment.id %}" class="alert soft-delete" data-dropdown="comment-delete-dropdown-{{comment.id}}">Delete</a>
      {% endpermission %}

      {# Flag comment button #}
      {% comment %}
      {#<a href="{% url 'comments-flag' comment.id %}" class="flag" data-dropdown="comment-flag-dropdown-{{comment.id}}">Flag comment</a>#}
      <div id="comment-flag-dropdown-{{comment.id}}" class="f-dropdown" data-dropdown-content>
        <h6>Really flag this comment?</h6>
        {#<form action="{% url 'comments-flag' comment.id %}" method="post">{% csrf_token %}#}
          {% if next %}<div><input type="hidden" name="next" value="{{ next }}" id="next" /></div>{% endif %}
          <p class="submit">
            <input type="submit" name="submit" class="button" value="Flag" />
            <a href="{{ comment.get_absolute_url }}" class="button close info">cancel</a>
          </p>
        </form>
      </div>
      {#{% endcomment %}#}
    </div>
    {% endcomment %}
</div>
