{% if user.is_authenticated %}
<a class="button small {% if user_like %}unlike{% else %}like{% endif %}"
    href="{% url 'skills:like' %}"
    data-csrf_token="{{ csrf_token }}"
    data-object_id="{{ object.pk }}"
    data-content_type="{{ content_type.pk }}">
  {% if user_like %}
    Unlike
  {% else %}
  <span class="icon heart"></span>Like
  {% endif %}
</a>
{% else %}
<a class="button small like signup" href="{% url 'account_login' %}">
  <span class="icon heart"></span>Sign in to like
</a>
{% endif %}
