{% load gcl_utils %}
{% load embed_video_tags %}

      <div class="project project-column">
        {% if not hide_links %}<a href="{{ project.get_absolute_url }}">{% endif %}
          <h6 class="project-title">{{ project.name|truncatechars:35 }}</h6>
        {% if not hide_links %}</a>{% endif %}

        {% if project.image %}
        <ul class="clearing-thumbs" data-clearing>
          <li><a href="{{ project.image.url }}"><img class="project-image" data-caption="{{ project.name }}" src="{{ project.image.url }}"></a></li>
        </ul>
        {% endif %}


        <div class="content">
          <p>{{ project.content|truncatechars:300 }}</p>
        </div>


        {% if project.link %}
        <a href="{{ project.link }}">Hello</a>
        {% endif %}

        {% if project.video %}
          {% video project.video %}
        {% endif %}

        <div class="metadata-fat">
          <div class="profile-picture" style="background-image: url({{ project.author.getImage }})"></div>
          <div class="text">
            <span>{{ project.created_at|pretty_timesince }}</span>
            by
            <a href="{% url 'profile' project.author.pk %}">{{ project.author.username }}</a><br>
            in
            <a href="{{ project.trainingbit.get_absolute_url }}">{{ project.trainingbit.name|truncatechars:25 }}</a>
          </div>
          <div class="icons">
            <span class="icon heart red"></span> {{ project.likes.count }}
            <span class="icon chat red"></span> {{ project.comment_set.count }}
          </div>
        </div>
      </div>
