{% load staticfiles %}
<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2 xlarge-block-grid-3 skill-list-view">
  {% for skill in skills %}
  <li class="row">
    <div class="skill-icon small-2 columns">
      {% if skill in request.user.skills_completed.all %}
      <img src="{% static 'images/skill-flag-red.png' %}" alt="Skill image">
      {% else %}
      <img src="{% static 'images/skill-flag-gray.png' %}" alt="Skill image">
      {% endif %}
    </div>
    <div class="description small-10 columns">
      <a href="{% url 'skills:skill_view' skill.id %}"><h2>{{skill.name}}</h2></a>
      <p>{{skill.description|truncatechars:170}}</p>
      <div class="info">
        <span class="trainingbit-count">{{ skill.trainingbits.count }} Training Bits</span>
        <hr>
        <span class="icon small heart red"></span> {{ skill.likes.count }}
        <span class="icon small users red"></span> {{ skill.users_completed.count }}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
