{% load staticfiles %}

<div class="skill-list-small">
{% for skill in skills %}
  <a href="{{ skill.get_absolute_url }}">
  <div class="row">
    <div class="image-column">
      {% if skill in request.user.skills_completed.all %}
      <img src="{% static 'images/skill-flag-red.png' %}" alt="Skill image">
      {% else %}
      <img src="{% static 'images/skill-flag-gray.png' %}" alt="Skill image">
      {% endif %}
    </div>
    <div class="name-column"><h3 class="skill-name">{{skill.name}}</h3></div>
  </div>
  </a>
  {# <p>{{skill.description}}</p> #}
  {% endfor %}
  {% if non_shown_skill_count %}
  <div class="count">and {{ non_shown_skill_count }} other skill(s)</div>
  {% endif %}
</div>
