{% load staticfiles %}
{% load i18n %}
{% load user_skills %}
<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2 xlarge-block-grid-3 skill-list-view">
  {% for skill in skills %}
  <li class="row">
    <div class="skill-icon"> <!-- small-2 columns"> -->
      <img src="{% skill_user_flag_image skill request.user %}" alt="Skill image">
    </div>
    <div class="description"> <!--  small-10 columns"> -->
      <a href="{{ skill.get_absolute_url }}"><h2>{{skill.name}}</h2></a>
      <p>{{skill.description|truncatechars:170}}</p>
      <div class="info">
        <span class="trainingbit-count">{{ skill.trainingbit_count }} Training Bits</span>
        <hr>
        <div class="tooltip" data-tooltip="{% trans 'Number of likes this skill has' %}"><i class="icon-heart small red"></i> {{ skill.likes.count }}</div>
        <div class="tooltip" data-tooltip="{% trans 'Number of users taking this skill right now' %}"><i class="icon-users small red"></i> {{ skill.users_in_progress.count }}</div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
