{% load staticfiles %}
{% load user_skills %}

<div class="skill-list-small">
{% for skill in skills %}
  <a href="{{ skill.get_absolute_url }}">
  <div class="row">
    <div class="image-column">
      <img src="{% skill_user_flag_image skill request.user %}" alt="Skill image">
    </div>
    <div class="name-column"><h3 class="skill-name">{{skill.name}}</h3></div>
  </div>
  </a>
  {# <p>{{skill.description}}</p> #}
  {% endfor %}
  {% if non_shown_skill_count %}
  <div class="count">and {{ non_shown_skill_count }} other skill(s)</div>
  {% endif %}
</div>
