{# Content of the "completed trainingbit" modal on the `trainingbit_view` page #}
<h3>Awesome, you have completed</h3> <h2 class="trainingbit-title">{{ trainingbit.name }}</h2><h3>!</h3>
<p>Checkout these other training bits that may be of interest</p>
{% if suggested_trainingbits %}
  <div style="width: 30rem; margin-left: auto; margin-right: auto;">
  {% include 'partials/trainingbits_grid.html' with trainingbits=suggested_trainingbits hide_part_of=True extra_classes='medium' %}
  </div>
{% else %}
  <p>Sorry! We have no suggestions for you at the moment.
  Maybe you have already completed all Training Bits?</p>
{% endif %}
{% if completed_skills %}
  <h4>Congratulations with completing this|these skill(s):
  <div style="width: 30rem; margin-left: auto; margin-right: auto;">
  {% include 'skills/partials/skill_list_small.html' with skills=completed_skills hide_part_of=True extra_classes='medium' %}
  </div>
{% endif %}
<a class="close-reveal-modal">&#215;</a>
<script>
</script>
