{% load staticfiles %}
{% load gcl_utils %}
{% load i18n %}
{% load inlinetrans %}

{# Content of the "completed trainingbit" modal on the `trainingbit_view` page #}
<h3>{% itrans 'Well done! You have completed' %}</h3> <h2 class="trainingbit-title">{{ trainingbit.name }}</h2>

{% if completed_skills %}
  {# {{ completed_skills_names|listify:3 }} #}
  <h3> and the skill of 
  {% for skill in completed_skills %}
    {% if forloop.last and forlopp.revcounter != 0 %} and {% endif %}
    {% if not forloop.last and not forloop.first %}, {% endif %}

    {# {% if skill in request.user.skills_completed.all %} #}
    <img class="skill-flag" src="{% static 'images/skill-flag-red.png' %}" alt="Skill image">
    {# {% else %} #}
    {# <img class="skill-flag" src="{% static 'images/skill-flag-gray.png' %}" alt="Skill image"> #}
    {# {% endif %} #}

    {{ skill.name }}
  {% endfor %}
  </h3>
{% endif %}
<h3>!</h3>


{% if suggested_trainingbits %}
{% url 'profile' as profile_url %}
<p>{% blocktrans %}You want to do another training bit? We found these for you. You can also go to <a class="red" href="{{ profile_url }}">your profile</a> to see your current progress.{% endblocktrans %}</p>
<div style="width: 100%; margin-left: auto; margin-right: auto;">
  {% include 'partials/trainingbits_grid.html' with trainingbits=suggested_trainingbits hide_part_of=True extra_classes='medium' %}
</div>
{% else %}
<p>
  {% itrans 'Sorry! We have no suggestions for you at the moment. Maybe you have already completed all Training Bits?' %}
</p>
{% endif %}

{% comment %}
<p>
  You can go to your <a href="{% url 'profile' %}">profile</a> to see your current progress.
</p>
{% endcomment %}


{% comment %}
{% if completed_skills %}
  <h4>Congratulations with completing this|these skill(s):
  <div style="width: 100%; margin-left: auto; margin-right: auto;">
  {% include 'skills/partials/skill_list_small.html' with skills=completed_skills hide_part_of=True extra_classes='medium' %}
  </div>
{% endif %}
{% endcomment %}

<a class="close-reveal-modal">&#215;</a>
